utilidades/scraping/scrappeador-de-emails-google-maps-Averis/workflow.json
{
  "createdAt": "2025-04-23T20:53:48.289Z",
  "updatedAt": "2025-04-29T13:33:52.761Z",
  "id": "peEbcWNTV6FfjPVW",
  "name": "Scrappeador de Emails Google Maps",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = [];\n\nfor (const item of allItems) {\n  const data = item.json.data;\n  const regex = /https?:\\/\\/[^\\/]+/g;\n  const urls = data.match(regex) || [];\n\n  for (const url of urls) {\n    results.push({ json: { pagina_web: url } });\n  }\n}\n\nreturn results;"
      },
      "id": "df372ed8-08df-4bfb-88d2-4e5e14ac046a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ecfbe72-c09a-482e-8f81-43d9e7bb2917",
              "leftValue": "={{ $json.pagina_web }}",
              "rightValue": "(google|gstatic|ggpht|schema|example|wa)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3d65895-fa7f-47e1-a9b4-8086dff4678a",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -420,
        220
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "pagina_web",
        "options": {}
      },
      "id": "3fea90fc-e2d9-4a5c-ba8a-6c777ffcbced",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -200,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.pagina_web }}",
        "options": {}
      },
      "id": "475ee68a-1529-4118-b01e-7ee6eadbf1e6",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5362054f-cfbe-4f07-ada4-c32407c6b5f1",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data;\n\n// Expresión regular para capturar emails válidos (excluyendo extensiones de imagen)\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg|webp)[a-zA-Z]{2,}/g;\n\n// Extraer los emails\nlet emails = data.match(emailRegex) || [];\n\n// Lista de dominios y patrones que queremos excluir\nconst exclusionPatterns = [\n  /@sentry(\\.|\\-next\\.)?wixpress\\.com$/,\n  /@sentry\\.io$/,\n  /@sentry\\.dev\\.apps\\.qdqmedia\\.com$/,\n  /^.*@.*\\.(png|jpg|jpeg|webp)$/i\n];\n\n// Filtrar los emails que coincidan con alguno de los patrones de exclusión\nemails = emails.filter(email => !exclusionPatterns.some(pattern => pattern.test(email)));\n\nconsole.log(emails);\n\nreturn { json: { emails: emails } };\n"
      },
      "id": "6c2cc903-dea9-4939-a124-78ebfbdb87ec",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "08cd1364-19a1-4f52-9163-b1e2693d7a9a",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.output.busqueda }}",
        "options": {}
      },
      "id": "4be3c196-88c1-437a-8dd0-1e9de62886a5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        220
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "1b6391a0-8fde-4bf8-930b-b48fcc9e3fc7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        460,
        120
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "258dc47c-bbe4-47af-b22e-6090bc4fad43",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        680,
        120
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "emails",
        "options": {}
      },
      "id": "75d84ac7-025f-4f21-bea9-95d458c86491",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        900,
        120
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Averis - Scrapeador de negocios en Google Maps ",
        "formDescription": "Elige un nicho y una zona para conseguir emails de negocios.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "¿En que tipo de negocio estás interesado? Elige 1 solo",
              "placeholder": "Dentista, abogado, pizzeria, restaurante..."
            },
            {
              "fieldLabel": "¿En que ubicación? Elige 1",
              "placeholder": "Barcelona, Madrid..."
            },
            {
              "fieldLabel": "Correo electronico",
              "fieldType": "email"
            }
          ]
        },
        "options": {
          "buttonLabel": "Scrapear!!!",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1680,
        160
      ],
      "id": "a4f14a8f-eb05-4dec-94f7-e3b708d85289",
      "name": "On form submission",
      "webhookId": "4fdde290-52f4-4923-b373-9593ead41291"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dame una lista de 10 terminos de busqueda para la palabra clave \"{{ $json['¿En que tipo de negocio estás interesado? Elige 1 solo'] }}\" para 10 subareas o bariios de {{ $json['¿En que ubicación? Elige 1'] }}. La salida debe de seguir la siguiente estructura JSON:\n\n{\n\"busqueda\": \"tipo+de+negocio+barrio+ciudad\"\n}\n\nEjemplo:\n\n{\n\"busqueda\": \"restaurante+italiano+las+rozas+madrid\"\n}\n\nImportante: Siempre tiene que haber un simbolo de más (+) entra cada palabra. Responde solo con el JSON",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Actua como un experto en generación de texto estructurado."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1460,
        160
      ],
      "id": "5715e1c0-06f1-4fb9-a927-d29724300948",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Lista de búsquedas geolocalizadas\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"output\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"busqueda\": {\n            \"type\": \"string\",\n            \"description\": \"Términos de búsqueda codificados con '+' para Google Maps\",\n            \"example\": \"chueca+madrid+restaurante+hindu\"\n          }\n        },\n        \"required\": [\"busqueda\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"required\": [\"output\"],\n    \"additionalProperties\": false\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1220,
        380
      ],
      "id": "7f00a548-4e79-4579-a950-4c7f1d4000a1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        380
      ],
      "id": "e6f9a99f-a1cd-4fbd-9879-a699be9b2a89",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1080,
        160
      ],
      "id": "178027c5-d617-4555-b323-70219f11b6bd",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1hVyuPsJe4qh80zQSYet1DPTTa-opNVvnXKEJFJxrcoM",
          "mode": "list",
          "cachedResultName": "Emails scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hVyuPsJe4qh80zQSYet1DPTTa-opNVvnXKEJFJxrcoM/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          },
          "fileName": "=Scraping -  {{ $('On form submission').first().json['¿En que tipo de negocio estás interesado? Elige 1 solo'] }}, {{ $('On form submission').first().json['¿En que ubicación? Elige 1'] }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        200
      ],
      "id": "1fb683fb-7d0b-4527-bce3-4deab673e982",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CmyDLQoxYdr0aKik",
          "name": "Google Daniel Averis"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').first().json.Email }}",
        "subject": "=Scraping emails {{ $('On form submission').first().json['¿En que tipo de negocio estás interesado? Elige 1 solo'] }} - {{ $('On form submission').first().json['¿En que ubicación? Elige 1'] }}",
        "message": "=Hola! Adjunto encontraras el listado de emails.\n\nUn saludo,",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1780,
        200
      ],
      "id": "19466a73-015b-4aaf-9831-bb343e2c44cb",
      "name": "Gmail",
      "webhookId": "58979d8b-f625-49ab-9883-dc37e1800e6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "BwWjplhZQVpEPVPV",
          "name": "Gmail daniel@averis.es"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "id": "cfebfe83-c747-4171-aa6f-73f7a2471ecb",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk",
          "mode": "list",
          "cachedResultName": "Emails Scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Emails": "={{ $json.emails }}"
          },
          "matchingColumns": [
            "Emails"
          ],
          "schema": [
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        200
      ],
      "id": "660e7068-edce-492f-a652-bac3b96ea163",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk",
          "mode": "list",
          "cachedResultName": "Emails Scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrgXQD_fVD1LGdvVRIfNDC77OsTy9sBDssgC2scdVuk/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        200
      ],
      "id": "6e6db210-9fe0-4f09-b1da-0cdac41433f2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extraer Website Google Maps + Limpieza",
        "height": 300,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        120
      ],
      "id": "e0714f35-2fa5-4463-97ff-2e0422ba22fe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extraer Info de Website + Limpieza (Obtener emails)",
        "height": 540,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "53fb1a15-b365-41f1-9b2a-2ecc489f5eeb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Subir datos y enviar info",
        "height": 340,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "id": "96580d1a-cd61-4af6-aa03-5e530a8646d9",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "¿En que tipo de negocio estás interesado? Elige 1 solo": "Abogados",
          "¿En que ubicación? Elige 1": "Barcelona",
          "Email": "angel.aparicio92@gmail.com",
          "submittedAt": "2025-04-09T19:07:34.546-03:00",
          "formMode": "production"
        }
      }
    ]
  },
  "versionId": "bb4acf1a-ae6d-452c-b887-98773e50ff76",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-23T20:54:02.682Z",
      "updatedAt": "2025-04-23T20:54:02.682Z",
      "id": "sPdc51YFSDyYeZsT",
      "name": "Averis"
    },
    {
      "createdAt": "2025-04-23T20:54:50.300Z",
      "updatedAt": "2025-04-23T20:54:50.300Z",
      "id": "U26zDVSuTTuidBRn",
      "name": "Scrapping"
    }
  ]
}