marketing/contenido/creador-de-leadmagnets-Content/workflow.json
{
  "createdAt": "2025-05-14T21:03:30.731Z",
  "updatedAt": "2025-05-14T21:03:41.015Z",
  "id": "TdknZqjkD63QeCDC",
  "name": "Creador de leadmagnets",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -40
      ],
      "id": "06791a0e-8c20-4e3b-a7a6-431e61131100",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e014bbba-31dc-49d6-8609-79de709328e8",
              "name": "Title",
              "value": "={{ $node[\"Get Airtable\"].json.Title }}",
              "type": "string"
            },
            {
              "id": "addce953-7225-43a4-b153-78f4ff08ce32",
              "name": "Website",
              "value": "={{ $node[\"Get Airtable\"].json.Website }}",
              "type": "string"
            },
            {
              "id": "e88a4fc6-7ddd-43c6-8c15-b20d24814428",
              "name": "Services",
              "value": "={{ $node[\"Get Airtable\"].json.Offer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        100
      ],
      "id": "b87bb90d-ac07-4bca-b575-f3ba34704677",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "name": "Perplexity_Leads_Research",
        "description": "=Call this tool to analyze information for the lead magnet. Send exact query for Perplexity to Research on.",
        "workflowId": {
          "__rl": true,
          "value": "Ln8WrMBuWvfa9WiZ",
          "mode": "list",
          "cachedResultName": "Perplexity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1020,
        320
      ],
      "id": "a5a0b14d-eb59-4963-a1fd-ff2c04aca99b",
      "name": "Perplexity"
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        120,
        720
      ],
      "id": "d0376660-ccf1-47f6-bbd9-c6a58a889de4",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a lead magnet generator. Your task is to give free value and generate a lead magnet to our prospect: {{ $node[\"Edit Fields\"].json.Title }}. However, in the lead magnet there should be a slight mention of our own services: {{ $node[\"Edit Fields\"].json.Services }}.\nThat means you shouldn't just create a valuable content around our prospect ({{ $node[\"Edit Fields\"].json.Title }}), but our services ({{ $node[\"Edit Fields\"].json.Services }}) as well. KEEP IN MIND THAT {{ $node[\"Edit Fields\"].json.Title }} is our potential client! And we are a company that is providing a {{ $node[\"Edit Fields\"].json.Services }} service, so we are totally different entities. You should write from our perspective ({{ $node[\"Edit Fields\"].json.Services }}).\n\nThe outline for the content: {{ $node[\"Outline Creator\"].json.text }}\n\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\nYou are a Content Generator specialized in transforming presentation outlines into formatted JSON content that perfectly matches HTML template requirements.\n\n# Task\nConvert a provided presentation outline into structured JSON format with exact key-value pairs that correspond to HTML template placeholders. Each key should match a template placeholder name, and each value should be compelling, value-rich content based on the outline.\n\n# Input Data\nYou will receive:\n1. A detailed outline for a 7-section lead magnet presentation\n2. The naming convention for template placeholders (format: AI_SECTION_ELEMENT)\n3. Any additional context about the topic, audience, or purpose\n\n# Process\n1. Parse the outline to understand the content direction for each section\n2. Identify all required template placeholders from the outline\n3. Generate appropriate content for each placeholder based on outline guidance\n4. Format all content into a clean, properly structured JSON object\n\n# Output Format\nProvide a single JSON object containing all content elements with no additional commentary:\n\n```json\n{\n  \"AI_LEAD_MAGNET_TITLE\": \"Main title of the lead magnet\",\n  \"AI_COVER_TITLE\": \"Primary headline from outline\",\n  \"AI_COVER_SUBTITLE\": \"Supporting statement from outline\",\n  \n  \"AI_PROBLEM_TITLE\": \"Problem section title from outline\",\n  \"AI_PROBLEM_PARAGRAPH_1\": \"First problem paragraph expanded from outline points\",\n  \"AI_PROBLEM_PARAGRAPH_2\": \"Second problem paragraph expanded from outline points\",\n  \"AI_PROBLEM_HIGHLIGHT_TITLE\": \"Title for highlighted problem box\",\n  \"AI_PROBLEM_HIGHLIGHT_CONTENT\": \"Content for highlighted problem box\",\n  \n  \"AI_SOLUTION_TITLE\": \"Solution section title from outline\",\n  \"AI_SOLUTION_PARAGRAPH\": \"Solution overview paragraph expanded from outline\",\n  \"AI_SOLUTION_POINT_1_TITLE\": \"First solution point title\",\n  \"AI_SOLUTION_POINT_1_CONTENT\": \"First solution point description\",\n  \"AI_SOLUTION_POINT_2_TITLE\": \"Second solution point title\",\n  \"AI_SOLUTION_POINT_2_CONTENT\": \"Second solution point description\",\n  \"AI_SOLUTION_POINT_3_TITLE\": \"Third solution point title\",\n  \"AI_SOLUTION_POINT_3_CONTENT\": \"Third solution point description\",\n  \n  \"AI_RESEARCH_TITLE\": \"Research section title from outline\",\n  \"AI_RESEARCH_LEFT_COLUMN_TITLE\": \"Left column heading\",\n  \"AI_RESEARCH_LEFT_COLUMN_CONTENT\": \"Left column content expanded from outline\",\n  \"AI_RESEARCH_INFO_BOX_TITLE\": \"Info box heading\",\n  \"AI_RESEARCH_INFO_BOX_CONTENT\": \"Info box content based on key statistic or insight\",\n  \"AI_RESEARCH_RIGHT_COLUMN_TITLE\": \"Right column heading\",\n  \"AI_RESEARCH_RIGHT_COLUMN_CONTENT\": \"Right column content expanded from outline\",\n  \n  \"AI_COMMON_PROBLEMS_TITLE\": \"Common problems section title from outline\",\n  \"AI_COMMON_PROBLEMS_INTRO\": \"Introduction paragraph for common problems\",\n  \"AI_PROBLEM_1_TITLE\": \"First specific problem title\",\n  \"AI_PROBLEM_1_CONTENT\": \"First specific problem explanation\",\n  \"AI_PROBLEM_2_TITLE\": \"Second specific problem title\",\n  \"AI_PROBLEM_2_CONTENT\": \"Second specific problem explanation\",\n  \"AI_PROBLEM_3_TITLE\": \"Third specific problem title\",\n  \"AI_PROBLEM_3_CONTENT\": \"Third specific problem explanation\",\n  \n  \"AI_STEPS_TITLE\": \"Actionable steps section title from outline\",\n  \"AI_STEP_1_TITLE\": \"First step title\",\n  \"AI_STEP_1_CONTENT\": \"First step explanation\",\n  \"AI_STEP_2_TITLE\": \"Second step title\",\n  \"AI_STEP_2_CONTENT\": \"Second step explanation\",\n  \"AI_STEP_3_TITLE\": \"Third step title\",\n  \"AI_STEP_3_CONTENT\": \"Third step explanation\",\n  \"AI_STEPS_SUCCESS_BOX_TITLE\": \"Success box title\",\n  \"AI_STEPS_SUCCESS_BOX_CONTENT\": \"Success box content\",\n  \n  \"AI_CTA_TITLE\": \"Call to action title from outline\",\n  \"AI_CTA_DESCRIPTION\": \"Call to action description\",\n  \"AI_CTA_BUTTON_TEXT\": \"Button text\",\n  \"AI_CTA_LINK\": \"#\" \n}\n```\n\n# Guidelines\n- Generate content that directly corresponds to each placeholder name\n- Follow the logical flow established in the outline\n- Create substantive, value-focused content for each element- Ensure all benefit claims are backed by the outline's research points\n- Keep paragraph content concise and scannable (2-4 sentences per paragraph)\n- Include only the JSON output with no additional explanation or commentary\n- Ensure proper JSON formatting with correct quotes, commas, and braces"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        160,
        460
      ],
      "id": "13a46518-cf62-4148-bc8e-0003f2e9dbb6",
      "name": "Lead Magnet Creator"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.Website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        100
      ],
      "id": "da33905a-fd31-4a65-bedb-5f2e263cc060",
      "name": "Website Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "[api-key]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"html\": \"{{ $json.html.replace(/\\\\(?![\"\\\\/bfnrt])/g, \"\\\\\\\\\").replace(/\"/g, '\\\\\"').replace(/\\n/g, \"\\\\n\").replace(/\\r/g, \"\\\\r\").replace(/\\t/g, \"\\\\t\").replace(/\\f/g, \"\\\\f\") }}\",\n    \"name\": \"{{$node[\"Edit Fields\"].json.Title}}.pdf\",\n    \"paperSize\": \"A4\",\n    \"orientation\": \"Landscape\",\n    \"printBackground\": true,\n    \"mediaType\": \"screen\",\n    \"async\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        740
      ],
      "id": "ce1bf5fd-3bf4-40d1-a07d-a915486fc9d3",
      "name": "PDF.co"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>{{$node[\"Lead Magnet Creator\"].json.output.AI_LEAD_MAGNET_TITLE}} | {{ $node[\"Edit Fields\"].json.Title }}</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');\n        \n        :root {\n            --primary-color: #3b82f6;\n            --primary-dark: #1d4ed8;\n            --primary-light: #93c5fd;\n            --secondary-color: #10b981;\n            --accent-color: #8b5cf6;\n            --accent-dark: #7c3aed;\n            --accent-light: #c4b5fd;\n            --text-color: #1e293b;\n            --text-light: #475569;\n            --background-color: #f1f5f9;\n            --slide-background: #ffffff;\n            --light-gray: #e2e8f0;\n            --medium-gray: #94a3b8;\n            --dark-gray: #475569;\n            --success-color: #059669;\n            --warning-color: #ea580c;\n            --info-color: #0284c7;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            line-height: 1.6;\n            color: var(--text-color);\n            background-color: var(--background-color);\n            padding: 30px;\n            background-image: \n                radial-gradient(circle at 20% 20%, rgba(147, 197, 253, 0.1) 0%, transparent 25%),\n                radial-gradient(circle at 80% 80%, rgba(196, 181, 253, 0.1) 0%, transparent 25%);\n            background-attachment: fixed;\n        }\n\n        .deck-container {\n            max-width: 1100px;\n            margin: 0 auto;\n        }\n\n        /* --- COVER SLIDE STYLES --- */\n        .cover-slide {\n            background-color: var(--slide-background);\n            padding: 70px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            text-align: center;\n            margin-bottom: 40px;\n            border-top: 6px solid;\n            border-image: linear-gradient(90deg, var(--primary-color), var(--accent-color)) 1;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .cover-slide::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background-image: \n                radial-gradient(circle at 20% 20%, rgba(147, 197, 253, 0.15) 0%, transparent 40%),\n                radial-gradient(circle at 80% 80%, rgba(196, 181, 253, 0.15) 0%, transparent 40%);\n            z-index: 0;\n        }\n\n        .cover-slide > * {\n            position: relative;\n            z-index: 1;\n        }\n\n        .logo {\n            max-width: 180px;\n            margin-bottom: 50px;\n            filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));\n        }\n\n        .cover-title {\n            font-size: 54px;\n            font-weight: 800;\n            background: linear-gradient(135deg, var(--primary-color), var(--accent-color));\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n            margin-bottom: 30px;\n            line-height: 1.2;\n        }\n\n        .cover-subtitle {\n            font-size: 26px;\n            color: var(--text-light);\n            margin-bottom: 50px;\n            max-width: 750px;\n            margin-left: auto;\n            margin-right: auto;\n            font-weight: 400;\n        }\n\n      .logo-text {\n    font-size: 24px;\n    font-weight: bold;\n    color: var(--text-color);\n    display: block;\n    text-align: center;\n    margin-bottom: 50px;\n    text-transform: uppercase;\n    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));\n}\n\n        /* --- PROBLEM SLIDE STYLES --- */\n        .problem-slide {\n            background-color: var(--slide-background);\n            padding: 50px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            margin-bottom: 40px;\n            position: relative;\n            border-top: 6px solid var(--primary-color);\n            overflow: hidden;\n        }\n\n        .problem-slide::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            right: 0;\n            width: 120px;\n            height: 120px;\n            background: linear-gradient(135deg, transparent 50%, rgba(59, 130, 246, 0.1) 50%);\n            border-radius: 0 0 0 120px;\n            z-index: 0;\n        }\n\n        .problem-title {\n            font-size: 36px;\n            font-weight: 700;\n            color: var(--primary-color);\n            margin-bottom: 35px;\n            position: relative;\n            z-index: 1;\n            display: inline-block;\n        }\n\n        .problem-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 60px;\n            height: 4px;\n            background: linear-gradient(90deg, var(--primary-color), var(--accent-color));\n            border-radius: 2px;\n        }\n\n        .problem-content {\n            margin-bottom: 5px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .problem-content p {\n            font-size: 18px;\n            margin-bottom: 5px;\n            color: var(--text-color);\n            line-height: 1.7;\n        }\n\n        .problem-highlight {\n            background: linear-gradient(135deg, rgba(59, 130, 246, 0.05), rgba(139, 92, 246, 0.05));\n            border-left: 4px solid;\n            border-image: linear-gradient(to bottom, var(--primary-color), var(--accent-color)) 1 100%;\n            padding: 30px;\n            margin: 30px 0;\n            border-radius: 8px;\n            position: relative;\n            z-index: 1;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);\n        }\n\n        .problem-highlight-title {\n            color: var(--primary-color);\n            font-weight: 600;\n            font-size: 22px;\n            margin-bottom: 15px;\n        }\n\n        /* --- SOLUTION SLIDE STYLES --- */\n        .solution-slide {\n            background-color: var(--slide-background);\n            padding: 50px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            margin-bottom: 40px;\n            position: relative;\n            border-top: 6px solid var(--accent-color);\n            overflow: hidden;\n        }\n\n        .solution-slide::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            right: 0;\n            width: 120px;\n            height: 120px;\n            background: linear-gradient(135deg, transparent 50%, rgba(139, 92, 246, 0.1) 50%);\n            border-radius: 0 0 0 120px;\n            z-index: 0;\n        }\n\n        .solution-title {\n            font-size: 36px;\n            font-weight: 700;\n            color: var(--accent-color);\n            margin-bottom: 35px;\n            position: relative;\n            z-index: 1;\n            display: inline-block;\n        }\n\n        .solution-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 60px;\n            height: 4px;\n            background: linear-gradient(90deg, var(--accent-color), var(--accent-light));\n            border-radius: 2px;\n        }\n\n        .solution-content {\n            margin-bottom: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .solution-content p {\n            font-size: 18px;\n            margin-bottom: 20px;\n            color: var(--text-color);\n            line-height: 1.7;\n        }\n\n        .solution-bullets {\n            list-style: none;\n            margin-bottom: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .solution-bullets li {\n            position: relative;\n            padding-left: 36px;\n            margin-bottom: 24px;\n            font-size: 18px;\n        }\n\n        .solution-bullets li:before {\n            content: '';\n            position: absolute;\n            left: 0;\n            top: 8px;\n            width: 14px;\n            height: 14px;\n            background: linear-gradient(135deg, var(--accent-color), var(--accent-dark));\n            border-radius: 50%;\n            box-shadow: 0 2px 5px rgba(124, 58, 237, 0.3);\n        }\n\n        .solution-bullets li strong {\n            color: var(--accent-dark);\n            font-weight: 600;\n        }\n\n        /* --- RESEARCH SLIDE STYLES --- */\n        .research-slide {\n            background-color: var(--slide-background);\n            padding: 50px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            margin-bottom: 40px;\n            position: relative;\n            border-top: 6px solid var(--secondary-color);\n            overflow: hidden;\n        }\n\n        .research-slide::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            right: 0;\n            width: 120px;\n            height: 120px;\n            background: linear-gradient(135deg, transparent 50%, rgba(16, 185, 129, 0.1) 50%);\n            border-radius: 0 0 0 120px;\n            z-index: 0;\n        }\n\n        .research-title {\n            font-size: 36px;\n            font-weight: 700;\n            color: var(--secondary-color);\n            margin-bottom: 35px;\n            position: relative;\n            z-index: 1;\n            display: inline-block;\n        }\n\n        .research-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 60px;\n            height: 4px;\n            background: linear-gradient(90deg, var(--secondary-color), #34d399);\n            border-radius: 2px;\n        }\n\n        .research-two-column {\n            display: flex;\n            gap: 50px;\n            margin-top: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .research-column {\n            flex: 1;\n        }\n\n        .research-column-title {\n            font-size: 22px;\n            font-weight: 600;\n            color: var(--secondary-color);\n            margin-bottom: 20px;\n            position: relative;\n            display: inline-block;\n        }\n\n        .research-column-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 40px;\n            height: 3px;\n            background: linear-gradient(90deg, var(--secondary-color), #34d399);\n            border-radius: 1.5px;\n        }\n\n        .research-content {\n            margin-bottom: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .research-content p {\n            font-size: 18px;\n            margin-bottom: 20px;\n            color: var(--text-color);\n            line-height: 1.7;\n        }\n\n        .research-info-box {\n            background: linear-gradient(135deg, rgba(2, 132, 199, 0.1), rgba(2, 132, 199, 0.05));\n            border-left: 4px solid var(--info-color);\n            padding: 25px;\n            border-radius: 12px;\n            margin: 25px 0;\n            position: relative;\n            z-index: 1;\n        }\n\n        .research-info-title {\n            font-weight: 600;\n            font-size: 20px;\n            margin-bottom: 12px;\n            color: var(--info-color);\n        }\n\n        .research-chart {\n            width: 100%;\n            height: auto;\n            border-radius: 12px;\n            position: relative;\n            overflow: hidden;\n            margin: 25px 0;\n            z-index: 1;\n        }\n\n       .research-chart img {\n          width: 100%;\n          height: auto;\n          display: block;\n          border-radius: 12px;\n          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n}\n\n        /* --- COMMON PROBLEMS SLIDE STYLES --- */\n        .common-problems-slide {\n            background-color: var(--slide-background);\n            padding: 50px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            margin-bottom: 40px;\n            position: relative;\n            border-top: 6px solid var(--warning-color);\n            overflow: hidden;\n        }\n\n        .common-problems-slide::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            right: 0;\n            width: 120px;\n            height: 120px;\n            background: linear-gradient(135deg, transparent 50%, rgba(234, 88, 12, 0.1) 50%);\n            border-radius: 0 0 0 120px;\n            z-index: 0;\n        }\n\n        .common-problems-title {\n            font-size: 36px;\n            font-weight: 700;\n            color: var(--warning-color);\n            margin-bottom: 35px;\n            position: relative;\n            z-index: 1;\n            display: inline-block;\n        }\n\n        .common-problems-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 60px;\n            height: 4px;\n            background: linear-gradient(90deg, var(--warning-color), #fb923c);\n            border-radius: 2px;\n        }\n\n        .common-problems-intro {\n            margin-bottom: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .common-problems-intro p {\n            font-size: 18px;\n            margin-bottom: 5px;\n            color: var(--text-color);\n            line-height: 1.7;\n        }\n\n        .problem-box {\n            display: flex;\n            align-items: flex-start;\n            margin-bottom: 10px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .problem-icon {\n            width: 60px;\n            height: 60px;\n            border-radius: 16px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin-right: 25px;\n            flex-shrink: 0;\n            font-size: 26px;\n            font-weight: bold;\n            position: relative;\n            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);\n            color: white;\n            background: linear-gradient(135deg, var(--warning-color), #fb923c);\n        }\n\n        .problem-icon::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));\n            border-radius: 16px;\n        }\n\n        .problem-content {\n            flex: 1;\n        }\n\n        .problem-box-title {\n            font-weight: 600;\n            font-size: 22px;\n            margin-bottom: 12px;\n            color: var(--warning-color);\n        }\n\n        /* --- ACTIONABLE STEPS SLIDE STYLES --- */\n        .steps-slide {\n            background-color: var(--slide-background);\n            padding: 50px 60px;\n            border-radius: 16px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);\n            margin-bottom: 40px;\n            position: relative;\n            border-top: 6px solid var(--primary-color);\n            overflow: hidden;\n        }\n\n        .steps-slide::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            right: 0;\n            width: 120px;\n            height: 120px;\n            background: linear-gradient(135deg, transparent 50%, rgba(59, 130, 246, 0.1) 50%);\n            border-radius: 0 0 0 120px;\n            z-index: 0;\n        }\n\n        .steps-title {\n            font-size: 36px;\n            font-weight: 700;\n            color: var(--primary-color);\n            margin-bottom: 35px;\n            position: relative;\n            z-index: 1;\n            display: inline-block;\n        }\n\n        .steps-title::after {\n            content: '';\n            position: absolute;\n            bottom: -8px;\n            left: 0;\n            width: 60px;\n            height: 4px;\n            background: linear-gradient(90deg, var(--primary-color), var(--primary-light));\n            border-radius: 2px;\n        }\n\n        .steps-list {\n            list-style: none;\n            counter-reset: num;\n            margin-bottom: 30px;\n            position: relative;\n            z-index: 1;\n        }\n\n        .steps-list li {\n            position: relative;\n            padding-left: 45px;\n            margin-bottom: 30px;\n            font-size: 18px;\n        }\n\n        .steps-list li:before {\n            counter-increment: num;\n            content: counter(num);\n            position: absolute;\n            left: 0;\n            top: 2px;\n            width: 32px;\n            height: 32px;\n            background: linear-gradient(135deg, var(--primary-color), var(--primary-dark));\n            color: white;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: bold;\n            font-size: 16px;\n            box-shadow: 0 3px 8px rgba(29, 78, 216, 0.3);\n        }\n\n        .steps-list li strong {\n            color: var(--primary-dark);\n            font-weight: 600;\n        }\n\n        .success-box {\n            background: linear-gradient(135deg, rgba(5, 150, 105, 0.1), rgba(5, 150, 105, 0.05));\n            border-left: 4px solid var(--success-color);\n            padding: 25px;\n            border-radius: 12px;\n            margin: 25px 0;\n            position: relative;\n            z-index: 1;\n        }\n\n        .success-box-title {\n            font-weight: 600;\n            font-size: 20px;\n            margin-bottom: 12px;\n            color: var(--success-color);\n        }\n\n        /* --- CTA SLIDE STYLES --- */\n        .cta-slide {\n            padding: 70px 60px;\n            border-radius: 16px;\n            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05);\n            margin-bottom: 40px;\n            text-align: center;\n            color: white;\n            position: relative;\n            overflow: hidden;\n            background: linear-gradient(135deg, var(--primary-color), var(--accent-color));\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            min-height: 400px; /* Set a minimum height to ensure there's space for centering */\n}\n        }\n\n        .cta-slide::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background-image: \n                radial-gradient(circle at 30% 20%, rgba(255, 255, 255, 0.2) 0%, transparent 25%),\n                radial-gradient(circle at 70% 80%, rgba(255, 255, 255, 0.15) 0%, transparent 25%);\n            z-index: 0;\n        }\n\n        .cta-slide > * {\n            position: relative;\n            z-index: 1;\n        }\n\n        .cta-title {\n            font-size: 40px;\n            font-weight: 700;\n            margin-bottom: 25px;\n            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n\n        .cta-description {\n            font-size: 22px;\n            margin-bottom: 50px;\n            max-width: 700px;\n            margin-left: auto;\n            margin-right: auto;\n            opacity: 0.9;\n        }\n\n        .cta-button {\n            display: inline-block;\n            background: white;\n            color: var(--primary-color);\n            padding: 16px 36px;\n            text-decoration: none;\n            border-radius: 8px;\n            font-weight: 600;\n            font-size: 18px;\n            transition: all 0.3s;\n            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);\n            position: relative;\n            overflow: hidden;\n        }\n\n        .cta-button:hover {\n            transform: translateY(-3px);\n            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);\n        }\n\n        .cta-button::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));\n            transform: translateX(-100%);\n            transition: transform 0.6s ease;\n        }\n\n        .cta-button:hover::after {\n            transform: translateX(100%);\n        }\n\n        /* --- RESPONSIVE STYLES --- */\n        @media (max-width: 768px) {\n            body {\n                padding: 15px;\n            }\n            \n            .cover-slide, .problem-slide, .solution-slide, .research-slide, \n            .common-problems-slide, .steps-slide, .cta-slide {\n                padding: 40px 30px;\n                margin-bottom: 30px;\n            }\n            \n            .research-two-column {\n                flex-direction: column;\n                gap: 30px;\n            }\n            \n            .cover-title {\n                font-size: 36px;\n            }\n            \n            .cover-subtitle {\n                font-size: 20px;\n            }\n            \n            .problem-title, .solution-title, .research-title, \n            .common-problems-title, .steps-title {\n                font-size: 28px;\n            }\n            \n            .cta-title {\n                font-size: 30px;\n            }\n            \n            .cta-description {\n                font-size: 18px;\n            }\n            \n            .problem-icon {\n                width: 50px;\n                height: 50px;\n                font-size: 22px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"deck-container\">\n        <!-- 1. COVER SLIDE -->\n        <div class=\"cover-slide\">\n          <span class=\"logo-text\">AI AGENCY</span>\n            <h1 class=\"cover-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_COVER_TITLE}}</h1>\n            <h2 class=\"cover-subtitle\">{{$node[\"Lead Magnet Creator\"].json.output.AI_COVER_SUBTITLE}}</h2>\n        </div>\n\n        <!-- 2. PROBLEM SLIDE -->\n        <div class=\"problem-slide\">\n            <h2 class=\"problem-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_TITLE }}</h2>\n            <div class=\"problem-content\">\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_PARAGRAPH_1 }}</p>\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_PARAGRAPH_2 }}</p>\n            </div>\n            <div class=\"problem-highlight\">\n                <div class=\"problem-highlight-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_HIGHLIGHT_TITLE }}</div>\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_HIGHLIGHT_CONTENT }}</p>\n            </div>\n        </div>\n\n        <!-- 3. SOLUTION SLIDE -->\n        <div class=\"solution-slide\">\n            <h2 class=\"solution-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_TITLE }}</h2>\n            <div class=\"solution-content\">\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_PARAGRAPH }}</p>\n            </div>\n            <ul class=\"solution-bullets\">\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_1_TITLE }}</strong> – {{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_1_CONTENT }}</li>\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_2_TITLE }}</strong> – {{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_2_CONTENT }}</li>\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_3_TITLE }}</strong> – {{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_3_CONTENT }}</li>\n            </ul>\n        </div>\n\n        <!-- 4. RESEARCH/DATA SLIDE -->\n        <div class=\"research-slide\">\n            <h2 class=\"research-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_TITLE }}</h2>\n            <div class=\"research-two-column\">\n                <div class=\"research-column\">\n                    <h3 class=\"research-column-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_LEFT_COLUMN_TITLE }}</h3>\n                    <div class=\"research-content\">\n                        <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_LEFT_COLUMN_CONTENT }}</p>\n                    </div>\n                    <div class=\"research-info-box\">\n                        <div class=\"research-info-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_INFO_BOX_TITLE }}</div>\n                        <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_INFO_BOX_CONTENT }}</p>\n                    </div>\n                </div>\n                <div class=\"research-column\">\n                    <h3 class=\"research-column-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_RIGHT_COLUMN_TITLE }}</h3>\n                    <div class=\"research-content\">\n                        <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_RESEARCH_RIGHT_COLUMN_CONTENT }}</p>\n                    </div>\n                    <div class=\"research-chart\">\n                              <!-- Replaced chart with image -->\n                        <img src=\"{{ $json.output[0] }}\" alt=\"{{$node[\"Lead Magnet Creator\"].json.output.AI_LEAD_MAGNET_TITLE}}\">\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- 5. COMMON PROBLEMS SLIDE -->\n        <div class=\"common-problems-slide\">\n            <h2 class=\"common-problems-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_COMMON_PROBLEMS_TITLE }}</h2>\n            <div class=\"common-problems-intro\">\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_COMMON_PROBLEMS_INTRO }}</p>\n            </div>\n            \n            <div class=\"problem-box\">\n                <div class=\"problem-icon\">1</div>\n                <div class=\"problem-content\">\n                    <div class=\"problem-box-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_1_TITLE }}</div>\n                    <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_1_CONTENT }}</p>\n                </div>\n            </div>\n            \n            <div class=\"problem-box\">\n                <div class=\"problem-icon\">2</div>\n                <div class=\"problem-content\">\n                    <div class=\"problem-box-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_2_TITLE }}</div>\n                    <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_2_CONTENT }}</p>\n                </div>\n            </div>\n            \n            <div class=\"problem-box\">\n                <div class=\"problem-icon\">3</div>\n                <div class=\"problem-content\">\n                    <div class=\"problem-box-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_PROBLEM_3_TITLE }}</div>\n                    <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_SOLUTION_POINT_3_CONTENT }}</p>\n                </div>\n            </div>\n        </div>\n\n        <!-- 6. ACTIONABLE STEPS SLIDE -->\n        <div class=\"steps-slide\">\n            <h2 class=\"steps-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_STEPS_TITLE }}</h2>\n            <ol class=\"steps-list\">\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_1_TITLE }}</strong>: {{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_1_CONTENT }}</li>\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_2_TITLE }}</strong>: {{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_2_CONTENT }}</li>\n                <li><strong>{{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_3_TITLE }}</strong>: {{$node[\"Lead Magnet Creator\"].json.output.AI_STEP_3_CONTENT }}</li>\n            </ol>\n            <div class=\"success-box\">\n                <div class=\"success-box-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_STEPS_SUCCESS_BOX_TITLE }}</div>\n                <p>{{$node[\"Lead Magnet Creator\"].json.output.AI_STEPS_SUCCESS_BOX_CONTENT }}</p>\n            </div>\n        </div>\n\n        <!-- 7. CALL TO ACTION SLIDE -->\n        <div class=\"cta-slide\">\n            <h2 class=\"cta-title\">{{$node[\"Lead Magnet Creator\"].json.output.AI_CTA_TITLE }}</h2>\n            <p class=\"cta-description\">{{$node[\"Lead Magnet Creator\"].json.output.AI_CTA_DESCRIPTION }}</p>\n<a href=\"https://www.linkedin.com/in/stanrokas/\" class=\"cta-button\" target=\"_blank\" rel=\"noopener noreferrer\">Work With Us</a>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1260,
        460
      ],
      "id": "38899cfa-61ff-48cf-be30-b962a3d0db0c",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The data you should know for your research:\n\nThe company title we want to pitch our services: {{ $node[\"Edit Fields\"].json.Title }}.\nThe company main website summary: {{ $node[\"Website Scraper\"].json.data }}.\nThe services we are providing: {{ $node[\"Edit Fields\"].json.Services }}. (Don't hard sell them, I give this information just for your context).\nDate for your context: {{ $now.format('yyyy-MM-dd') }}.",
        "options": {
          "systemMessage": "=# Role\n\nYou are an Industry Insight Specialist who creates value-focused research that aligns with specific service offerings.\n\n\n# Task\nResearch an industry based on a target company's profile (name, website, content summary) and analyze how the industry relates to the specific services being offered.\n\n# Context\nYour research will be transformed into lead magnets that demonstrate expertise by providing valuable industry insights related to the services being sold. These lead magnets will showcase understanding of industry challenges that the services can address.\n\n# Tools\n\nPerplexity:\n\nA research tool that searches the internet to find relevant articles, studies, statistics, and trends\nHelps you discover up-to-date information from various sources across the web\n\n# Research Process\n\n1. Identify Research Focus\n\nAnalyze the company's industry and the services you offer\nDetermine specific industry challenges your services directly address. Focus on finding evidence that validates these pain points exist\n\n\n2. Create Perplexity Search Queries\n\nFormulate specific questions about industry challenges, costs, and outcomes. Design queries to find statistics, case studies, and research reports. Search for evidence of the business impact of problems your services solve\n\n3. Organize Raw Research\n\nPresent findings in a structured format with clear source citations. Focus on quantitative data that demonstrates problem significance. Highlight specific examples that align with your service benefits\n\n## Guidelines\n\n- Focus only on collecting and organizing research, not creating the actual lead magnet\n- Present objective research while highlighting findings that naturally support your value proposition\n- Maintain detailed source information for all findings\n\n# Output\n\n1. Output only the research with no additional sentences or filler words like \"Here's you research report:\"\n2. In your research report add relevant links for each point you are making citing the sources from perplexity research. Include URL links in brackets next to each point you are making and referencing. Include full URL like this (https://www.bbc.com/future/article/20250306-inside-youtubes-hidden-world-of-forgotten-videos)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        820,
        100
      ],
      "id": "84a0b0ec-e3db-445a-9afd-c3d3935d666b",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For context, the client website summary: {{ $node[\"Website Scraper\"].json.data }}. We' already did a research on their industry: {{ $node[\"Research Agent\"].json.output }}.\n\nThis lead magnet is targeted to {{ $node[\"Edit Fields\"].json.Title }} company. Information about our own services: {{ $node[\"Edit Fields\"].json.Services }}. KEEP IN MIND THAT {{ $node[\"Edit Fields\"].json.Title }} is our potential client! And we are a company that is providing a {{ $node[\"Edit Fields\"].json.Services }} service, so we are totally different entities. You should write from our perspective ({{ $node[\"Edit Fields\"].json.Services }}).\n\nTask:\nGenerate an outline for lead Magnet based on the client information and our offering (serivices)\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\nYou are an Expert Presentation Outline Creator who helps generate comprehensive, value-packed outlines for lead magnet slide presentations.\n\n# Task\nCreate a detailed outline for a 7-section lead magnet presentation that will be used to fill an HTML slide template. Your outline should map directly to the template's structure while providing maximum value to the audience.\n\n# Input Data\n\nYou will get:\n1. The information about the client: topic/industry/niche of the client.\n2. The services that we want to offer for our client (Services).\n3. Research data or statistics that combines services we are offering to the niche and problems of our client.\n4. The 7-section HTML template structure you will need to fill in with your outline.\n\n# Lead Magnet Template:\n\n  * Cover Slide (introduction and promise)\n  * Problem Slide (pain points and challenges)\n  * Solution Slide (overview and key benefits)\n  * Research/Data Slide (supporting evidence)\n  * Common Problems Slide (specific challenges)\n  * Actionable Steps Slide (implementation guidance)\n  * Call to Action Slide (next steps)\n\n# SOPs\n\nStructure you should follow:\n- Develop a logical flow that builds from problem to solution\n- Identify 3-5 key points for each section that provide genuine value\n- Structure information to create a cohesive narrative arc\n- Balance educational content with subtle positioning\n\nFor each section, create specific content directions for:\n- Section titles and subtitles\n- Main talking points and key messages\n- Supporting evidence or examples to include\n\n# Output Format\nProvide a structured outline organized by the 7 template sections:\n\n## 1. COVER SLIDE\n- Title: [Compelling title that promises value]\n- Subtitle: [Supporting statement that clarifies the benefit]\n\n## 2. PROBLEM SLIDE\n- Title: [Problem framing title]\n- Key Points: [2-3 main problem statements]\n- Highlight Box: [Central challenge or statistic]\n\n## 3. SOLUTION SLIDE\n- Title: [Solution framing title]\n- Overview: [Brief solution concept]\n- Key Benefits: [3 specific advantage points]\n\n## 4. RESEARCH/DATA SLIDE\n- Title: [Research framing title]\n- Left Column: [Key finding or trend with supporting points]\n- Right Column: [Data visualization direction and explanation]\n- Info Box: [Critical statistic or insight]\n\n## 5. COMMON PROBLEMS SLIDE\n- Title: [Challenge framing title]\n- Introduction: [Context setting]\n- Problem 1-3: [Specific challenges with brief explanations]\n\n## 6. ACTIONABLE STEPS SLIDE\n- Title: [Action framing title]\n- Steps 1-3: [Specific implementation guidance]\n- Success Box: [Expected outcome or best practice]\n\n## 7. CTA SLIDE\n- Title: [Next steps framing]\n- Description: [Value proposition]\n- Button: [Clear action wording]\n\n# Guidelines\n- Create an outline that delivers substantial standalone value\n- Focus on educational content rather than promotional material\n- Ensure each section builds logically on previous sections\n- Remember this is an OUTLINE ONLY - do not write the full content\n\nThe final outline should provide clear direction for generating the actual content while ensuring the lead magnet delivers exceptional value to the audience.\n\n# VERY IMPORTANT\n1. In your output, provide only outline and nothing else. Don't output text like this: \"Based on the provided context, I'll create a detailed outline...\"\n2. When you are citing numbers or doing research, always include sources you are using in brackets next to the numbers ar facts you are citing. In a format like this: [https://www.mckinsey.com/capabilities/quantumblack/our-insights/the-state-of-ai-in-2023-generative-AIs-breakout-year]\n3. Don't just throw numbers but make sure they are relevant and interesting. You can give free value not only by citing all these sources, but giving insights as well."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1200,
        100
      ],
      "id": "ddb1f63f-64d8-4823-88f6-53dcd8b55d34",
      "name": "Outline Creator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        380,
        620
      ],
      "id": "bd67270c-cc30-45ea-bb66-1ecf6a07b320",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"AI_LEAD_MAGNET_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_COVER_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_COVER_SUBTITLE\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_PROBLEM_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_PARAGRAPH_1\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_PARAGRAPH_2\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_HIGHLIGHT_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_HIGHLIGHT_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_SOLUTION_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_PARAGRAPH\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_1_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_1_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_2_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_2_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_3_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_SOLUTION_POINT_3_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_RESEARCH_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_LEFT_COLUMN_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_LEFT_COLUMN_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_INFO_BOX_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_INFO_BOX_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_RIGHT_COLUMN_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_RESEARCH_RIGHT_COLUMN_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_COMMON_PROBLEMS_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_COMMON_PROBLEMS_INTRO\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_1_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_1_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_2_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_2_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_3_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_PROBLEM_3_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_STEPS_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_1_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_1_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_2_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_2_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_3_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEP_3_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEPS_SUCCESS_BOX_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_STEPS_SUCCESS_BOX_CONTENT\": {\n      \"type\": \"string\"\n    },\n    \n    \"AI_CTA_TITLE\": {\n      \"type\": \"string\"\n    },\n    \"AI_CTA_DESCRIPTION\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        520,
        780
      ],
      "id": "c96deeb9-b4ec-46d9-86ac-109a59432cbb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Context\n\nYou are an expert image prompt engineer. Your task is to analyze a slide content outline and create ONE single image prompt that represents the entire presentation.\n\n# Instructions:\n\n1. Read the complete slide content outline carefully.\n2. Identify the overarching theme or main message of the presentation.\n3. Create one detailed image prompt that visually captures this central theme.\n\n# Guidelines:\n\n1. Your image prompt should be 2 sentences maximum.\n2. Avoid abstract concepts that can't be visualized.\n3. Do not include text elements in your image prompt.\n4. Prompt should be concise and simple.\n\n\n# Example:\n\nSlide deck outline: \"Introduction to Renewable Energy Solutions, Market Analysis, Implementation Case Studies, Future Outlook\"\nImage prompt: Photo of solar panels and wind turbines on rolling green hills under a clear blue sky with business professionals examining data charts nearby.\n\n# Important\n1. Output only the prompt and nothing else, without filler text as \"Here's your image prompt:...\"\n2. Focus on concrete, visually representable elements.\n3. Do not include text elements in your image / image prompt.\n4. Keep the prompt concise and clear.\n5. The scene should look natural, containing just basic elements, no strange stuff.\n\n# Task\n\nRead the text of our slides outline: {{$node[\"Outline Creator\"].json.text}}.\nGenerate a prompt for this slide deck:"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        520,
        460
      ],
      "id": "d5e0a26b-f1df-4f15-a7d4-46b48af1b189",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "[your-api-key]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"input\":{\n      \"prompt\":\"{{ $json.text }}\",\n      \"go_fast\":false,\n      \"megapixels\":\"1\",\n      \"num_outputs\":1,\n      \"aspect_ratio\":\"16:9\",\n      \"output_format\":\"jpg\",\n      \"output_quality\":80,\n      \"num_inference_steps\":4\n   }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        460
      ],
      "id": "c9b35df8-823c-4095-83db-b4514810a777",
      "name": "Image"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1060,
        460
      ],
      "id": "961e40d1-8b8b-45fd-952d-144ece6575ad",
      "name": "Wait",
      "webhookId": "92945cb5-0ae3-4562-bceb-f1b441fb0df2"
    },
    {
      "parameters": {
        "path": "1c2eef87-ba51-45a2-a67b-69c09baf4378",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        240
      ],
      "id": "ace83fe8-555d-4c06-abb9-36469e91ca8a",
      "name": "Webhook",
      "webhookId": "1c2eef87-ba51-45a2-a67b-69c09baf4378"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app6wp3oNEYNo1mPd",
          "mode": "list",
          "cachedResultName": "Lead Magnet Generator",
          "cachedResultUrl": "https://airtable.com/"
        },
        "table": {
          "__rl": true,
          "value": "tbln1AQJCiQ3xJbs5",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        100
      ],
      "id": "418a21d0-a0b6-43da-8b4f-b8bf498e514c",
      "name": "Get Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app6wp3oNEYNo1mPd",
          "mode": "list",
          "cachedResultName": "Lead Magnet Generator",
          "cachedResultUrl": "https://airtable.com/"
        },
        "table": {
          "__rl": true,
          "value": "tbln1AQJCiQ3xJbs5",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Magnet": "={{ [{\"url\": $json.url, \"filename\": $node[\"Edit Fields\"].json.Title + \".pdf\"}] }}",
            "id": "={{$node[\"Get Airtable\"].json.id}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Offer",
              "displayName": "Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Send",
              "displayName": "Send",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Magnet",
              "displayName": "Lead Magnet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1020,
        740
      ],
      "id": "77a67116-d3c7-43da-93b7-06bb9ff4cd10",
      "name": "Update Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Website Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Lead Magnet Creator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Outline Creator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Magnet Creator": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Scraper": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "PDF.co",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Outline Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Creator": {
      "main": [
        [
          {
            "node": "Lead Magnet Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Magnet Creator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF.co": {
      "main": [
        [
          {
            "node": "Update Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "397c7cc0-b5e6-420a-be45-039eb82e50c9",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-14T19:52:52.731Z",
      "updatedAt": "2025-05-14T19:52:52.731Z",
      "id": "29OAO4Wf5xtIQ7HM",
      "name": "Content"
    }
  ]
}