1.-agente-para-abogados---ia-principal-master-.json
{
  "createdAt": "2025-04-29T14:16:35.771Z",
  "updatedAt": "2025-05-01T18:01:38.337Z",
  "id": "Aveyykn6n3PqnJyC",
  "name": "1. Agente para Abogados - IA Principal Master",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        220
      ],
      "id": "f709a3ea-8d81-4d87-8e4c-91bded7f6776",
      "name": "Telegram Trigger",
      "webhookId": "c7f168fc-7798-468a-8807-3773b81bd03a",
      "credentials": {
        "telegramApi": {
          "id": "tz1fYz1snqttWLEg",
          "name": "Telegram Mi Asistente Personal"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0ef7181d-c151-4d40-a341-b0002fc82518"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16af8e01-a416-45b8-8358-30e9243ca95f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        220
      ],
      "id": "bfefc852-5f92-4d2f-96fb-6657e1645c36",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cd54906-fbfa-4578-a57c-e7cc41daae92",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        320
      ],
      "id": "e6be0cb1-164a-4edb-98ac-228599579d32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -500,
        120
      ],
      "id": "0b3f6ec4-36ec-44c6-8562-5e28b0d7b470",
      "name": "Descargar Audio",
      "webhookId": "9054ba64-7bff-4b8c-9668-15c5b1dfd944",
      "credentials": {
        "telegramApi": {
          "id": "tz1fYz1snqttWLEg",
          "name": "Telegram Mi Asistente Personal"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -280,
        120
      ],
      "id": "5dde1b29-62fd-4b18-b0e9-241bba31acf0",
      "name": "Transcribir",
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        220
      ],
      "id": "bb84f42a-6f7b-4d30-bbc8-72c4e58dccc7",
      "name": "Telegram",
      "webhookId": "ea339aa9-3b14-4d01-b99f-3021daca9474",
      "credentials": {
        "telegramApi": {
          "id": "tz1fYz1snqttWLEg",
          "name": "Telegram Mi Asistente Personal"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        360
      ],
      "id": "69c4d343-8da0-4599-a18b-adf7b63afaee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "name": "AgenteEmail",
        "description": "Utiliza esta herramienta para realizar acciones en el correo electrónico.",
        "workflowId": {
          "__rl": true,
          "value": "W4r4EJ19fD3lYRdc",
          "mode": "list",
          "cachedResultName": "Agente de Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        340,
        680
      ],
      "id": "77259729-5c7d-4f07-b11a-6e576bc3d9f1",
      "name": "Agente de Email"
    },
    {
      "parameters": {
        "name": "AgenteCalendario",
        "description": "Utiliza esta herramienta para gestionar eventos en el calendario.",
        "workflowId": {
          "__rl": true,
          "value": "ay2Xrxm8CY9La8OH",
          "mode": "list",
          "cachedResultName": "Agente Calendario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        680
      ],
      "id": "00a04cb7-fb8d-488c-ae6b-862bc76b4b8a",
      "name": "Agente de Calendario"
    },
    {
      "parameters": {
        "name": "AgenteContactos",
        "description": "Utiliza esta herramienta para obtener, actualizar, agregar o eliminar contactos.",
        "workflowId": {
          "__rl": true,
          "value": "oapVBztBNel8AGIN",
          "mode": "list",
          "cachedResultName": "Agente Contactos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        700,
        680
      ],
      "id": "aee8355d-278e-4cc1-ae77-eab53be2680f",
      "name": "AgenteContactos"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "prueba",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        260,
        360
      ],
      "id": "0ef3d348-1476-49b0-9b61-57ba11bd4959",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NR0jJMop66avXtir",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Entrada de la consulta",
        "height": 440,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        60
      ],
      "id": "3403acbb-42d3-4c27-8c2c-6aba9b07e0d3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agente Principal",
        "height": 520,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "62c432cb-93cb-4a5f-b344-6675e7b9bc32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Respuesta",
        "height": 360,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "id": "207551e7-5edf-4bf6-a5c8-fff8ef1c54f0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        880,
        360
      ],
      "id": "486077f4-22ff-4f7c-b347-64603d63ca45",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "AgenteLegislacion",
        "description": "Utiliza esta herramienta para consultas legales, jurídicas, o que requieran de un abogado.",
        "workflowId": {
          "__rl": true,
          "value": "g266n4wNRwiF1WBw",
          "mode": "list",
          "cachedResultName": "Agente Legislacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        860,
        680
      ],
      "id": "7e743cce-807b-4dae-a3db-c2c2a721dde3",
      "name": "AgenteLegislacion"
    },
    {
      "parameters": {
        "content": "## SUB-AGENTES",
        "height": 280,
        "width": 920,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        600
      ],
      "id": "8ee77a84-e4a8-4011-a2c9-4968f787c11c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Descripcion General:\n\nEres el asistente personal definitivo. Tu trabajo es enviar la consulta del usuario a la herramienta correcta. Nunca debes escribir correos electrónicos ni crear resúmenes, ni inventarte información. Solo debes llamar a la herramienta adecuada. Es importante que pases la consulta lo más detallada posible a tus herramientas para que puedan realizar la acción correctamente. SIEMPRE tienes que llamar a la herramienta adecuada en cualquier consulta, y NUNCA respondas sin obtener información de las siguientes herramientas:\n\n# Herramientas:\n**AgenteCalendario**: utiliza esta herramienta para gestionar eventos en el calendario.\n**AgenteEmail**: utiliza esta herramienta para realizar acciones en el correo electrónico.\n**AgenteLegislacion**: utiliza esta herramienta para consultas relacionadas en el ámbito legal, jurídico o que requiera de un abogado. Por ejemplo: consulta sobre un artículo, una ley, una normativa, o algo parecido.\n**AgenteContactos**: utiliza esta herramienta para añadir, eliminar, consultar, o editar un contacto.\n\n# Reglas:\nAlgunas acciones requieren que primero busques la información de contacto. Para las siguientes acciones, primero debes obtener la información de contacto y luego enviarla a la herramienta correspondiente:\n\nEnviar correos electrónicos\nRedactar correos electrónicos\nResponder correos electrónicos\nCrear un borrador\nCrear eventos de calendario\n\nEn caso de que el contacto que haya aportado en la entrada no se encuentre en la base de datos de contacto, deberá utilizar el correo que proporcione en la entrada. Si no ha proporcionado ningún correo, hay que solicitarlo.\n\nSi se pide enviar un correo a un destinatario que no se encuentra en la lista de contactos del **AgenteContactos**, pregúntale si desea añadir ese correo como nuevo contacto. Para ello, le pedirás como información el nombre del contacto y utilizarás al **AgenteContactos** para que agregue el nuevo contacto.\n\n## Ejemplo 1:\n\nEntrada: Envía un correo electrónico a José Manuel preguntándole a qué hora quiere salir.\n\nAcción:\n\nUsa **AgenteContactos** para obtener el correo electrónico de José Manuel.\nUsa **AgenteEmail** para enviar el correo electrónico. Pasarás la consulta a la herramienta con un mensaje como:\n\"Envía un correo electrónico a José Manuel preguntándole a qué hora quiere salir. Aquí está su correo electrónico: [dirección de correo electrónico]\"\nSalida: El correo ha sido enviado a José Manuel. ¿Puedo ayudarte con algo más?\n\n\n## Ejemplo 2:\n\nEntrada: Dame el artículo 200 del código civil.\n\nAcción: Usa **AgenteLegislacion** para que busque en su base de conocimiento el artículo 200 del código civil. Pasarás la consulta a la herramienta con un mensaje como: \"Artículo 200 del código civil\".\n\n\n\n\n- La fecha y hora actual es: **{{ $now }}**.  ",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        160
      ],
      "id": "479a3c45-0323-4262-9435-e68f97259da1",
      "name": "Agente Principal"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Transcribir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir": {
      "main": [
        [
          {
            "node": "Agente Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agente Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Email": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Calendario": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteContactos": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteLegislacion": {
      "ai_tool": [
        [
          {
            "node": "Agente Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Principal": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "495a8564-6ec4-44cb-8c45-5f9c74132e54",
  "triggerCount": 0,
  "tags": []
}