2.-mcps-+-claude---envío-whatsapp-.json
{
  "createdAt": "2025-05-14T19:29:53.327Z",
  "updatedAt": "2025-05-14T19:31:02.550Z",
  "id": "PezgvXFpNrccQt9L",
  "name": "2. MCPs + Claude - Envío WhatsApp",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "no_telefono"
            },
            {
              "name": "motivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        340,
        -20
      ],
      "id": "ad90557c-1b2e-47e2-9c22-fcb441064fc2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Telefono: {{ $json.no_telefono }}\nMotivo: {{ $json.motivo }}"
            },
            {
              "content": "=Crea un mensaje para whatsapp para el motivo que se te esta pasando.\n\nDebes ser muy humano y cercano\n\nNormaliza el numero de telefono para que SIEMPRE salga con este formato:\n\nXXXXXXXXXXXX@s.whatsapp.net\n\nEjemplo: \"573005660816@s.whatsapp.net\"",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        560,
        -20
      ],
      "id": "10d828da-8eb7-4ae4-bab5-ae58f6c13c58",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Angel",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.no_telefono }}",
        "messageText": "={{ $json.message.content.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        920,
        -20
      ],
      "id": "24714f52-8a7e-4f04-8ad7-c6a099b44acd",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "YP0S0lKXr4ZWl2EW",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "023911d0-adc9-4f3e-a56e-a2f50629353c",
              "name": "respuesta",
              "value": "Mensaje enviado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        -20
      ],
      "id": "0ba3ab57-9036-44cc-a401-a93cdad3eef3",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "no_telefono": "+573005660816",
          "motivo": "Invitación a cenar pizza mañana a las 7pm en Morantinos Pizza y Pasta Artesanal, Chía. ¡No faltes, Alejandro! Señor, si desea un mensaje más formal, hágamelo saber."
        }
      }
    ]
  },
  "versionId": "9c105fa5-e624-4fa9-be5e-126359d7f44b",
  "triggerCount": 0,
  "tags": []
}