automatización-avanzada-de-prospección-*****.json
{
  "createdAt": "2025-05-14T16:50:42.225Z",
  "updatedAt": "2025-05-14T16:51:51.285Z",
  "id": "TxVXqDCf4pI7kyh6",
  "name": "Automatización Avanzada de Prospección",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "9905bdcd-c327-475a-896b-6c6331c6545b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        2100
      ],
      "id": "b56b0f23-e765-4b52-8e7e-2d345c1448eb",
      "name": "Webhook",
      "webhookId": "9905bdcd-c327-475a-896b-6c6331c6545b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b2c1dc4-d994-45fe-84eb-85ddcfdf2d29",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "ScrapeLinkedInProfiles",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ScrapeLinkedInProfiles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c20f68a-ecfd-40dc-8d47-9bc4a668b8cc",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "EnrichLinkedInProfiles",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EnrichLinkedInProfiles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b6c33727-d838-433b-a704-95d4162fc586",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "QualifyLeads",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "QualifyLeads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c9e41f0-22ce-4a32-bdb0-5032c797fdc4",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "CreateLinkedInSequences",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CreateLinkedInSequences"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c0b4831e-6579-42ff-a230-d0014e8684d1",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "SendToExpandi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SendToExpandi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "766dae1d-827b-4027-a294-39eb26101e17",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "ExtractLinkedInMessages",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExtractLinkedInMessages"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e3cd008-2495-4bc2-af84-a09b00b6c4a2",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "CreateEmailSequences",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CreateEmailSequences"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18b4fe85-c773-473a-9acb-88faf7239454",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "ExtractEmails",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExtractEmails"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13399fd3-fbd4-4393-ba7e-868cd24511ce",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "SendToInstantly",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SendToInstantly"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        1980
      ],
      "id": "ace2edc9-a1c8-4418-aa8b-17d1b480b0f5",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Builds a Google Query').item.json.Query }}"
            },
            {
              "name": "num",
              "value": "={{ $('Get Record From Campaign Table - 1').item.json.LeadNumber }}"
            },
            {
              "name": "page",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        80
      ],
      "id": "a4cf6a25-f6d3-4c17-9c49-39face6918af",
      "name": "SerperDev",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=As a world-class outbound cold email marketing expert for {{ $json['Agency Name'] }} I need you to create a hyper personalized, highly engaging four step cold email outreach sequence optimized to elicit a response from the recipient and sell the solution of {{ $json['Agency Name'] }}\n\nHere is the data of the ICP you must utilize to create your personalized email sequence \n\n<>\nPerson's Name:  {{ $('Get Record From Emails Table').item.json['firstName (from Leads)'][0] }}\n\nCompany Name:  {{ $('Get Record From Emails Table').item.json['companyName (from Leads)'][0] }}\n\nCompany Size: {{ $('Get Record From Emails Table').item.json['companySize (from Leads)'][0] }}\n\nExperience:  {{ $('Get Record From Emails Table').item.json['experianceDetails (from Leads)'][0] }}\n\nAbout: {{ $('Get Record From Emails Table').item.json['about (from Leads)'][0] }}\n\nAddress:  {{ $('Get Record From Emails Table').item.json['address (from Leads)'][0] }}\n<>\n\nHere is a detailed report about the company that the ICP works for which you should analyze deeply in order to build your hyper personalized email sequence:\n\n{{ $('Basic LLM Chain1').item.json.text }}\n\nHere is a detailed summary of {{ $json['Agency Name'] }} the company you are selling for:\n\n{{ $json['Agency Context'] }}\n\nHere is a detailed summary of the Solution you are selling for {{ $json['Agency Name'] }}:\n\n{{ $json['Agency Solution'] }}\n\nNow go and create me a world class cold email sequence. It is vital to my career that you keep the emails short, concise, personalized, to the point and make sure the emails are optimized for cold email outreach. \n\nIt is also extremely important that you DO NOT output text like [Insert First_Name] Or [Insert Calendar Link]. NEVER DO THIS. The output you provide must be ready to send in a email directly without any adjustments\n\nI am counting on you!",
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\n\nYou are a world-class outbound cold email marketing expert for {{ $json['Agency Name'] }} and your goal is to create hyper personalized cold email marketing sequences designed to sell the solution of {{ $json['Agency Name'] }} to the ICP**.** You are renowned for crafting ultra-personalized, high-converting cold email marketing outreach sequences. Your deep understanding of human decision-making psychology and persuasive frameworks combined with your incredible sales expertise enable you to consistently delivers industry-leading reply rates.\n\n# Task\n\nCreate highly personalized, psychology-driven cold email out reach sequences to sell the solution of {{ $json['Agency Name'] }} to the target ICP using the following process:\n\n1. Deeply analyze provided ICP data to deeply understand the email recipient's context, role, and potential pain points\n2. Deeply analyze the the provided company report of the ICP.\n3. Deeply analyze the agency information of {{ $json['Agency Name'] }} which is provided to you.\n4. Deeply analyze the offer that you are selling for {{ $json['Agency Name'] }}.\n5. Craft a cohesive 4-day hyper personalized cold email outreach campaign that will be sent to the ICP aimed to elicit a response and interest in {{ $json['Agency Name'] }}’s solution.\n6. Integrate proven psychological triggers (curiosity, social proof, authority, etc.)\n7. Optimize each message specifically for generating interested replies\n8. Ensure natural flow and progression between touch points\n9. Validate that messaging maintains authentic warmth while showcasing relevant value.\n10. Ensure the emails are short, concise and relevant.\n\n# Specifics\n\nYour expertise in crafting these campaigns is crucial to our success. Please ensure:\n\n- Ultra-personalized messaging leveraging recipient context\n- Concise, clear communication optimized for replies\n- Natural progression between each email touch point\n- Integration of case studies and social proof\n- Subtle handling of common objections\n- Professional yet warm tone throughout\n- Always make sure to pitch the solution you are selling in the first.\n- All emails signed by {{ $json['Email Sender Name'] }}\n\n# Context\n\nYour help is required to create a hyper personalized cold email outreach sequence for {{ $json['Agency Name'] }} that will is target the ICP. The aim of these outreach sequences is to sell the solution of {{ $json['Agency Name'] }} to the ICP. These outreach sequences are crucial for the success of {{ $json['Agency Name'] }} as they will be used to send emails to {{ $json['Agency Name'] }}’s prospects in order to sell the services of {{ $json['Agency Name'] }}. The better the email sequences are at getting replies and engagement from the recipient that sales {{ $json['Agency Name'] }} will generate.\n\n# Notes\n\n- Ensure each message appears individually crafted for recipient\n- Maintain cohesive narrative across channels\n- Integrate psychological triggers naturally\n- Ensure you grab the readers attention fast\n- Focus on generating interested replies\n- It is vital to my career that you avoid generic or overly sales-focused language\n- It is vital to my career that you keep all communications short, concise, to the point and reply-focused\n- It is vital to my career that you deeply analyze the ICP data of the recipient, the company report of the ICP, the summary of {{ $json['Agency Name'] }}  and the summary of the solution you are selling for {{ $json['Agency Name'] }}  in order to create a world class cold email marketing sequence to sell the solution and get a high reply rate.\n- Always make sure to pitch the solution you are selling in the first.\n- Always sign emails as {{ $json['Email Sender Name'] }}\n- ONLY output the email sequence details. Don't add ANY additionally commentary\n- NEVER output text like [Insert First_Name] Or [Insert Calendar Link]. NEVER DO THIS. The output you provide must be ready to send in a email directly without any adjustments"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2200,
        3320
      ],
      "id": "5fb5f584-23fa-4ada-b4f8-95c1477a7e8a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "text": "=Strategy, now just extract the 4 emails in the email sequence:\n{{ $json['Email Outreach Sequence'] }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email1",
              "description": "Only The Email Body Of The First Email",
              "required": true
            },
            {
              "name": "Email2",
              "description": "Only The Email Body Of The Second Email",
              "required": true
            },
            {
              "name": "Email3",
              "description": "Only The Email Body Of The Third Email",
              "required": true
            },
            {
              "name": "Email4",
              "description": "Only The Email Body Of The Fourth Email"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        500,
        3860
      ],
      "id": "f250a89c-b7ab-4e48-a429-1fe04c02a78f",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblBUgQOt1yFiTAny",
          "mode": "list",
          "cachedResultName": "OutreachSequence",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblBUgQOt1yFiTAny"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EmailLink": "=[\"{{ $('Get Record From Emails Table - 2').item.json.id }}\"]",
            "Name": "={{ $('Get Record From Emails Table - 2').item.json.createdTime }}",
            "First Outreach Message": "={{ $json.output.Email1 }}",
            "Second Outreach Message": "={{ $json.output.Email2 }}",
            "Third Outreach Message": "={{ $json.output.Email3 }}",
            "Fourth Outreach Message": "={{ $json.output.Email4 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EmailLink",
              "displayName": "EmailLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email (from Leads) 2 (from EmailLink)",
              "displayName": "email (from Leads) 2 (from EmailLink)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "LinkedinURL (from Leads) (from EmailLink)",
              "displayName": "LinkedinURL (from Leads) (from EmailLink)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Outreach Message",
              "displayName": "First Outreach Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Second Outreach Message",
              "displayName": "Second Outreach Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Third Outreach Message",
              "displayName": "Third Outreach Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fourth Outreach Message",
              "displayName": "Fourth Outreach Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1020,
        3860
      ],
      "id": "623ce9f5-4afd-499e-9e38-4ee643ddbd2c",
      "name": "Airtable10",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ee51694-5646-4d42-bfc9-9a4a316711d2",
              "name": "Campaign",
              "value": "={{ $json.JobTitle }}_{{ $json.CompanyType }}_{{ $json.Location }}_{{ $json.CompanySize }}_{{ $json.Industry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        260
      ],
      "id": "35815237-66be-40c2-a244-32bafa0dca4a",
      "name": "Set Campaign Name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dfdae07-b47b-4d61-a415-ca28d8c1bc92",
              "name": "Query",
              "value": "=site:linkedin.com/in/ {{ $('Get Record From Campaign Table - 1').item.json.JobTitle }} {{ $('Get Record From Campaign Table - 1').item.json.CompanyType }} {{ $('Get Record From Campaign Table - 1').item.json.Location }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        260
      ],
      "id": "022b6f89-48c0-427f-b158-783466598b5b",
      "name": "Builds a Google Query"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Organic",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1940,
        80
      ],
      "id": "ae9afab8-c33a-4330-9a14-89138fb08c87",
      "name": "Splits Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b15f05fe-e7d3-4f09-a15a-fe7cdf176e7e",
              "name": "Organic",
              "value": "={{ $json.organic }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        80
      ],
      "id": "00f95eb4-3f1f-489b-af9d-09065b4240c3",
      "name": "Map Fields "
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "LinkedinURL": "={{ $json.link }}",
            "Snippet": "={{ $json.snippet }}",
            "Subtitle": "={{ $json.subtitle }}",
            "Campaign": "={{ $('Set Campaign Name').item.json.Campaign }}",
            "CompanyICP": "={{ $('Set CompanyICP').item.json.CompanyICP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL",
              "displayName": "LinkedinURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create LinkedIn Sequence",
              "displayName": "Create LinkedIn Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanyICP",
              "displayName": "CompanyICP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extract LinkedIn Messages",
              "displayName": "Extract LinkedIn Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Extract",
                  "value": "Extract"
                },
                {
                  "name": "Idle",
                  "value": "Idle"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtitle",
              "displayName": "Subtitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Run",
                  "value": "Run"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experianceDetails",
              "displayName": "experianceDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyLinkedin",
              "displayName": "companyLinkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInJobTitle",
              "displayName": "LinkedInJobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Outreach Strategy",
              "displayName": "LinkedIn Outreach Strategy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 2",
              "displayName": "Emails 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 3",
              "displayName": "Emails 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OutreachSequence",
              "displayName": "OutreachSequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInOutreachSequences",
              "displayName": "LinkedInOutreachSequences",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2140,
        80
      ],
      "id": "56c31aaa-e9f8-4d54-a5e4-fb120d610b20",
      "name": "Insert LinkedIn Profiles Into Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblvSmWd0QNJ0ZjiZ",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblvSmWd0QNJ0ZjiZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start?": false,
            "id": "={{ $('Webhook').item.json.query.recordId }}",
            "Action": "Idle",
            "LeadNumber": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ProjectName",
              "displayName": "ProjectName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start?",
              "displayName": "Start?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "JobTitle",
              "displayName": "JobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanyType",
              "displayName": "CompanyType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanySize",
              "displayName": "CompanySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LeadNumber",
              "displayName": "LeadNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Idle",
                  "value": "Idle"
                },
                {
                  "name": "ScrapeLeads",
                  "value": "ScrapeLeads"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2400,
        80
      ],
      "id": "f808843f-efda-4afc-89cd-ac2c3cd06153",
      "name": "Update Campaign Action To Idle",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblvSmWd0QNJ0ZjiZ",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblvSmWd0QNJ0ZjiZ"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        120,
        760
      ],
      "id": "2edc7ca3-0627-482f-918c-2f318a6ed431",
      "name": "Get Record From Campaign Table - 3",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblvSmWd0QNJ0ZjiZ",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblvSmWd0QNJ0ZjiZ"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        100,
        260
      ],
      "id": "e9d26cf1-6c31-4a4b-96af-d0fded14fc0c",
      "name": "Get Record From Campaign Table - 1",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Record From Campaign Table - 3').item.json.id }}",
            "Action": "Done",
            "firstName": "={{ $json.firstName }}",
            "lastName": "={{ $json.lastName }}",
            "headline": "={{ $json.headline }}",
            "address": "={{ $json.address }}",
            "about": "={{ $json.about }}",
            "experianceDetails": "={{ $json.experianceDetails }}",
            "email": "={{ $json.email }}",
            "companyName": "={{ $json.companyName }}",
            "companyWebsite": "={{ $json.companyWebsite }}",
            "companyLinkedin": "={{ $json.companyLinkedin }}",
            "companySize": "={{ $json.companySize }}",
            "LinkedInJobTitle": "={{ $json.jobTitle }}",
            "Mobile Number": "={{ $json.mobileNumber }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL",
              "displayName": "LinkedinURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtitle",
              "displayName": "Subtitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Run",
                  "value": "Run"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experianceDetails",
              "displayName": "experianceDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyLinkedin",
              "displayName": "companyLinkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInJobTitle",
              "displayName": "LinkedInJobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        780,
        760
      ],
      "id": "adecd2e9-4710-43a4-ba5a-c1aa1b331869",
      "name": "Insert Scraped Leads Into ScrapeLeads Table",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblahm7BVTMbPHvRq",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblahm7BVTMbPHvRq"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        140,
        3320
      ],
      "id": "6de17001-3fe0-4ebb-a696-3738ee5adc6d",
      "name": "Get Record From Emails Table",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblahm7BVTMbPHvRq",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblahm7BVTMbPHvRq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Record From Emails Table').item.json.id }}",
            "Action": "ExtractEmails",
            "Email Outreach Sequence": "={{ $json.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Idle",
                  "value": "Idle"
                },
                {
                  "name": "CreateEmailSequences",
                  "value": "CreateEmailSequences"
                },
                {
                  "name": "ExtractEmails",
                  "value": "ExtractEmails"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create Email Sequence",
              "displayName": "Create Email Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email (from Leads) 2",
              "displayName": "email (from Leads) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedinURL (from Leads)",
              "displayName": "LinkedinURL (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Snippet (from Leads)",
              "displayName": "Snippet (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "firstName (from Leads)",
              "displayName": "firstName (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lastName (from Leads)",
              "displayName": "lastName (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "headline (from Leads)",
              "displayName": "headline (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "JobTitle (from Leads)",
              "displayName": "JobTitle (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "address (from Leads)",
              "displayName": "address (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "about (from Leads)",
              "displayName": "about (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "experianceDetails (from Leads)",
              "displayName": "experianceDetails (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "email (from Leads)",
              "displayName": "email (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "companyName (from Leads)",
              "displayName": "companyName (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "companyWebsite (from Leads)",
              "displayName": "companyWebsite (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "companySize (from Leads)",
              "displayName": "companySize (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "companySize (from Leads) copy",
              "displayName": "companySize (from Leads) copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Email Outreach Sequence",
              "displayName": "Email Outreach Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ScrapeLeads",
              "displayName": "ScrapeLeads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title (from Leads)",
              "displayName": "Title (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "companyLinkedin (from Leads)",
              "displayName": "companyLinkedin (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Campaign (from Leads)",
              "displayName": "Campaign (from Leads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "OutreachSequence",
              "displayName": "OutreachSequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OutreachSequence 2",
              "displayName": "OutreachSequence 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OutreachSequence 3",
              "displayName": "OutreachSequence 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2640,
        3320
      ],
      "id": "4c9ca2ed-971d-4987-8c5c-11a8874e2b4b",
      "name": "Update Record In Emails Table",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblahm7BVTMbPHvRq",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblahm7BVTMbPHvRq"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        180,
        3860
      ],
      "id": "a570057d-e20a-496a-affe-5542d77dd0f0",
      "name": "Get Record From Emails Table - 2",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "text": "=Strategy, now just extract the 4 linkedin messages in the linkedin outreach sequence:\n{{ $json['LinkedIn Outreach Strategy'] }}",
        "attributes": {
          "attributes": [
            {
              "name": "LinkedInMessage1",
              "description": "The Body Of The First LinkedIn Message",
              "required": true
            },
            {
              "name": "LinkedInMessage2",
              "description": "The Body Of The Second LinkedIn Message",
              "required": true
            },
            {
              "name": "LinkedInMessage3",
              "description": "The Body Of The Third LinkedIn Message",
              "required": true
            },
            {
              "name": "LinkedInMessage4",
              "description": "The Body Of The Fourth LinkedIn Message"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        480,
        2300
      ],
      "id": "7881caab-a567-474a-83d0-1241a4329703",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblMMFjzZjOnks5EO",
          "mode": "list",
          "cachedResultName": "LinkedInOutreachSequences",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblMMFjzZjOnks5EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First LinkedIn Message": "={{ $json.output.LinkedInMessage1 }}",
            "Second LinkedIn Message": "={{ $json.output.LinkedInMessage2 }}",
            "Third LinkedIn Message": "={{ $json.output.LinkedInMessage3 }}",
            "Fourth LinkedIn Message": "={{ $json.output.LinkedInMessage4 }}",
            "Name": "={{ $('Get Record From Scrape Leads Table1').item.json.firstName }}",
            "LinkedInProfileLink": "=[\"{{ $('Get Record From Scrape Leads Table1').item.json.id }}\"]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInProfileLink",
              "displayName": "LinkedInProfileLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL (from ScrapeLeads)",
              "displayName": "LinkedinURL (from ScrapeLeads)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First LinkedIn Message",
              "displayName": "First LinkedIn Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Second LinkedIn Message",
              "displayName": "Second LinkedIn Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Third LinkedIn Message",
              "displayName": "Third LinkedIn Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fourth LinkedIn Message",
              "displayName": "Fourth LinkedIn Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        940,
        2300
      ],
      "id": "eb7df6f9-430f-4ba2-a1e9-22beec360cd4",
      "name": "Airtable",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Define the lead_number\nlet lead_number = $('Get Record From Campaign Table - 1').first().json.LeadNumber;\n\n// Function to generate the array\nfunction generateIds(lead_number) {\n  const count = Math.ceil(lead_number / 100);\n  const result = [];\n\n  for (let i = 1; i <= count; i++) {\n    result.push({ id: i }); // Only { id: i } -- no extra wrapping\n  }\n\n  return result;\n}\n\n// Call the function\nreturn generateIds(lead_number);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        60
      ],
      "id": "0fc585a3-eb66-41fe-af35-b6f6c9327bff",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1300,
        60
      ],
      "id": "47bb0055-eb8a-4372-b61f-aea0149a50b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28afdacf-5c8e-43dc-ad64-88943c8654da",
              "leftValue": "={{ $('Get Record From Campaign Table - 1').item.json.LeadNumber }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        260
      ],
      "id": "27c063c0-ffd6-44c1-a047-39b23eba0880",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "Internal Company Research Prompt",
              "value": "=Please research and analyze the company identified by the website ** {{ $('Get Record From Emails Table').item.json['companyWebsite (from Leads)'][0] }}**. Your research should cover the following aspects: - **Company Overview:** Summarize the core business, mission, and key products or services offered. - **Market Positioning:** Describe the target audience, competitive landscape, and any unique selling propositions visible from their online presence. - **Operational Insights:** Identify any indications of business challenges or opportunities as reflected on the website, such as customer testimonials, service gaps, or emerging trends. - **Content and Branding:** Evaluate the tone, messaging, and overall digital strategy used on the website, including any notable design or navigational elements that reflect the company’s brand identity.  Please compile this information into a detailed summary. This research will later be integrated with client-provided details on their challenges and aspirations, as well as a description of our agency’s services, to produce a data-driven, insightful report outlining the best opportunities for enhancing the client's business through our tailored propositions.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        3220
      ],
      "id": "291f45fa-a266-4710-b1dc-cb5f8aca8f46",
      "name": "Set Internal Company Research Prompt",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer PUT_YOUR_OWN_PERPLEXITY_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['Internal Company Research Prompt'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        3220
      ],
      "id": "6a70f8a6-b3a9-4d46-a0c9-cccf893912bf",
      "name": "Perplexity - Internal Company Research"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer PUT_YOUR_OWN_PERPLEXITY_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['Set External Research Prompt'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        3440
      ],
      "id": "46812408-2f7d-48bf-8793-22df15b04603",
      "name": "Perplexity - External Company Research"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        3580
      ],
      "id": "876a816b-4c4d-4fdc-84d9-68f83457a118",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n\nYou are a world class reporter capable of creating highly insightful reports based on company research.\n\n# Task\n\nCombine and synthesize the two detailed company research reports based on the company **{{ $('Get Record From Emails Table').item.json['companyName (from Leads)'][0] }}** into one unified, comprehensive, insightful, and actionable company analysis report. This final report will serve as the foundation for crafting a hyper-personalized, persuasive cold email outreach sequence that will target **{{ $('Get Record From Emails Table').item.json['companyName (from Leads)'][0] }}**. Format the report as the text followed by a list of meaningful facts.\n\n# Important Rules\n\n- Do not add any additional text before the summary or after the facts.\n\n# Research\n\nInternal Company Research\n{{ $json.choices[0].message.content }}\n\nExternal Company Research:\n{{ $json.choices[0].message.content }}\n\n# Final Notes\n\nNow create me a highly insightful report on {{ $('Get Record From Emails Table').item.json['companyName (from Leads)'][0] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1560,
        3320
      ],
      "id": "4b4635ac-61ca-4708-9d36-72a386079a36",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1500,
        3580
      ],
      "id": "45787ded-fab4-4145-a995-1986c639e2a9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7799da89-9b12-41b6-94b7-165feb42881c",
              "name": "Agency Name",
              "value": "Catalina AI",
              "type": "string"
            },
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "Agency Context",
              "value": "Catalina AI: Comprehensive Company Report  Who We Are  Catalina AI is a cutting-edge AI automation agency specializing in providing customized artificial intelligence-driven automation solutions specifically tailored to agencies. We aim to revolutionize operational efficiency and client acquisition strategies by leveraging innovative AI technologies to automate routine processes, enhance productivity, and significantly increase client outreach effectiveness.  Our team comprises industry-leading experts in artificial intelligence, data analysis, software development, and digital marketing, committed to delivering unparalleled service and tangible outcomes for our clients.  Our Mission & Vision  Mission  Our mission is to empower agencies by automating routine processes and optimizing workflows using state-of-the-art AI technologies. We strive to free our clients from repetitive tasks, enabling them to dedicate more time and resources to their core business activities, fostering sustainable growth and scalability.  Vision  Catalina AI aims to become a global leader in AI-driven automation solutions for agencies, recognized for our operational excellence, innovative approaches, and measurable impact. We envision setting industry benchmarks in automation technology, continuously evolving to meet the dynamic needs of the modern digital landscape.  Our Services  Hyper-Personalized AI Lead Generation & Outreach  Catalina AI’s flagship service offers a comprehensive solution designed to dramatically enhance agency lead generation and outreach effectiveness through hyper-personalization and data-driven insights.  Step-by-Step Process:  1. ICP Lead Generation:  Our AI solution scrapes unlimited, highly-qualified leads matching your Ideal Customer Profile (ICP) directly from LinkedIn.  Leads are targeted precisely based on specified criteria, such as geographic location, job title, industry, and more.  2. Lead Enrichment:  Leads undergo automatic enrichment, extracting critical details including first name, last name, verified emails, company names, job titles, professional experience, summaries, and addresses.  Enhanced data accuracy ensures highly personalized outreach.  3. Comprehensive AI-Driven Research:  Internal Analysis: Using sophisticated AI models like Perplexity, we compile in-depth insights covering company overviews, market positioning, operational insights, and branding evaluations directly from company websites.  External Analysis: Leveraging trusted sources, we perform extensive external research, including media analysis, market reputation assessment, competitive landscape evaluation, and detailed financial and strategic insights.  This dual-layered analysis ensures a nuanced, actionable understanding of prospects.  4. AI-Generated Research Summaries:  Advanced OpenAI models synthesize research findings into clear, actionable summaries tailored explicitly to your strategic objectives.  Summaries highlight potential business opportunities, strategic insights, and relevant industry trends.  5. Hyper-Personalized Outreach Sequences:  Utilizing detailed research summaries, we craft highly customized email and LinkedIn outreach sequences designed to maximize engagement and response rates.  Outreach materials are ready for seamless integration into popular outreach platforms like Instantly and LinkedIn, enabling effortless scale and implementation.  By leveraging this comprehensive service, clients gain a significant competitive advantage through superior lead quality, detailed prospect intelligence, and unparalleled outreach personalization, dramatically increasing their potential for successful conversions.  Why Choose Catalina AI Solutions  Tailored, Adaptable Solutions:  At Catalina AI, we provide robust out-of-the-box solutions carefully adapted to meet each client's unique needs and objectives. We prioritize close collaboration to continuously iterate and refine our solutions, ensuring absolute alignment with your evolving requirements.  Commitment to Client Success:  We deeply value the success of our clients. Our approach involves meticulous attention to detail and proactive communication throughout the entire process, from initial implementation to iterative improvements.  We provide detailed explanations and transparent processes, empowering clients with clear insights into how each component of our solutions works, enabling informed collaboration and continuous enhancement.  Collaborative Iteration:  Our team actively engages with you throughout the solution development lifecycle, adapting swiftly to feedback and adjustments to ensure the final product meets your exact expectations and delivers measurable value.  Dedicated Post-Project Support:  Catalina AI remains committed even after project completion, offering dedicated post-project support to swiftly address any potential issues, refine the solutions, and ensure continuous operational effectiveness.  In choosing Catalina AI, agencies gain not only advanced AI capabilities but also a dedicated partner committed to their long-term growth and success.",
              "type": "string"
            },
            {
              "id": "8e990adb-07a6-4c50-8c24-2fbd811e3fc0",
              "name": "Agency Solution",
              "value": "### **Catalina AI - Hyper-Personalized Lead Generation and Outreach Solution**  At **Catalina AI**, we deliver an end-to-end solution designed to revolutionize how companies find, understand, and engage their ideal customers with precision, personalization, and at scale.  #### **1. Unlimited, Targeted Lead Scraping from LinkedIn** We empower businesses to **scrape an unlimited number of highly qualified leads** directly from LinkedIn, tailored precisely to your **Ideal Customer Profile (ICP)** and specific geographic focus. Our lead scraping process ensures you consistently have a fresh, targeted pool of prospects without ever paying for lead lists again.  #### **2. Deep Lead Enrichment** After scraping, we **enrich** each lead with critical, verified data pulled from LinkedIn and beyond, including: - First Name, Last Name - Professional Email Address - Company Name - Job Title - Professional Experience - LinkedIn \"About\" Summary - Address and Location Details  This enriched data forms a complete, actionable profile of each target.  #### **3. Advanced Research-Driven Intelligence** We don’t stop at basic information. Catalina AI uses **state-of-the-art deep research models** like **Perplexity AI** to perform **two layers of sophisticated research**:  - **Internal Research (Company Website Analysis):**   - Company Overview (core business, mission, products/services)   - Market Positioning (target audience, competitive landscape, unique selling propositions)   - Operational Insights (business challenges, opportunities, trends)   - Content and Branding Evaluation (messaging, tone, digital strategy)  - **External Research (Third-Party and Industry Sources):**   - Media and News Analysis (performance highlights, strategic moves)   - Market Reputation (public perception, customer reviews, industry expert insights)   - Financial and Strategic Developments (investments, partnerships, challenges)   - Public Sentiment Assessment  Both research processes generate **comprehensive, data-driven reports** that create a 360° view of each prospect and their company.  #### **4. AI-Generated Research Summaries** Using **OpenAI models**, we compile all internal and external research into **cohesive, highly detailed research summaries** that integrate your company's mission, vision, services, and case studies. This ensures your outreach is contextually rich and ultra-relevant to each lead.  #### **5. Creation of Hyper-Personalized Outreach Campaigns** Based on the deep understanding we generate: - We craft **hyper-personalized cold email sequences** tailored to each lead’s business needs, aspirations, and challenges. - We create **hyper-personalized LinkedIn outreach sequences** ready for easy import into your preferred tools (e.g., Instantly for emails, LinkedIn for social selling).  Each sequence is designed to **feel one-to-one, not mass produced**, dramatically increasing response rates and avoiding spam filters.  ---  ### **Key Benefits** - **Unlimited Lead Access:** Scrape and enrich as many leads as needed without additional costs. Never pay for leads again. - **Hyper-Personalized Campaigns:** Stand out in crowded inboxes and LinkedIn DMs with personalized, high-converting messaging. - **Higher Response Rates:** Avoid being flagged as spam or ignored due to impersonal outreach. Benefit from higer response rates and thus more sales - **Scalable, Repeatable System:** Generate leads and launch outreach campaigns whenever you need — no bottlenecks or recurring lead purchase costs. - **Strategic Insights:** Gain deep business intelligence about your ICPs to better inform your marketing, sales, and business development efforts.  ---  **Catalina AI** gives you a **full-cycle, AI-powered lead generation and engagement engine** — **so you never run out of leads or miss opportunities** to connect meaningfully with your ideal customers.",
              "type": "string"
            },
            {
              "id": "0a32d48e-7303-48b9-a0b9-f9cf97b865b2",
              "name": "Email Sender Name",
              "value": "Darren",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        3320
      ],
      "id": "d706f643-f144-482a-83fb-a6a7974eb567",
      "name": "Set Agency Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "034243b1-d1a5-42f5-b971-e7c89eacdac8",
              "name": "Set External Research Prompt",
              "value": "=Please research and analyze the company identified by the website **{{ $('Get Record From Emails Table').item.json['companyWebsite (from Leads)'][0] }}** using a broad range of external, trusted sources. In your research, go beyond the company’s own website and explore reputable news outlets, industry reports, financial analyses, published articles, credible media mentions and social media sources. Your analysis should cover the following aspects:- **Company Overview:** Provide a summary of the company’s core business, mission, and offerings, drawing on both the company website and external profiles. - **Media and News Insights:** Identify and summarize recent news articles, interviews, and press releases that discuss the company’s performance, strategic moves, or industry impact.- **Market Reputation and Competitiveness:** Evaluate how the company is perceived externally, including competitor comparisons, market positioning, and any emerging trends or challenges reported in trusted sources.- **Financial and Strategic Developments:** Highlight any significant financial results, investments, strategic partnerships, or market challenges mentioned in external analyses.- **Public Perception:** Discuss overall sentiment from industry experts, customer reviews, and social media if relevant, focusing on insights from well-established, authoritative resources. Compile your findings into a comprehensive report that can later be integrated with client-provided details on their challenges and our agency’s service offerings, to identify key opportunities for improving the client’s business through targeted strategic interventions.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        3440
      ],
      "id": "5b894a5e-4967-4638-b525-04391a3b8e0f",
      "name": "Set External Research Prompt",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=As a world-class LinkedIn sales outreach expert for {{ $json['Agency Name'] }} I need you to create a hyper personalized, highly engaging four step LinkedIn outreach sequence optimized to elicit a response from the recipient and sell the solution of {{ $json['Agency Name'] }}\n\nHere is the data of the ICP you must utilize to create your personalized LinkedIn outreach sequence\n\n<>\nPerson's Name:  {{ $('Get Record From Scrape Leads Table').item.json.firstName }}\n\nCompany Name:  {{ $('Get Record From Scrape Leads Table').item.json.companyName }}\n\nCompany Size: {{ $('Get Record From Scrape Leads Table').item.json.companySize }}\n\nExperience:  {{ $('Get Record From Scrape Leads Table').item.json.experianceDetails }}\n\nAbout: {{ $('Get Record From Scrape Leads Table').item.json.about }}\n\nAddress: {{ $('Get Record From Scrape Leads Table').item.json.address }} \n<>\n\nHere is a detailed report about the company that the ICP works for which you should analyze deeply in order to build your hyper personalized LinkedIn outreach sequence:\n\n{{ $('Basic LLM Chain3').item.json.text }}\n\nHere is a detailed summary of {{ $json['Agency Name'] }} the company you are selling for:\n\n{{ $json['Agency Context'] }}\n\nHere is a detailed summary of the Solution you are selling for {{ $json['Agency Name'] }}:\n\n{{ $json['Agency Solution'] }}\n\nNow go and create me a world class LinkedIn outreach sequence. It is vital to my career that you keep the messaging subtle, short, concise, personalized and make sure the messages are optimized for LinkedIn outreach. \n\nIt is also extremely important that you DO NOT output text like [Insert First_Name] Or [Insert Calendar Link]. NEVER DO THIS. The output you provide must be ready to send in a message directly without any adjustments\n\nI am counting on you!",
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\n\nYou are a world-class LinkedIn outreach sales expert for {{ $json['Agency Name'] }} and your goal is to create hyper personalized LinkedIn outreach sequences designed to sell the solution of {{ $json['Agency Name'] }} to the ICP. You are renowned for crafting ultra-personalized, high-converting LinkedIn outreach sequences. Your deep understanding of human decision-making psychology and persuasive frameworks combined with your incredible sales expertise enables you to consistently delivers industry-leading reply rates.\n\n# Task\n\nCreate highly personalized, psychology-driven linkedIn outreach sequences to sell the solution of {{ $json['Agency Name'] }} to the target ICP using the following process:\n\n1. Deeply analyze provided ICP data to deeply understand the recipient's context, role, and potential pain points\n2. Deeply analyze the the provided company report of the ICP.\n3. Deeply analyze the agency information of {{ $json['Agency Name'] }} which is provided to you.\n4. Deeply analyze the offer that you are selling for {{ $json['Agency Name'] }}.\n5. Craft a cohesive 4-day hyper personalized LinkedIn outreach campaign that will be sent to the ICP aimed to elicit a response and interest in {{ $json['Agency Name'] }}’s solution.\n6. Integrate proven psychological triggers (curiosity, social proof, authority, etc.)\n7. Optimize each message specifically for generating interested replies\n8. Ensure natural flow and progression between touch points\n9. Validate that messaging maintains authentic warmth while showcasing relevant value.\n10. Ensure the LinkedIn messages are short, concise, relevant and to the point.\n\n# Specifics\n\nYour expertise in crafting these campaigns is crucial to our success. Please ensure:\n\n- Ultra-personalized messaging leveraging recipient context\n- Concise, clear communication optimized for replies\n- Natural progression between each LinkedIn message touch point\n- Integration of case studies and social proof\n- Subtle handling of common objections\n- Professional yet warm tone throughout\n\n# Context\n\nYour help is required to create a hyper personalized LinkedIn outreach sequence for {{ $json['Agency Name'] }} that will is target the ICP. The aim of these outreach sequences is to sell the solution of {{ $json['Agency Name'] }} to the ICP. These outreach sequences are crucial for the success of {{ $json['Agency Name'] }} as they will be used to send LinkedIn messages to {{ $json['Agency Name'] }}’s prospects in order to sell the services of {{ $json['Agency Name'] }}. The better the LinkedIn message sequences are at getting replies and engagement from the recipient the more sales {{ $json['Agency Name'] }} will generate.\n\n# Notes\n\n- Ensure each message appears individually crafted for recipient\n- Maintain cohesive narrative across channels\n- Integrate psychological triggers naturally\n- Ensure you grab the readers attention fast\n- Focus on generating interested replies\n- It is vital to my career that you avoid generic or overly sales-focused language\n- It is vital to my career that you keep all communications short, concise, to the point and reply-focused\n- It is vital to my career that you deeply analyze the ICP data of the recipient, the company report of the ICP, the summary of {{ $json['Agency Name'] }} and the summary of the solution you are selling for {{ $json['Agency Name'] }} in order to create a world class LinkedIn outreach message sequence to sell the solution and get a high reply rate.\n- ONLY output the LinkedIn message sequence details. Don't add ANY additionally commentary\n- It is also extremely important that you DO NOT output text like [Insert First_Name] Or [Insert Calendar Link]. NEVER DO THIS. The output you provide must be ready to send in a message directly without any adjustments\n- ALWAYS make sure there is a message in the first linkedin contact"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2160,
        1700
      ],
      "id": "a40f9d58-2bde-4236-8447-dd35bcbb087e",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "Internal Company Research Prompt",
              "value": "=Please research and analyze the company identified by the website ** {{ $json.companyWebsite }}**. Your research should cover the following aspects: - **Company Overview:** Summarize the core business, mission, and key products or services offered. - **Market Positioning:** Describe the target audience, competitive landscape, and any unique selling propositions visible from their online presence. - **Operational Insights:** Identify any indications of business challenges or opportunities as reflected on the website, such as customer testimonials, service gaps, or emerging trends. - **Content and Branding:** Evaluate the tone, messaging, and overall digital strategy used on the website, including any notable design or navigational elements that reflect the company’s brand identity.  Please compile this information into a detailed summary. This research will later be integrated with client-provided details on their challenges and aspirations, as well as a description of our agency’s services, to produce a data-driven, insightful report outlining the best opportunities for enhancing the client's business through our tailored propositions.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1600
      ],
      "id": "4a310cb9-17bf-4990-a27c-6335052b8c8f",
      "name": "Set Internal Company Research Prompt1",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer PUT_YOUR_OWN_PERPLEXITY_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['Internal Company Research Prompt'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1600
      ],
      "id": "fef940de-e7eb-48fe-8e71-00f05110a51a",
      "name": "Perplexity - Internal Company Research1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer PUT_YOUR_OWN_PERPLEXITY_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json['Set External Research Prompt'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        1820
      ],
      "id": "04a521a6-9631-467c-a25f-d2e799d73107",
      "name": "Perplexity - External Company Research1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2080,
        1960
      ],
      "id": "b40a9084-2566-4863-b6f8-60c762159088",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n\nYou are a world class reporter capable of creating highly insightful reports based on company research.\n\n# Task\n\nCombine and synthesize the two detailed company research reports based on the company **{{ $('Get Record From Scrape Leads Table').item.json.companyName }}** into one unified, comprehensive, insightful, and actionable company analysis report. This final report will serve as the foundation for crafting a hyper-personalized, persuasive LinkedIn outreach sequence that will target **{{ $('Get Record From Scrape Leads Table').item.json.companyName }}**. Format the report as the text followed by a list of meaningful facts.\n\n# Important Rules\n\n- Do not add any additional text before the summary or after the facts.\n\n# Research\n\nInternal Company Research\n{{ $json.choices[0].message.content }}\n\nExternal Company Research:\n{{ $json.choices[0].message.content }}\n\n# Final Notes\n\nNow create me a highly insightful report on {{ $('Get Record From Scrape Leads Table').item.json.companyName }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1500,
        1700
      ],
      "id": "af2844ff-734c-4f19-9377-0ba7a46fa795",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1420,
        1960
      ],
      "id": "98ad7709-5a18-4db5-b9d3-0fcf7e5a2316",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7799da89-9b12-41b6-94b7-165feb42881c",
              "name": "Agency Name",
              "value": "Catalina AI",
              "type": "string"
            },
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "Agency Context",
              "value": "Catalina AI: Comprehensive Company Report  Who We Are  Catalina AI is a cutting-edge AI automation agency specializing in providing customized artificial intelligence-driven automation solutions specifically tailored to agencies. We aim to revolutionize operational efficiency and client acquisition strategies by leveraging innovative AI technologies to automate routine processes, enhance productivity, and significantly increase client outreach effectiveness.  Our team comprises industry-leading experts in artificial intelligence, data analysis, software development, and digital marketing, committed to delivering unparalleled service and tangible outcomes for our clients.  Our Mission & Vision  Mission  Our mission is to empower agencies by automating routine processes and optimizing workflows using state-of-the-art AI technologies. We strive to free our clients from repetitive tasks, enabling them to dedicate more time and resources to their core business activities, fostering sustainable growth and scalability.  Vision  Catalina AI aims to become a global leader in AI-driven automation solutions for agencies, recognized for our operational excellence, innovative approaches, and measurable impact. We envision setting industry benchmarks in automation technology, continuously evolving to meet the dynamic needs of the modern digital landscape.  Our Services  Hyper-Personalized AI Lead Generation & Outreach  Catalina AI’s flagship service offers a comprehensive solution designed to dramatically enhance agency lead generation and outreach effectiveness through hyper-personalization and data-driven insights.  Step-by-Step Process:  1. ICP Lead Generation:  Our AI solution scrapes unlimited, highly-qualified leads matching your Ideal Customer Profile (ICP) directly from LinkedIn.  Leads are targeted precisely based on specified criteria, such as geographic location, job title, industry, and more.  2. Lead Enrichment:  Leads undergo automatic enrichment, extracting critical details including first name, last name, verified emails, company names, job titles, professional experience, summaries, and addresses.  Enhanced data accuracy ensures highly personalized outreach.  3. Comprehensive AI-Driven Research:  Internal Analysis: Using sophisticated AI models like Perplexity, we compile in-depth insights covering company overviews, market positioning, operational insights, and branding evaluations directly from company websites.  External Analysis: Leveraging trusted sources, we perform extensive external research, including media analysis, market reputation assessment, competitive landscape evaluation, and detailed financial and strategic insights.  This dual-layered analysis ensures a nuanced, actionable understanding of prospects.  4. AI-Generated Research Summaries:  Advanced OpenAI models synthesize research findings into clear, actionable summaries tailored explicitly to your strategic objectives.  Summaries highlight potential business opportunities, strategic insights, and relevant industry trends.  5. Hyper-Personalized Outreach Sequences:  Utilizing detailed research summaries, we craft highly customized email and LinkedIn outreach sequences designed to maximize engagement and response rates.  Outreach materials are ready for seamless integration into popular outreach platforms like Instantly and LinkedIn, enabling effortless scale and implementation.  By leveraging this comprehensive service, clients gain a significant competitive advantage through superior lead quality, detailed prospect intelligence, and unparalleled outreach personalization, dramatically increasing their potential for successful conversions.  Why Choose Catalina AI Solutions  Tailored, Adaptable Solutions:  At Catalina AI, we provide robust out-of-the-box solutions carefully adapted to meet each client's unique needs and objectives. We prioritize close collaboration to continuously iterate and refine our solutions, ensuring absolute alignment with your evolving requirements.  Commitment to Client Success:  We deeply value the success of our clients. Our approach involves meticulous attention to detail and proactive communication throughout the entire process, from initial implementation to iterative improvements.  We provide detailed explanations and transparent processes, empowering clients with clear insights into how each component of our solutions works, enabling informed collaboration and continuous enhancement.  Collaborative Iteration:  Our team actively engages with you throughout the solution development lifecycle, adapting swiftly to feedback and adjustments to ensure the final product meets your exact expectations and delivers measurable value.  Dedicated Post-Project Support:  Catalina AI remains committed even after project completion, offering dedicated post-project support to swiftly address any potential issues, refine the solutions, and ensure continuous operational effectiveness.  In choosing Catalina AI, agencies gain not only advanced AI capabilities but also a dedicated partner committed to their long-term growth and success.",
              "type": "string"
            },
            {
              "id": "8e990adb-07a6-4c50-8c24-2fbd811e3fc0",
              "name": "Agency Solution",
              "value": "### **Catalina AI - Hyper-Personalized Lead Generation and Outreach Solution**  At **Catalina AI**, we deliver an end-to-end solution designed to revolutionize how companies find, understand, and engage their ideal customers with precision, personalization, and at scale.  #### **1. Unlimited, Targeted Lead Scraping from LinkedIn** We empower businesses to **scrape an unlimited number of highly qualified leads** directly from LinkedIn, tailored precisely to your **Ideal Customer Profile (ICP)** and specific geographic focus. Our lead scraping process ensures you consistently have a fresh, targeted pool of prospects without ever paying for lead lists again.  #### **2. Deep Lead Enrichment** After scraping, we **enrich** each lead with critical, verified data pulled from LinkedIn and beyond, including: - First Name, Last Name - Professional Email Address - Company Name - Job Title - Professional Experience - LinkedIn \"About\" Summary - Address and Location Details  This enriched data forms a complete, actionable profile of each target.  #### **3. Advanced Research-Driven Intelligence** We don’t stop at basic information. Catalina AI uses **state-of-the-art deep research models** like **Perplexity AI** to perform **two layers of sophisticated research**:  - **Internal Research (Company Website Analysis):**   - Company Overview (core business, mission, products/services)   - Market Positioning (target audience, competitive landscape, unique selling propositions)   - Operational Insights (business challenges, opportunities, trends)   - Content and Branding Evaluation (messaging, tone, digital strategy)  - **External Research (Third-Party and Industry Sources):**   - Media and News Analysis (performance highlights, strategic moves)   - Market Reputation (public perception, customer reviews, industry expert insights)   - Financial and Strategic Developments (investments, partnerships, challenges)   - Public Sentiment Assessment  Both research processes generate **comprehensive, data-driven reports** that create a 360° view of each prospect and their company.  #### **4. AI-Generated Research Summaries** Using **OpenAI models**, we compile all internal and external research into **cohesive, highly detailed research summaries** that integrate your company's mission, vision, services, and case studies. This ensures your outreach is contextually rich and ultra-relevant to each lead.  #### **5. Creation of Hyper-Personalized Outreach Campaigns** Based on the deep understanding we generate: - We craft **hyper-personalized cold email sequences** tailored to each lead’s business needs, aspirations, and challenges. - We create **hyper-personalized LinkedIn outreach sequences** ready for easy import into your preferred tools (e.g., Instantly for emails, LinkedIn for social selling).  Each sequence is designed to **feel one-to-one, not mass produced**, dramatically increasing response rates and avoiding spam filters.  ---  ### **Key Benefits** - **Unlimited Lead Access:** Scrape and enrich as many leads as needed without additional costs. Never pay for leads again. - **Hyper-Personalized Campaigns:** Stand out in crowded inboxes and LinkedIn DMs with personalized, high-converting messaging. - **Higher Response Rates:** Avoid being flagged as spam or ignored due to impersonal outreach. Benefit from higer response rates and thus more sales - **Scalable, Repeatable System:** Generate leads and launch outreach campaigns whenever you need — no bottlenecks or recurring lead purchase costs. - **Strategic Insights:** Gain deep business intelligence about your ICPs to better inform your marketing, sales, and business development efforts.  ---  **Catalina AI** gives you a **full-cycle, AI-powered lead generation and engagement engine** — **so you never run out of leads or miss opportunities** to connect meaningfully with your ideal customers.",
              "type": "string"
            },
            {
              "id": "0a32d48e-7303-48b9-a0b9-f9cf97b865b2",
              "name": "Email Sender Name",
              "value": "Darren",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        1700
      ],
      "id": "ceaa7787-08b5-42cd-af70-2f061cfa5f23",
      "name": "Set Agency Info1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "034243b1-d1a5-42f5-b971-e7c89eacdac8",
              "name": "Set External Research Prompt",
              "value": "=Please research and analyze the company identified by the website **{{ $json.companyWebsite }}** using a broad range of external, trusted sources. In your research, go beyond the company’s own website and explore reputable news outlets, industry reports, financial analyses, published articles, credible media mentions and social media sources. Your analysis should cover the following aspects:- **Company Overview:** Provide a summary of the company’s core business, mission, and offerings, drawing on both the company website and external profiles. - **Media and News Insights:** Identify and summarize recent news articles, interviews, and press releases that discuss the company’s performance, strategic moves, or industry impact.- **Market Reputation and Competitiveness:** Evaluate how the company is perceived externally, including competitor comparisons, market positioning, and any emerging trends or challenges reported in trusted sources.- **Financial and Strategic Developments:** Highlight any significant financial results, investments, strategic partnerships, or market challenges mentioned in external analyses.- **Public Perception:** Discuss overall sentiment from industry experts, customer reviews, and social media if relevant, focusing on insights from well-established, authoritative resources. Compile your findings into a comprehensive report that can later be integrated with client-provided details on their challenges and our agency’s service offerings, to identify key opportunities for improving the client’s business through targeted strategic interventions.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1820
      ],
      "id": "9c8ae383-c6f2-483d-b892-43f2ef9cfd08",
      "name": "Set External Research Prompt1",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Builds a Google Query').item.json.Query }}"
            },
            {
              "name": "num",
              "value": "={{ $('Get Record From Campaign Table - 1').item.json.LeadNumber }}"
            },
            {
              "name": "page",
              "value": "=1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        380
      ],
      "id": "4356c14b-a827-4d28-acec-8047e47755dd",
      "name": "SerperDev1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Organic",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1560,
        380
      ],
      "id": "a3ce8b71-0166-4f52-91cb-99214e725937",
      "name": "Splits Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b15f05fe-e7d3-4f09-a15a-fe7cdf176e7e",
              "name": "Organic",
              "value": "={{ $json.organic }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        380
      ],
      "id": "e7db18d9-8070-4c3f-9719-e20f653a7525",
      "name": "Map Fields 1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "LinkedinURL": "={{ $json.link }}",
            "Snippet": "={{ $json.snippet }}",
            "Subtitle": "=",
            "Campaign": "={{ $('Set Campaign Name').item.json.Campaign }}",
            "CompanyICP": "={{ $('Set CompanyICP').item.json.CompanyICP }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL",
              "displayName": "LinkedinURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create LinkedIn Sequence",
              "displayName": "Create LinkedIn Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanyICP",
              "displayName": "CompanyICP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extract LinkedIn Messages",
              "displayName": "Extract LinkedIn Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Extract",
                  "value": "Extract"
                },
                {
                  "name": "Idle",
                  "value": "Idle"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtitle",
              "displayName": "Subtitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Run",
                  "value": "Run"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experianceDetails",
              "displayName": "experianceDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyLinkedin",
              "displayName": "companyLinkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInJobTitle",
              "displayName": "LinkedInJobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Outreach Strategy",
              "displayName": "LinkedIn Outreach Strategy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 2",
              "displayName": "Emails 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 3",
              "displayName": "Emails 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OutreachSequence",
              "displayName": "OutreachSequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInOutreachSequences",
              "displayName": "LinkedInOutreachSequences",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        380
      ],
      "id": "5ca2826a-d6ee-4f02-8edc-2d283a782fdc",
      "name": "Insert LinkedIn Profiles Into Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblvSmWd0QNJ0ZjiZ",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblvSmWd0QNJ0ZjiZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start?": false,
            "id": "={{ $('Webhook').item.json.query.recordId }}",
            "Action": "Idle",
            "LeadNumber": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ProjectName",
              "displayName": "ProjectName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start?",
              "displayName": "Start?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "JobTitle",
              "displayName": "JobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanyType",
              "displayName": "CompanyType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanySize",
              "displayName": "CompanySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LeadNumber",
              "displayName": "LeadNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Idle",
                  "value": "Idle"
                },
                {
                  "name": "ScrapeLeads",
                  "value": "ScrapeLeads"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        380
      ],
      "id": "54c79083-be2d-4f54-b790-9b4219ce80c3",
      "name": "Update Campaign Action To Idle1",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        140,
        1760
      ],
      "id": "5c5595f0-bf1c-4d02-925e-ebd73aaf760b",
      "name": "Get Record From Scrape Leads Table",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Outreach Strategy": "={{ $json.text }}",
            "id": "={{ $('Get Record From Scrape Leads Table').item.json.id }}",
            "Extract LinkedIn Messages": "Extract"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL",
              "displayName": "LinkedinURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create LinkedIn Sequence",
              "displayName": "Create LinkedIn Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extract LinkedIn Messages",
              "displayName": "Extract LinkedIn Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Extract",
                  "value": "Extract"
                },
                {
                  "name": "Idle",
                  "value": "Idle"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtitle",
              "displayName": "Subtitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Run",
                  "value": "Run"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experianceDetails",
              "displayName": "experianceDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyLinkedin",
              "displayName": "companyLinkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInJobTitle",
              "displayName": "LinkedInJobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Outreach Strategy",
              "displayName": "LinkedIn Outreach Strategy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 2",
              "displayName": "Emails 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 3",
              "displayName": "Emails 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2580,
        1700
      ],
      "id": "881eca24-9c9c-47a5-a7a3-c53604c343ae",
      "name": "Update Record In ScrapeLeads Table",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email Sequence Generation\n",
        "height": 560,
        "width": 2920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3180
      ],
      "id": "ecef1b04-ca9b-4b6c-8e54-faf87d9a60cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## LinkedIn Sequence Generation\n",
        "height": 560,
        "width": 2920,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1560
      ],
      "id": "6858374c-469d-43c5-95eb-0cbd11d98343",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## LinkedIn Profile Scraping\n",
        "height": 580,
        "width": 2920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c9b14e74-279d-40f9-9cf7-30a878ee6a81",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## LinkedIn Profile Enrichment\n",
        "height": 440,
        "width": 1000,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "id": "4d711616-094e-4ff6-81a7-b60930e18968",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Email Extraction\n",
        "height": 480,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3760
      ],
      "id": "754f66ca-0473-49dd-a239-82ed6a059c02",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## LinkedIn Message Extraction \n",
        "height": 560,
        "width": 1240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2140
      ],
      "id": "b248a4ba-985c-454f-88d4-94e70bc90bcb",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        2520
      ],
      "id": "238dc900-5f02-4431-a435-bc956b68fb06",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        4080
      ],
      "id": "959c598d-1fc4-4f23-acaf-e2636b1e5c53",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        2300
      ],
      "id": "b193ec3a-a580-482c-9371-5ef554652215",
      "name": "Get Record From Scrape Leads Table1",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        100,
        1200
      ],
      "id": "c8168699-a6a7-421e-9efe-0d6b7a4bc80b",
      "name": "Get Record From Scrape Leads Table2",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "content": "## Lead Qualifiction",
        "height": 480,
        "width": 1800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1060
      ],
      "id": "95fdab64-5d38-4a68-993c-da1271719fc7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d426fd9-7a19-4795-9f49-6fe9e0ed83a9",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "6f1f07e0-1e5d-44f3-b26c-5be9225fa15e",
              "name": "lastName",
              "value": "={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "fe5a7623-3300-4b5c-b874-509235677b2a",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "b9d40744-85d6-4772-b44c-0491ed96a476",
              "name": "address",
              "value": "={{ $json.addressWithCountry }}",
              "type": "string"
            },
            {
              "id": "2b0f3348-39a5-499a-bacd-1d3a3b15de2c",
              "name": "about",
              "value": "={{ $json.about }}",
              "type": "string"
            },
            {
              "id": "274ca5b5-7ec9-4a4f-824d-2a068d3cf29a",
              "name": "experianceDetails",
              "value": "={{ $json.experiences\n    .map(exp => \n      exp.breakdown && exp.subComponents && exp.subComponents.length \n        ? exp.subComponents\n            .map(sub => `${sub.title}, ${exp.title}, ${sub.caption}`)\n            .join(\"\\n\")\n        : `${exp.title}, ${exp.subtitle}, ${exp.caption}`\n    )\n    .join(\"\\n\")\n}}",
              "type": "string"
            },
            {
              "id": "211377cb-9083-4258-a251-610ed8f1fb93",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ec666fac-f5ef-4ef9-be69-41e559d783f1",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "38ce1f5c-caa1-4b80-b792-02d9ab16b712",
              "name": "companyWebsite",
              "value": "={{ $json.companyWebsite }}",
              "type": "string"
            },
            {
              "id": "0cf0a484-6990-4a08-9532-ccf586544b92",
              "name": "companyLinkedin",
              "value": "={{ $json.companyLinkedin }}",
              "type": "string"
            },
            {
              "id": "93f3142e-533c-4c56-a2bc-30bf0244a6ce",
              "name": "companySize",
              "value": "={{ $json.companySize }}",
              "type": "string"
            },
            {
              "id": "123fb900-f510-4078-9f1e-7f6c14fe2d24",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "e90298a4-a383-4d08-a49a-4f6ef001a676",
              "name": "mobileNumber",
              "value": "={{ $json.mobileNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        760
      ],
      "id": "cdb01e3d-3876-4c3a-bdf1-5df8de3c760b",
      "name": "Manual Mappping"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "PUT_YOUR_OWN_APIFY_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"profileUrls\": [\n        \"{{ $json.LinkedinURL }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        760
      ],
      "id": "1f1ed017-7ff3-462d-9411-2ea31461e348",
      "name": "Apify"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "LeadQualificationPrompt",
              "value": "=# Role \n\nYou are a highly skilled lead qualification specialist with extensive experience in analyzing company profiles and determining their alignment with ideal customer profiles. Your expertise in business analysis and market research enables you accurately assign a qualification score to leads that reflect there level of qualification to a companies ideal customer profile. \n\n# Task \n\nAnalyze the provided company website information and determine the leads qualification score according to our ideal customer profile using the following step-by-step process:\n\n1. Review the companies scraped website information which is provided by the user to  understand their business model, size, and market focus \n\n2. Compare all gathered information against the provided ideal customer profile specifications \n\n4. Assign a qualification score to the lead from 1 and 10. A score of 1 means the lead is extremely unqualified. A score of 10 means the lead is a perfectly qualified customer.\n\n# Specifics \n\n- This qualification process is crucial for our sales team's efficiency and success\n\n- Your thorough analysis of each data point is essential for accurate lead qualification \n\n- We greatly value your precise assessment in determining lead quality \n\n- Output must be a whole number from 1 and 10.\n\n# Context \n\nOur lead qualification process is fundamental to our sales efficiency. By accurately qualifying leads against our ideal customer profile, we ensure our sales team focuses their efforts on the most promising opportunities. Your role in this process directly impacts our conversion rates and business growth. \n\n# Notes \n\n- Output must be a whole number from 1 and 10 without any additional text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1200
      ],
      "id": "767976bb-2fc2-4a4c-97ab-ecf8d865210e",
      "name": "Set Lead Qualification System Prompt",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09d81bf4-ef81-46ed-a043-5e1cf1b130c6",
              "name": "LeadQualificationPrompt",
              "value": "=As a highly skilled lead qualification specialist can you please analyze this companies website information which is provided below and assign this company a lead score from 1 - 10 reflecting how qualified the company is as a lead for my business based on my companies ideal customer profile. My companies ideal customer profile specifications are:  \n\n{{ $('Get Record From Scrape Leads Table2').item.json.CompanyICP }} \n\nHere is the scraped company website information:\n{{ $('HTTP Request').item.json.results[0].raw_content }}\n\n\n\n# Task \n1. Research in depth the companies website website information\n2. Compare all gathered information against the provided ideal customer profile specifications \n4. Assign a qualification score to the lead between 1 and 10. A score of 1 means the lead is extremely unqualified. A score of 10 means the lead is a perfectly qualified customer.\n\n# Notes \n- Output must be a whole number between 1 and 10 with no additional text.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1200
      ],
      "id": "a9d1bbc8-19dd-4858-a559-dd639fc6009c",
      "name": "Set Lead Qualification User Prompt",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ee51694-5646-4d42-bfc9-9a4a316711d2",
              "name": "CompanyICP",
              "value": "=Company Type: {{ $('Get Record From Campaign Table - 1').item.json.CompanyType }}, Company Size: {{ $('Get Record From Campaign Table - 1').item.json.CompanySize }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        260
      ],
      "id": "0c9ee647-866a-4947-bfb7-020a74f3c486",
      "name": "Set CompanyICP"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.LeadQualificationPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Set Lead Qualification System Prompt').item.json.LeadQualificationPrompt }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1120,
        1200
      ],
      "id": "f9a29533-939e-434b-9580-17fe0c401512",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1020,
        1400
      ],
      "id": "8388f421-c9f7-4b40-b639-4e6b423202fe",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "iNiz53Yy3AWmTq9X",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tbltvNDtBhuTp2cqS",
          "mode": "list",
          "cachedResultName": "ScrapeLeads",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tbltvNDtBhuTp2cqS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Outreach Strategy": "=",
            "id": "={{ $('Get Record From Scrape Leads Table2').item.json.id }}",
            "Extract LinkedIn Messages": "Extract",
            "QualificationScore": "={{ $json.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "QualificationScore",
              "displayName": "QualificationScore",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "QualifyLeads",
              "displayName": "QualifyLeads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedinURL",
              "displayName": "LinkedinURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create LinkedIn Sequence",
              "displayName": "Create LinkedIn Sequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompanyICP",
              "displayName": "CompanyICP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Extract LinkedIn Messages",
              "displayName": "Extract LinkedIn Messages",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Extract",
                  "value": "Extract"
                },
                {
                  "name": "Idle",
                  "value": "Idle"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subtitle",
              "displayName": "Subtitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Run",
                  "value": "Run"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experianceDetails",
              "displayName": "experianceDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyLinkedin",
              "displayName": "companyLinkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companySize",
              "displayName": "companySize",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInJobTitle",
              "displayName": "LinkedInJobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Outreach Strategy",
              "displayName": "LinkedIn Outreach Strategy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 2",
              "displayName": "Emails 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Emails 3",
              "displayName": "Emails 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "OutreachSequence",
              "displayName": "OutreachSequence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInOutreachSequences",
              "displayName": "LinkedInOutreachSequences",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedInOutreachSequences copy",
              "displayName": "LinkedInOutreachSequences copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1560,
        1200
      ],
      "id": "cfc2b98e-3aed-4c45-bce6-2fef7088997f",
      "name": "Update Record In ScrapeLeads Table1",
      "executeOnce": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblMMFjzZjOnks5EO",
          "mode": "list",
          "cachedResultName": "LinkedInOutreachSequences",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblMMFjzZjOnks5EO"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        2880
      ],
      "id": "31749991-9062-40d5-8ba8-7476f7ce4790",
      "name": "Get LinkedIn Outreach Sequence Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "PUT_YOUR_OWN_EXPANDI_WEBHOOK_URL_HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_link",
              "value": "={{ $json.profile_link[0] }}"
            },
            {
              "name": "first_message",
              "value": "={{ $json['First LinkedIn Message'] }}"
            },
            {
              "name": "second_message",
              "value": "={{ $json['Second LinkedIn Message'] }}"
            },
            {
              "name": "third_message",
              "value": "={{ $json['Third LinkedIn Message'] }}"
            },
            {
              "name": "fourth_message",
              "value": "={{ $json['Fourth LinkedIn Message'] }}"
            },
            {
              "name": "name",
              "value": "={{ $json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        2880
      ],
      "id": "5179349d-e17e-4847-b14c-608ad2ac8c4c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PUT_YOUR_OWN_INSTANTLY_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json['email (from Leads) 2 (from EmailLink)'][0] }}"
            },
            {
              "name": "custom_variables.first_email",
              "value": "={{ $json['First Outreach Message'] }}"
            },
            {
              "name": "custom_variables.second_email",
              "value": "={{ $json['Second Outreach Message'] }}"
            },
            {
              "name": "custom_variables.third_email",
              "value": "={{ $json['Third Outreach Message'] }}"
            },
            {
              "name": "custom_variables.fourth_email",
              "value": "={{ $json['Third Outreach Message'] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        4420
      ],
      "id": "82287b42-f9e2-43a7-acea-1f6ac1c5ebef",
      "name": "HTTP Request4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Send To Expandi\n",
        "height": 440,
        "width": 780,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2720
      ],
      "id": "ac516186-455f-4534-917c-c0ab1c26fc94",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Send To Instantly\n",
        "height": 440,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        4260
      ],
      "id": "8abd3437-6555-4c48-bcca-43537c3e5ca1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apputWUB6R0Ls2FWO",
          "mode": "list",
          "cachedResultName": "Sales Agent Template",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO"
        },
        "table": {
          "__rl": true,
          "value": "tblBUgQOt1yFiTAny",
          "mode": "list",
          "cachedResultName": "EmailOutreachSequence",
          "cachedResultUrl": "https://airtable.com/apputWUB6R0Ls2FWO/tblBUgQOt1yFiTAny"
        },
        "id": "={{ $('Webhook').item.json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        140,
        4420
      ],
      "id": "22764b21-0d49-4e8e-85e5-20afc27a8b9a",
      "name": "Get Email Outreach Sequence Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "HB6pc99jhrmQ4fvC",
          "name": "Airtable Denipharma"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PUT_YOUR_OWN_TAVILY_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ $json.companyWebsite }}"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "name": "extract_depth",
              "value": "basic"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        1200
      ],
      "id": "f80e1e51-4ff7-4256-98d6-4f8ef98fd11f",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Record From Campaign Table - 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Campaign Table - 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Scrape Leads Table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Scrape Leads Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get LinkedIn Outreach Sequence Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Scrape Leads Table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Emails Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Record From Emails Table - 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Email Outreach Sequence Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerperDev": {
      "main": [
        [
          {
            "node": "Map Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Record In Emails Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Airtable10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Campaign Name": {
      "main": [
        [
          {
            "node": "Set CompanyICP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builds a Google Query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits Data": {
      "main": [
        [
          {
            "node": "Insert LinkedIn Profiles Into Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields ": {
      "main": [
        [
          {
            "node": "Splits Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert LinkedIn Profiles Into Airtable": {
      "main": [
        [
          {
            "node": "Update Campaign Action To Idle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Campaign Table - 3": {
      "main": [
        [
          {
            "node": "Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Campaign Table - 1": {
      "main": [
        [
          {
            "node": "Set Campaign Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Emails Table": {
      "main": [
        [
          {
            "node": "Set Internal Company Research Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set External Research Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Emails Table - 2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SerperDev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Action To Idle": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SerperDev1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Internal Company Research Prompt": {
      "main": [
        [
          {
            "node": "Perplexity - Internal Company Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity - Internal Company Research": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity - External Company Research": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Set Agency Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Agency Info": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set External Research Prompt": {
      "main": [
        [
          {
            "node": "Perplexity - External Company Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Update Record In ScrapeLeads Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Internal Company Research Prompt1": {
      "main": [
        [
          {
            "node": "Perplexity - Internal Company Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity - Internal Company Research1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity - External Company Research1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Set Agency Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Agency Info1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set External Research Prompt1": {
      "main": [
        [
          {
            "node": "Perplexity - External Company Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerperDev1": {
      "main": [
        [
          {
            "node": "Map Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits Data1": {
      "main": [
        [
          {
            "node": "Insert LinkedIn Profiles Into Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields 1": {
      "main": [
        [
          {
            "node": "Splits Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert LinkedIn Profiles Into Airtable1": {
      "main": [
        [
          {
            "node": "Update Campaign Action To Idle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Scrape Leads Table": {
      "main": [
        [
          {
            "node": "Set Internal Company Research Prompt1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set External Research Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Scrape Leads Table1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record From Scrape Leads Table2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Mappping": {
      "main": [
        [
          {
            "node": "Insert Scraped Leads Into ScrapeLeads Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify": {
      "main": [
        [
          {
            "node": "Manual Mappping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Qualification System Prompt": {
      "main": [
        [
          {
            "node": "Set Lead Qualification User Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Qualification User Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set CompanyICP": {
      "main": [
        [
          {
            "node": "Builds a Google Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Update Record In ScrapeLeads Table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LinkedIn Outreach Sequence Data": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Outreach Sequence Data": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set Lead Qualification System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "53b9b178-b0ab-4a5f-b271-e871ddffe861",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-14T15:17:53.637Z",
      "updatedAt": "2025-05-14T15:17:53.637Z",
      "id": "Vz72wvUnzz8lSLTD",
      "name": "*****"
    },
    {
      "createdAt": "2025-05-14T16:51:32.420Z",
      "updatedAt": "2025-05-14T16:51:32.420Z",
      "id": "3sm9u5ZcrRCxPuvn",
      "name": "LeadGen"
    },
    {
      "createdAt": "2025-05-14T16:51:43.688Z",
      "updatedAt": "2025-05-14T16:51:43.688Z",
      "id": "fH9mEMysCIkI3Vpd",
      "name": "LinkedIn"
    }
  ]
}