scraping-y-resumen-semanal-de-noticias-técnicas-desde-sitio-sin-rss-.json
{
  "createdAt": "2025-05-03T10:46:18.877Z",
  "updatedAt": "2025-05-03T19:47:16.497Z",
  "id": "OTTjgX1IiFcPD5HZ",
  "name": "Scraping y Resumen Semanal de Noticias Técnicas desde Sitio sin RSS",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "=div:nth-child(9) > div:nth-child(3) > a:nth-child(2)",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "d900c494-b2b0-4d04-8285-2081bbe91f7b",
      "name": "Extract the HTML with the right css class",
      "type": "n8n-nodes-base.html",
      "position": [
        -160,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-1106-preview",
        "prompt": {
          "messages": [
            {
              "content": "=Create a summary in less than 70 words {{ $json[\"content\"] }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "0a43ded7-8ad0-49ca-b326-af35d05ab4c8",
      "name": "Summary",
      "type": "n8n-nodes-base.openAi",
      "position": [
        -540,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-1106-preview",
        "prompt": {
          "messages": [
            {
              "content": "=name the 3 most important technical keywords in {{ $json[\"content\"] }} ? just name them without any explanations or other sentences"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "e4d0f5ba-580c-44ff-ae9b-83583897f767",
      "name": "Keywords",
      "type": "n8n-nodes-base.openAi",
      "position": [
        -540,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "keywords",
              "stringValue": "={{ $json[\"message\"][\"content\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "54a6ec6a-8fbf-48df-a731-f2ce5386530f",
      "name": "Rename keywords",
      "type": "n8n-nodes-base.set",
      "position": [
        -360,
        940
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "=summary",
              "stringValue": "={{ $json[\"message\"][\"content\"] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "615648d9-bdd1-4c6a-8457-31be84948b4b",
      "name": "Rename Summary",
      "type": "n8n-nodes-base.set",
      "position": [
        -360,
        760
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5c27f050-5d8d-499c-8800-b650b65d314b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -140,
        880
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "div:nth-child(9) > div:nth-child(2) > span:nth-child(1)",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "1d61bbe5-2eff-4956-80a7-26f71e379c5a",
      "name": "Extract date",
      "type": "n8n-nodes-base.html",
      "position": [
        -160,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const currentDate = new Date();\nconst sevenDaysAgo = new Date(currentDate.setDate(currentDate.getDate() - 70)); // Change the number of days going back to your liking (e.g. from -7 to -1) -> BUT sync with the cron job (first node)\n\nconst filteredItems = items.filter(item => {\n const postDate = new Date(item.json[\"Date\"]); // Assuming \"Date\" is the field name in the extracted html\n return postDate >= sevenDaysAgo;\n});\n\nreturn filteredItems;\n"
      },
      "id": "54f1cc0b-cbbd-40e3-9750-9b9ff5378aa4",
      "name": "Select posts of last 7 days",
      "type": "n8n-nodes-base.code",
      "position": [
        460,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "6623c5e9-b987-4ff1-8f99-30384cfd40cc",
      "name": "Merge date & links",
      "type": "n8n-nodes-base.merge",
      "position": [
        240,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "={{ $json[\"Link\"] }}",
        "options": {}
      },
      "id": "fb7737d7-204b-4078-b245-b3c931b45a1b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        320
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7340ee72-ccb0-460d-9f1d-aed63461f89e",
      "name": "Merge Content with Date & Link",
      "type": "n8n-nodes-base.merge",
      "position": [
        840,
        580
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1.fl-heading > span:nth-child(1)"
            },
            {
              "key": "content",
              "cssSelector": ".fl-node-5c7574ae7d5c6 > div:nth-child(1)"
            }
          ]
        },
        "options": {}
      },
      "id": "9dbb6728-b4bb-4aa8-9095-c4a5984d64e9",
      "name": "Extract individual posts",
      "type": "n8n-nodes-base.html",
      "position": [
        840,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Select only the newest news: todays date going back xy days",
        "height": 276.31054308676767,
        "width": 180.9747474601832
      },
      "id": "b22d9f46-1bfd-4631-9738-687962f6594b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "5c24bb73-5d51-4a8c-872e-dc0273920a32",
      "name": "Merge ChatGPT output with Date & Link",
      "type": "n8n-nodes-base.merge",
      "position": [
        160,
        880
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nExtracting the individual links of the press release page in order to retrieve the individual posts on their respective **url**",
        "height": 304.2550759710132,
        "width": 182.2748213508401
      },
      "id": "629b425f-75ac-427b-a64f-5c13674ecb4a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        400
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "Extracting the dates of the posts of the press release page.\nThe right CSS selector has to be chosen.\n[More info on datagrab.io](https://datagrab.io/blog/guide-to-css-selectors-for-web-scraping/)",
        "height": 289.463147786618,
        "width": 178.75185894039254
      },
      "id": "01b67018-5a7e-4522-90b5-2bb6ddcdc3b3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Scraping posts of a news site without RSS feed\n\n\nThe [News Site](https://www.colt.net/resources/type/news/) from Colt, a telecom company, does not offer an RSS feed, therefore web scraping is the \nchoice to extract and process the news.\n\nThe goal is to get only the newest posts, a summary of each post and their respective (technical) keywords.\n\nNote that the news site offers the links to each news post, but not the individual news. We collect first the links and dates of each post before extracting the newest ones.\n\nThe result is sent to a SQL database, in this case a NocoDB database.\n\nThis process happens each week thru a cron job.\n\n**Requirements**:\n- Basic understanding of CSS selectors and how to get them via browser (usually: right click &rarr; inspect)\n- ChatGPT API account - normal account is not sufficient\n- A NocoDB database - of course you may choose any type of output target\n\n**Assumptions**:\n- CSS selectors work on the news site\n- The post has a date with own CSS selector - meaning date is not part of the news content\n\n**\"Warnings\"**\n- Not every site likes to be scraped, especially not in high frequency\n- Each website is structured in different ways, the workflow may then need several adaptations.\n\n\nHappy about any suggestion to improve. You may contact me on **Mastodon**: https://bonn.social/@askans",
        "height": 1127.2017245821128,
        "width": 334.4404040637068
      },
      "id": "c81cd742-18c4-499b-9ac0-988f70379f47",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Weekly cron job",
        "height": 237.91333335255808,
        "width": 153.90180146729315
      },
      "id": "fe7f5043-758d-4052-9830-dc22573dc5eb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The html of the news site is being retrieved: https://www.colt.net/resources/type/news/",
        "height": 241.454848504947,
        "width": 185.41515152389002
      },
      "id": "fc9ba26d-c038-4eb3-be12-e735589e25df",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "As the extraction are returned as arrays, they transformed into individual JSON items to enable looping with other nodes",
        "height": 469.2923233086395,
        "width": 187.3613302133812
      },
      "id": "7d6712c8-bc46-4e82-a091-5265a167aebd",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The links of the individual posts and the dates of the posts ",
        "height": 274.50898992724416,
        "width": 150
      },
      "id": "3c0c651b-105e-4742-b951-337976fdd975",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.colt.net/resources/type/news/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "0ef7bc06-fed8-41e8-b0e8-95ee607cb176",
      "name": "Retrieve the web page for further processsing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -380,
        320
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "Get the html of each individual **newest** post",
        "height": 272.1479798256519,
        "width": 155.0036363426638
      },
      "id": "93b904e9-3f9d-4d55-b2ee-0f6aac328d3b",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Extracting the title & content (text) of each individual news post with the right CSS selector",
        "height": 269.2504410842093,
        "width": 184.07417896879767
      },
      "id": "fdff2ee5-86d8-4b63-8d87-75657c84f2fa",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Merge link to url, date with content (text) and title of each news psot",
        "height": 234.13422787857044,
        "width": 191.87778190338406
      },
      "id": "b842fe82-b983-41cb-97ba-dc19a7d73e9c",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create a summary of each news post with ChatGPT. You need a ChatGPT API account for this",
        "height": 256.2444361932317,
        "width": 150
      },
      "id": "5b9d0906-9b9f-4779-9db8-1d2a0dc68d21",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nGet the 3 keywords of each news post",
        "height": 218.52702200939785,
        "width": 152.85976723045226
      },
      "id": "4cc4eacf-3666-4990-bef0-ee3751c9b1d5",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Just a renaming of data fields and eliminating unnecessary ones",
        "height": 489.05192374172555,
        "width": 182.7735784797001
      },
      "id": "f8770864-2ecc-426a-9d08-47b94f42d469",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Merge summary and keywords of each news post",
        "height": 254.94383570413422,
        "width": 169.7675735887227
      },
      "id": "93f64057-eb92-44e9-860c-6e7d129a2538",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 4,
              "triggerAtMinute": 32
            }
          ]
        }
      },
      "id": "aecb5d5d-809c-4a5d-87cf-dd39ab92f719",
      "name": "Schedule Trigger each week",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -560,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Add title, link and date to summary and keywords of each news post",
        "height": 260.5279202647822,
        "width": 180.1723775015045
      },
      "id": "3e738013-d563-4e15-9df4-6b41c9a34056",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prqu4e8bjj4bv1j",
        "table": "mhbalmu9aaqcun6",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=News_Source",
              "fieldValue": "=Colt"
            },
            {
              "fieldName": "Title",
              "fieldValue": "={{ $json[\"title\"] }}"
            },
            {
              "fieldName": "Date",
              "fieldValue": "={{ $json[\"Date\"] }}"
            },
            {
              "fieldName": "Link",
              "fieldValue": "={{ $json[\"Link\"] }}"
            },
            {
              "fieldName": "Summary",
              "fieldValue": "={{ $json[\"summary\"] }}"
            },
            {
              "fieldName": "Keywords",
              "fieldValue": "={{ $json[\"keywords\"] }}"
            }
          ]
        }
      },
      "id": "f9c27f58-74c0-4faa-a650-c99ed7c8a122",
      "name": "NocoDB news database",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        400,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## News summaries and keywords &rarr; database\n\n[NocoDB](https://nocodb.com/) is an SQL database, here we store the news summaries and keywords for further processing. Any other output target can be chosen here, e.g. e-mail, Excel etc.\n\nYou need first have that database structured before appending the news summaries and additional fields. The you can shape this node.\n\nSome fields may be edited in the database itself (e.g. relevance of the news to you) and may be filled therefore with a default value or not at all",
        "height": 268.5678114630957,
        "width": 483.95825869942666
      },
      "id": "aba2de0a-191c-44b3-8063-4a48b64fcd5a",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 268.56781146309544,
        "width": 262.99083066277313
      },
      "id": "eb85766a-5ded-4a34-b9fb-658eb0ab8c71",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {
          "destinationFieldName": "Link"
        }
      },
      "id": "1fef3055-58ff-4cd5-aeac-af906fbf225b",
      "name": "Create single link items",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        40,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {
          "destinationFieldName": "Date"
        }
      },
      "id": "8ecaa5b2-9028-4d3f-b9d5-6aec734c548f",
      "name": "Create single date items",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        40,
        160
      ],
      "typeVersion": 3
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Merge ChatGPT output with Date & Link",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Rename Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords": {
      "main": [
        [
          {
            "node": "Rename keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract date": {
      "main": [
        [
          {
            "node": "Create single date items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract individual posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename keywords": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge date & links": {
      "main": [
        [
          {
            "node": "Select posts of last 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create single date items": {
      "main": [
        [
          {
            "node": "Merge date & links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create single link items": {
      "main": [
        [
          {
            "node": "Merge date & links",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract individual posts": {
      "main": [
        [
          {
            "node": "Merge Content with Date & Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger each week": {
      "main": [
        [
          {
            "node": "Retrieve the web page for further processsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select posts of last 7 days": {
      "main": [
        [
          {
            "node": "Merge Content with Date & Link",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content with Date & Link": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ChatGPT output with Date & Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ChatGPT output with Date & Link": {
      "main": [
        [
          {
            "node": "NocoDB news database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the HTML with the right css class": {
      "main": [
        [
          {
            "node": "Create single link items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve the web page for further processsing": {
      "main": [
        [
          {
            "node": "Extract the HTML with the right css class",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5be1beaf-bbb6-4a9c-9bf3-a9ee2d96993f",
  "triggerCount": 0,
  "tags": []
}