marketing/contenido/agente-de-creación-de-post-para-linkedin-con-imagen-openai-/workflow.json
{
  "createdAt": "2025-04-28T07:18:19.417Z",
  "updatedAt": "2025-05-05T20:40:31.356Z",
  "id": "s3aiwkrafEvQf1Rz",
  "name": "Agente de Creación de Post para Linkedin con imagen OpenAI",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Busca en la web",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1120,
        380
      ],
      "id": "adba0e3c-05e0-4f33-80e9-e5ba2e9005fd",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1260,
        380
      ],
      "id": "05753e04-3777-4b33-be01-4a400f228395",
      "name": "GPT_4.1",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "person": "=",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2600,
        -120
      ],
      "id": "d6a517a1-fa43-4ed4-aa6d-27f04ce3994a",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "JRv9mvUG6xAtgZNC",
          "name": "LinkedIn account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2180,
        100
      ],
      "id": "57e1b7f5-a779-4626-9585-b928dd4a16b4",
      "name": "Convert to Binary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        740
      ],
      "id": "4eefdc18-9a2d-4dd0-b77d-efcf7b683594",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1280,
        740
      ],
      "id": "1efe1130-4bf2-4e1d-8a81-69674f140748",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "A cute baby sea otter"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        740
      ],
      "id": "88a740d0-2b36-4d42-b961-3bda0a11238c",
      "name": "Generate Image1"
    },
    {
      "parameters": {
        "formTitle": "Generador de Post de Lin kedin",
        "formDescription": "Complete estos campos y tendrás una publicación completa para LinkedIn en un minuto.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "nombre@ejemplo.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Topic del Post",
              "placeholder": "Diseño web",
              "requiredField": true
            },
            {
              "fieldLabel": "Audiencia Target",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        820,
        100
      ],
      "id": "9b61c600-ac51-411f-acdd-d7c3bce9b91d",
      "name": "Formulario",
      "webhookId": "359fa996-5531-40ae-be37-4a6e136952e2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post: {{ $json['Topic del Post'] }}\n\nTarget Audience: {{ $json['Audiencia Target'] }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n## Objectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n- Starts with an engaging hook\n- Professional in tone\n- Clear and easy to read\n- Educational and insightful\n- Light on emojis (use only when highly relevant and minimal)\n- Includes proper source attribution (e.g., “according to [source]”)\n- Contains relevant hashtags to improve visibility\n- Ends with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\n## Output Instructions:\n- Your ONLY output should be the final LinkedIn post text.\n- Do not include explanations, notes, or anything beyond the post itself.\n\n## Example Workflow:\n1) Receive a topic (e.g., “The ROI of warehouse automation”)\n2) Use Tavily to search and gather recent information or case studies\n3) Draft a LinkedIn post using that research\n4) Format it with source citations, clean structure, optional hashtags, and a call to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1100,
        100
      ],
      "id": "1e7a9170-3c0b-460a-9309-9055d0509f3c",
      "name": "Agente de Post para Linkedin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post: \n{{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1540,
        100
      ],
      "id": "01965953-f3c7-41a8-a013-b403e5218757",
      "name": "Agente de Prompt para imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        100
      ],
      "id": "212f78e6-b1ea-4280-8258-dafa405fb475",
      "name": "Crea Imagen con OpenAI"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.Email }}",
        "subject": "Tu Post de Linkedin!",
        "emailType": "text",
        "message": "=Aquí tienes Dani!\n\n{{ $('Agente de Post para Linkedin').item.json.output }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2440,
        100
      ],
      "id": "a4aa56e8-96c7-4f54-a853-998fb8eda1d9",
      "name": "Envía Email",
      "webhookId": "20f8ef41-7183-41f1-9104-a6a042b807ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "BwWjplhZQVpEPVPV",
          "name": "Gmail daniel@averis.es"
        }
      }
    }
  ],
  "connections": {
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Agente de Post para Linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT_4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Post para Linkedin",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de Prompt para imagen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Envía Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Generate Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario": {
      "main": [
        [
          {
            "node": "Agente de Post para Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Post para Linkedin": {
      "main": [
        [
          {
            "node": "Agente de Prompt para imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Prompt para imagen": {
      "main": [
        [
          {
            "node": "Crea Imagen con OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Imagen con OpenAI": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fde8d373-4464-4a02-ba92-eb14c7ca451b",
  "triggerCount": 1,
  "tags": []
}