utilidades/scraping/scraper-avanzado-con-selenium,-proxies-y-gpt-4-para-páginas-con-o-sin-login-/workflow.json
{
  "createdAt": "2025-05-03T10:54:06.943Z",
  "updatedAt": "2025-05-03T19:46:54.780Z",
  "id": "5yGu2V5vjil5tR3G",
  "name": "Scraper Avanzado con Selenium, Proxies y GPT-4 para Páginas con o sin Login",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Url Find ",
              "cssSelector": "=a[href*=\"https://\"][href*=\"{{ $('Edit Fields (For testing prupose )').item.json['Website Domaine'] }}\"]\n",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "150f644c-2cbc-4676-9180-698deb83a5b3",
      "name": "Extract First Url Match",
      "type": "n8n-nodes-base.html",
      "position": [
        900,
        1580
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "b4e02383-64c2-468e-8c2f-54d18fbb0b0c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1140,
        1740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/execute/sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"script\": \"Object.defineProperty(navigator, 'webdriver', { get: () => undefined }); window.navigator.chrome = { runtime: {} }; Object.defineProperty(navigator, 'languages', { get: () => ['en-US', 'en'] }); Object.defineProperty(navigator, 'plugins', { get: () => [1, 2, 3, 4, 5] });\",\n \"args\": []\n}\n",
        "options": {}
      },
      "id": "fc2596f8-bddc-49de-be60-0c5c844aa39e",
      "name": "Clean Webdriver ",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2200,
        1600
      ],
      "notesInFlow": false,
      "typeVersion": 4.2,
      "notes": "Script to delete traces of selenium in the browser "
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "3b9cbdc5-90a0-4724-bb0b-38508a1274fd",
      "name": "Delete Session",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4260,
        1960
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "7aa507d5-51a9-4f78-b78d-c85799f1cc64",
      "name": "Delete Session2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5820,
        880
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e6e6e15d-1cfe-48be-8ea0-f112e9781c9d",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "BLOCK"
            }
          ]
        },
        "options": {}
      },
      "id": "cd60892b-b315-4215-b37a-455cb4389c6e",
      "name": "If Block1",
      "type": "n8n-nodes-base.if",
      "position": [
        5600,
        1020
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "2e8bcf9a-183e-4199-9e82-45946b0ff473",
      "name": "Delete Session3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5820,
        1100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "76040d28-bd47-4f70-b208-9e60d5de692e",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        4200,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "1c860c1b-5a14-477e-af5b-91b7487901cf",
      "name": "Delete Session1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4260,
        1760
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "844841ad-ef41-4e06-8b8d-56d57404682e",
      "name": "Delete Session4",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4860,
        1300
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "22a4eda6-5a03-43bd-89f8-ae58448a52df",
      "name": "Success with cookie",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        6340,
        1100
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"Success \": \"Request has been block by the targeted website\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8cc289a7-9b31-4dfa-a845-f3a32b9a5f00",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        6000,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Récupère les données du nœud Webhook (en remplaçant \"Webhook\" par le nom du nœud Webhook dans votre workflow)\nconst webhookData = $node[\"Webhook\"].json;\n\n// Fonction pour convertir la valeur de sameSite\nfunction convertSameSite(value) {\n // Conversion spécifique des valeurs de sameSite\n const conversionMap = {\n \"unspecified\": \"None\",\n \"lax\": \"Lax\",\n \"strict\": \"Strict\"\n };\n \n // Si la valeur existe dans le tableau de conversion, on la convertit\n if (value in conversionMap) {\n return conversionMap[value];\n }\n \n // Si la valeur est déjà une des valeurs acceptées par Selenium\n const allowedValues = [\"Strict\", \"Lax\", \"None\"];\n if (allowedValues.includes(value)) {\n return value;\n } else {\n // Si la valeur n'est pas reconnue, on la remplace par \"Lax\" (par défaut)\n return \"Lax\";\n }\n}\n\n// Vérifiez et traitez les données des cookies\nif (webhookData.body && webhookData.body.cookies) {\n let items = [];\n for (const cookieObject of webhookData.body.cookies) {\n if (cookieObject.cookie) {\n // Convertir la valeur de sameSite\n cookieObject.cookie.sameSite = convertSameSite(cookieObject.cookie.sameSite);\n \n // Ajouter le cookie à la liste des items\n items.push({\n json: cookieObject.cookie\n });\n }\n }\n return items;\n}\n\n// Si les cookies ne sont pas trouvés, renvoyer un tableau vide\nreturn [];\n"
      },
      "id": "1b7c2a33-1c4b-44c7-9062-b8c523d263a6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        3780,
        940
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "540ba06f-5efa-498a-ab6c-46814d65177c",
      "name": "Delete Session5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3020,
        1400
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"Error\": \"Cookies are note for the targeted url\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "421fbf5b-98e1-4547-a9a1-59743778c685",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3200,
        1400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "responseCode": 500
        }
      },
      "id": "3508da07-2abc-43f1-af59-d77447f57951",
      "name": "Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        5080,
        1300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "responseCode": 500
        }
      },
      "id": "c9cc6ffe-46f2-42f0-aeaf-ff0a2009d79a",
      "name": "Error2",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2140,
        1820
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1bffbc80-9913-46e7-a594-ebc26948c83b",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Webhook').item.json.body.cookies[0].cookie.domain }}",
              "rightValue": "={{ $('Webhook').item.json.body.Url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14e34755-a53d-4e42-b3de-1ecc7307dc4e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2840,
        1240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/cookie",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"cookie\": {\n \"name\": \"{{ $json.name }}\",\n \"value\": \"{{ $json.value }}\",\n \"domain\": \"{{ $json.domain }}\",\n \"path\": \"{{ $json.path }}\",\n \"secure\": {{ $json.secure }},\n \"httpOnly\": {{ $json.httpOnly }},\n \"sameSite\": \"{{ $json.sameSite }}\",\n \"expirationDate\": {{ $json.expirationDate }}\n }\n}",
        "options": {}
      },
      "id": "71b1dffb-b1bb-4b20-ae1f-6887f989eb14",
      "name": "Inject Cookie",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3980,
        940
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"Success \": \"Request has been block by the targeted website\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cd35cce8-c615-433f-8fd7-517c82f0092c",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        4480,
        1760
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "={{ $json.output }}"
        }
      },
      "id": "64db7d7e-3e93-478c-953d-d18bb49cbb80",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        4820,
        1960
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"url\": \"{{ $('Webhook').item.json.body['Target Url'] }}\"\n}\n",
        "options": {}
      },
      "id": "e6083ae0-0053-4eaf-93f9-fc4d373284d2",
      "name": "Go on url",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        1820
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "d148ed7c-c310-4261-b25b-f936aaa0c769",
      "name": "Delete Session6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3440,
        2240
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"Error\": \"Page crash on the extracted url\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "dcdb16c1-500f-41f0-8884-2de91bb2924b",
      "name": "Error3",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3600,
        2240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "={{ $json['Url Find '][1] }}{{ $json['Url Find '][2] }}{{ $json['Url Find '][3] }}",
        "attributes": {
          "attributes": [
            {
              "name": "Good_url_for_etract_information",
              "description": "=The url where I can extract relevant infroamtion on this subject : {{ $('Edit Fields (For testing prupose )').item.json.Subject }} on this domaine name : {{ $('Edit Fields (For testing prupose )').item.json['Website Domaine'] }}",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm.\nOnly extract relevant url from the unstructured urls array.\nA relevant url is a url whre you can find relevant information about this subject : {{ $('Edit Fields (For testing prupose )').item.json.Subject }}, on this domaine name : {{ $('Edit Fields (For testing prupose )').item.json['Website Domaine'] }}.\nIf you do not know the value of an attribute asked to extract, you need \\ attribute's value as NA."
        }
      },
      "id": "c64dbea3-3bdb-4b87-9d16-657630ec3056",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1120,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "9470fb6c-e367-4af7-a697-275e724fe771",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.Good_url_for_etract_information }}",
              "rightValue": ""
            },
            {
              "id": "8518e9a9-5b0c-4699-97c5-d9b7b1943918",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output.Good_url_for_etract_information }}",
              "rightValue": "NA"
            }
          ]
        },
        "options": {}
      },
      "id": "ee9408c0-09e3-4dad-8e37-164a3b8d8933",
      "name": "Check if empty of NA",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        1580
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e6e6e15d-1cfe-48be-8ea0-f112e9781c9d",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "BLOCK"
            }
          ]
        },
        "options": {}
      },
      "id": "4c8fc1ac-b786-4f82-8b9b-aa7ad4016d7c",
      "name": "If Block",
      "type": "n8n-nodes-base.if",
      "position": [
        4040,
        1880
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://www.google.com/search?q=site:{{ $json['Website Domaine'] }}+{{$json.Subject}}&oq=site&gs_lcrp=EgZjaHJvbWUqCAgAEEUYJxg7MggIABBFGCcYOzIICAEQRRgnGDsyBggCEEUYOzIRCAMQRRg5GEMYyQMYgAQYigUyBggEEEUYQDIGCAUQRRg9MgYIBhBFGD0yBggHEEUYPdIBCDEwNTRqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8",
        "options": {}
      },
      "id": "aece2610-371b-4c6f-9f92-203f8c8b0a6b",
      "name": "Google search Query ",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        1580
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://selenium_chrome:4444/wd/hub/session",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"capabilities\": {\n \"alwaysMatch\": {\n \"browserName\": \"chrome\",\n \"goog:chromeOptions\": {\n \"args\": [ \n \"--disable-blink-features=AutomationControlled\",\n \"--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3\"\n ]\n }\n }\n }\n}\n",
        "options": {
          "timeout": 5000
        }
      },
      "id": "a8c3d35f-05f2-41de-9375-8850af137fdd",
      "name": "Create Selenium Session",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1760,
        1680
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/screenshot",
        "options": {}
      },
      "id": "f078ad5a-42d8-4fa2-b3f6-2c7c080da04a",
      "name": "Get ScreenShot 1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3500,
        1880
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http:///selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/refresh",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "3bd2d492-c165-4d14-adb0-eadc1954575c",
      "name": "Refresh browser",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4400,
        940
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/screenshot",
        "options": {}
      },
      "id": "b736b28b-02e4-4231-846a-414ae14c5db1",
      "name": "Get ScreenShot ",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4960,
        1020
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "value",
        "options": {}
      },
      "id": "e91e65df-3153-4a07-96fc-f1b59b396eaa",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        5240,
        1020
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "value",
        "options": {}
      },
      "id": "7504e8e0-f06f-46ca-88e0-bdd0b5c47fc6",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3680,
        1880
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "07efb37d-8c72-4be1-84d7-b613b86f27c6",
      "name": "Delete Session7",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2000,
        1820
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## N8N Ultimate Scraper - Workflow\n\nThis workflow's objective is to collect data from any website page, whether it requires login or not.\n\nFor example, you can collect the number of stars of the n8n-ultimate-scraper project on GitHub.\n\n## Requirements\n**Selenium Container**: Selenium is an open-source automation framework for web applications, enabling browser control and interaction through scripts in various programming languages.\nYou can deploy the Docker Compose file from the associated GitHub project to set up your Selenium container and configuration: https://github.com/Touxan/n8n-ultimate-scraper\n\n**Residential Proxy Server**: To scrape data at scale without being blocked, I personally recommend GeoNode. They offer affordable, high-quality residential proxies: https://geonode.com/invite/98895\n\n**OpenAI API Key**: For using GPT-4.\n\n## Optional\nSession Cookies Collection: To use login functionality with the n8n Ultimate Scraper, you need to collect session cookies from the target website. You can do this using the extension created for this application in the GitHub project: https://github.com/Touxan/n8n-ultimate-scraper. Follow the installation procedure to use it.\n\n## How to use \nDeploy the project with all the requiremnts and request your webhook.\n\n**Example of request**:\ncurl -X POST http://localhost:5678/webhook-test/yourwebhookid \\\n-H \"Content-Type: application/json\" \\\n-d '{\n \"subject\": \"Hugging Face\",\n \"Url\": \"github.com\",\n \"Target data\": [\n {\n \"DataName\": \"Followers\",\n \"description\": \"The number of followers of the GitHub page\"\n },\n {\n \"DataName\": \"Total Stars\",\n \"description\": \"The total numbers of stars on the different repos\"\n }\n ],\n \"cookies\": []\n}'\n\nYou can also scrape link like this : \ncurl -X POST http://localhost:5678/webhook-test/67d77918-2d5b-48c1-ae73-2004b32125f0 \\\n-H \"Content-Type: application/json\" \\\n-d '{\n \"Target Url\": \"https://github.com\",\n \"Target data\": [\n {\n \"DataName\": \"Followers\",\n \"description\": \"The number of followers of the GitHub page\"\n },\n {\n \"DataName\": \"Total Stars\",\n \"description\": \"The total numbers of stars on the different repo\"\n }\n]\n}'\n\n**Note**\nThe maximum nimber of Target data is 5.",
        "height": 1333.3079943516484,
        "width": 851.2111300888805,
        "color": 4
      },
      "id": "7a7d01ef-eb0c-4f67-9dbe-67a89e43fe6c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3895040f-0a21-47ee-a73f-d3c7fd6edf36",
              "name": "Subject",
              "type": "string",
              "value": "={{ $json.body.subject }}"
            },
            {
              "id": "304e4240-513f-4c87-ae9d-4efda7d0c4ab",
              "name": "Website Domaine",
              "type": "string",
              "value": "={{ $json.body.Url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fad04b1b-ae33-4baf-a6bb-1d2aaaef0bb2",
      "name": "Edit Fields (For testing prupose )",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        1580
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/screenshot",
        "options": {}
      },
      "id": "c3e7550a-17b8-48fa-9905-4aea6401c1a6",
      "name": "Get ScreenShot 2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5280,
        1880
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "value",
        "options": {}
      },
      "id": "0f061aaa-069c-4e1d-ae6b-2908a3b41494",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        5520,
        1880
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"url\": \"https://ip-api.com/\"\n}\n",
        "options": {}
      },
      "id": "55bdaebb-4beb-40c2-a2bd-915cbaf59800",
      "name": "Go on ip-api.com",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5040,
        1880
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}",
        "options": {}
      },
      "id": "e1ff624b-b09f-4fad-9de3-9d09707ebc45",
      "name": "Delete Session8",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5520,
        2100
      ],
      "retryOnFail": false,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Debug IP\n\nThis small debug flow aims to check the IP you're requesting with, in case you're using a proxy",
        "height": 520.0741248156677,
        "width": 784.9798841202522,
        "color": 6
      },
      "id": "8f6285d3-1cae-4762-8983-c43cc93b8bcd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5000,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Search\n\n**Description** :\nThis part aims to search on Google for the subject and find the URL of the subject page based on the input URL.",
        "height": 430.433007240277,
        "width": 751.8596006980003
      },
      "id": "d8312bc3-0a8b-4e52-b784-b60375b5e61b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"Error\": \"Can't find url\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "50577925-c2eb-442e-acef-00d90a0dcf3d",
      "name": "Error can't find url",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1880,
        1320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Selenium Session\n\n**Description**:\nCreation and configuration of the Selenium session.",
        "height": 502.0185388323068,
        "width": 827.9448220213314
      },
      "id": "b2a666a1-582f-4dde-9990-db726ae3f544",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $json.value.sessionId }}/window/rect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"width\": 1920,\n \"height\": 1080,\n \"x\": 0,\n \"y\": 0\n}\n",
        "options": {}
      },
      "id": "39f3cf4f-3d84-41f3-82e6-86bf3deeeed5",
      "name": "Resize browser window",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2000,
        1600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Scrape with cookies session\n\n**Description**\nThis part goes to the extracted URL, injects the cookies passed into the webhook, takes a screenshot of the webpage, and analyzes the image with GPT to extract the targeted data.",
        "height": 821.0847869745435,
        "width": 3939.555135735299
      },
      "id": "48ff416c-2c90-4978-bced-98522f3ac27a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scrape without cookies session\n\n**Description**\nSame as the 'Scrape with cookies session' flow, but without the cookie injection",
        "height": 821.0847869745435,
        "width": 3336.952424000919
      },
      "id": "579b90fc-0e73-46a3-a2ac-bf81f9db2173",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Analyse this image and extract revlant infromation about this subject : {{ $('Webhook').item.json.body.subject }}. \n\nIf the webpage seem block by waf, or don't have any relant information about the subject reurn BLOCK with out any aditinonal information.",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 300
        }
      },
      "id": "3b9c0748-4e81-4bdb-a60e-deb21f7cc04d",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        5420,
        1020
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Analyse this image and extract revlant infromation about this subject : {{ $('Webhook').item.json.body.subject }}. \n\nIf the webpage seem block by waf, or don't have any relant information about the subject reurn BLOCK with out any aditinonal information.",
        "inputType": "base64",
        "options": {
          "detail": "auto",
          "maxTokens": 300
        }
      },
      "id": "d6d6e848-588b-4740-95e7-b0ea21ea69f9",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3860,
        1880
      ],
      "typeVersion": 1.5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "text": "={{ $('OpenAI1').item.json.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][0].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][0].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][1].DataName }}",
              "description": "=The total number of stars on all project"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][2].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][2].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][3].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][3].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][4].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][4].description }}"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, set the attribute's value to NA."
        }
      },
      "id": "60ecd371-ffa4-4694-92a0-2fcc046cc5bc",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        4480,
        1960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96d93bc0-e8df-4740-96ab-aa885b6cd408",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4480,
        2180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $('OpenAI').item.json.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][0].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][0].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][1].DataName }}",
              "description": "=The total number of stars on all project"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][2].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][2].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][3].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][3].description }}"
            },
            {
              "name": "={{ $('Webhook').item.json.body['Target data'][4].DataName }}",
              "description": "={{ $('Webhook').item.json.body['Target data'][4].description }}"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, set the attribute's value to NA. If the attribute is empty you can omit it."
        }
      },
      "id": "04f79724-8709-4551-9c3a-1c7fef0143e4",
      "name": "Information Extractor2",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        6000,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "235fc775-b7e8-4405-9c41-af321f1268c3",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        6020,
        1260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Proxy\n\n**Configuration**\n\nTo configure your proxy with the project, follow the instructions on the GitHub project: https://github.com/Touxan/n8n-ultimate-scraper. To configure the docker-compose, you also need to add this argument to the 'Create Selenium Session' node : --proxy-server=address:port.\n\n### ⚠️Warning⚠️\n Selenium does not support proxy authentication, so you need to add your server IP to the proxy whitelist. On GeoNode, it's here: https://app.geonode.com/whitelist-ip!",
        "height": 507.4126722815008,
        "width": 813.0685668942513,
        "color": 3
      },
      "id": "32506215-deee-457e-bffb-b06992b40379",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67d77918-2d5b-48c1-ae73-2004b32125f0",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3ce708c7-1627-44b0-b3a3-bd5524684c46",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        20,
        1580
      ],
      "webhookId": "67d77918-2d5b-48c1-ae73-2004b32125f0",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4b608dcd-a175-4019-82c2-560320a2abce",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Webhook').item.json.body['Target Url'] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a05ed05b-d6ff-43e0-857b-b89eba329f05",
      "name": "If Target Url",
      "type": "n8n-nodes-base.if",
      "position": [
        460,
        1660
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ff919945-b8c2-492a-b496-8617e9147389",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Webhook').item.json.body['Target Url'] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "686c1210-a980-49b6-8efe-dda51ce02751",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        2780,
        1940
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"url\": \"{{ $('Information Extractor').item.json.output.Good_url_for_etract_information }}\"\n}\n",
        "options": {}
      },
      "id": "3b37b907-4e54-4f6c-a027-d452c7cae66a",
      "name": "Go on url1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        2000
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2a1bfc1e-28a6-45d1-9581-53b632af90e0",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Webhook').item.json.body.cookies }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ac72fc25-4c16-4966-aca3-f4b392f75828",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        2420,
        1600
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"url\": \"{{ $('Webhook').item.json.body['Target Url'] }}\"\n}\n",
        "options": {}
      },
      "id": "93c41739-d416-43ad-9d08-4334c186f430",
      "name": "Go on url2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3340,
        1020
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ff919945-b8c2-492a-b496-8617e9147389",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Webhook').item.json.body['Target Url'] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2a71fd3c-095a-4f7b-985a-a4d55cfda015",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "position": [
        3140,
        1140
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://selenium_chrome:4444/wd/hub/session/{{ $('Create Selenium Session').item.json.value.sessionId }}/url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"url\": \"{{ $('Information Extractor').item.json.output.Good_url_for_etract_information }}\"\n}\n",
        "options": {}
      },
      "id": "0428d57e-d54f-4edc-8cf1-939887bbb94f",
      "name": "Go on url3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3340,
        1200
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Go on url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go on url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Go on url2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go on url3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Inject Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Refresh browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If Block1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields (For testing prupose )",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Block": {
      "main": [
        [
          {
            "node": "Delete Session1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go on url": {
      "main": [
        [
          {
            "node": "Get ScreenShot 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Block1": {
      "main": [
        [
          {
            "node": "Delete Session2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go on url1": {
      "main": [
        [
          {
            "node": "Get ScreenShot 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go on url2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go on url3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Target Url": {
      "main": [
        [
          {
            "node": "Google search Query ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Selenium Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Cookie": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session3": {
      "main": [
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session4": {
      "main": [
        [
          {
            "node": "Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session5": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session6": {
      "main": [
        [
          {
            "node": "Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session7": {
      "main": [
        [
          {
            "node": "Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ScreenShot ": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh browser": {
      "main": [
        [
          {
            "node": "Get ScreenShot ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Webdriver ": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ScreenShot 1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ScreenShot 2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go on ip-api.com": {
      "main": [
        [
          {
            "node": "Get ScreenShot 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if empty of NA": {
      "main": [
        [
          {
            "node": "Error can't find url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Selenium Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search Query ": {
      "main": [
        [
          {
            "node": "Extract First Url Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Check if empty of NA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize browser window": {
      "main": [
        [
          {
            "node": "Clean Webdriver ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Success with cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Selenium Session": {
      "main": [
        [
          {
            "node": "Resize browser window",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Session7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract First Url Match": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (For testing prupose )": {
      "main": [
        [
          {
            "node": "If Target Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c9561419-9923-4a99-be08-46f3ab5806da",
  "triggerCount": 0,
  "tags": []
}