agentes-ia/clinica-dental/****-dev-****-2.-interno-clínica---agente-ia-avanzado-para-clínica-dental---whatsapp-Averis/workflow.json
{
  "createdAt": "2025-05-15T15:13:54.340Z",
  "updatedAt": "2025-05-15T15:32:35.462Z",
  "id": "bBaOgFNmbkjAcrHD",
  "name": "**** DEV **** 2. Interno Clínica - Agente IA Avanzado para Clínica Dental - WhatsApp",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano-2025-04-14",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "options": {}
      },
      "id": "df8e2b22-e441-4b30-97d7-584135dcb8d6",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        360,
        60
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "task": "bDQ5ZlNVV2lPQ3pYT3NsNA",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "id": "2031f306-f75e-4ce9-a97d-06a83be350f2",
      "name": "Google Tasks",
      "type": "n8n-nodes-base.googleTasksTool",
      "position": [
        820,
        120
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://engaging-seahorse-19.rshare.io/mcp/ceb17fa5-1937-405f-8000-ea3be7d2b032/mcp/:tool/calendar/sse"
      },
      "id": "12ca0a05-8f65-4fe2-a951-c7c424d59c02",
      "name": "MCP Google Calendar",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        660,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "100",
        "contextWindowLength": 10
      },
      "id": "451f9612-f2ca-40be-b740-27554b28482e",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        520,
        100
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "NR0jJMop66avXtir",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Telegram Message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "7dd37dae-edaa-4a93-9032-7fa00c38f79f",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        840,
        -180
      ],
      "webhookId": "ee81d711-fb0c-438e-80aa-1fa8f5832c24",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "tz1fYz1snqttWLEg",
          "name": "Telegram Mi Asistente Personal"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "11590635-075a-4259-aaed-a1ecce08fc19",
      "name": "Receive Telegram Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        200,
        -180
      ],
      "webhookId": "06da85d7-23f0-414f-a1f9-d823752eba7c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "tz1fYz1snqttWLEg",
          "name": "Telegram Mi Asistente Personal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Today is {{$now}}\n\nROLE:\nYou are an internal rescheduling assistant at the clinic, directly activated by a professional via Telegram to manage rescheduling situations or add reminders to the shopping list.\n\nGENERAL OBJECTIVE:\nReschedule appointments as requested by the professional.\n\nAdd reminders to the shopping list when requested.\n\nSUMMARY OF RESPONSIBILITIES:\nPatient Rescheduling\n\nAccess Google Calendar through the \"MCP Google Calendar\" tool to identify affected appointments.\n\nExtract the patient's phone number from the event description.\n\nUse the \"Reschedule on WhatsApp\" tool to send rescheduling messages to patients.\n\nRemember, you only send the message; the patient’s response is handled by another agent.\n\nClinic Shopping List\n\nIf the professional requests the addition of an item to the shopping list via Telegram, use the \"Google Tasks\" tool to add the reminder.\n\nLANGUAGE AND PROCEDURE GUIDELINES:\nUse an empathetic, professional, and welcoming approach.\n\nNever send messages to patients without explicit authorization from the professional.\n\nWhen listing events or tasks, be objective and organized.\n\nMaintain clarity and conciseness in all interactions.\n\nAVAILABLE TOOLS:\nReschedule on WhatsApp\n\nGoogle Tasks\n\nMCP Google Calendar\n\nFINAL INSTRUCTIONS:\nOnly respond to rescheduling and shopping list reminder requests.\n\nAppointment rescheduling occurs only when requested by the professional, using MCP Google Calendar to identify the patients and the \"Reschedule on WhatsApp\" tool to send the message.\n\nFor the shopping list, always register it in \"Google Tasks.\""
        }
      },
      "id": "fb365078-02fa-4947-a9f9-7c9cdf763094",
      "name": "Asistente interno para clínica",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        480,
        -180
      ],
      "typeVersion": 1.8
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Asistente interno para clínica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "Asistente interno para clínica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Asistente interno para clínica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Asistente interno para clínica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Receive Telegram Message": {
      "main": [
        [
          {
            "node": "Asistente interno para clínica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asistente interno para clínica": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3a69913e-4be3-4f15-b16c-e4daa3814630",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-23T20:54:02.682Z",
      "updatedAt": "2025-04-23T20:54:02.682Z",
      "id": "sPdc51YFSDyYeZsT",
      "name": "Averis"
    },
    {
      "createdAt": "2025-04-23T20:54:14.012Z",
      "updatedAt": "2025-04-23T20:54:14.012Z",
      "id": "sG7lsP5f3fZEl5CI",
      "name": "Telegram"
    },
    {
      "createdAt": "2025-05-01T08:00:35.375Z",
      "updatedAt": "2025-05-01T08:00:35.375Z",
      "id": "mnFs5ZQ4LARCnZcQ",
      "name": "Clínicas"
    },
    {
      "createdAt": "2025-05-08T19:41:18.280Z",
      "updatedAt": "2025-05-08T19:41:18.280Z",
      "id": "DBSjqtJWnEDAdOjR",
      "name": "Booking"
    }
  ]
}