productividad/tareas/respuesta-a-emails-de-candidaturas-RRHH/workflow.json
{
  "createdAt": "2025-04-29T16:34:00.318Z",
  "updatedAt": "2025-04-29T16:34:31.951Z",
  "id": "csAO3g8ljXpa2TSq",
  "name": "Respuesta a emails de candidaturas",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0",
          "mode": "list",
          "cachedResultName": "Candidate Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1fa1d570-d5b6-4e65-b85e-42d8cb4e3f5b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "xuOwMjVrGYVMLrmY",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful and professional HR assistant. When provided with a candidate's name, the position they applied for, and optionally their cover letter or experience, write a short, polite, and friendly email thanking them for their application. Make sure the tone is formal but warm. Do not mention whether they are selected or not. Just acknowledge receipt of the application and let them know the HR team will be in touch soon. In footer just mention HR Team\n\nHere is the information of Candidate:\nName: {{ $json['Full Name'] }}\nEmail: {{ $json.Email }}\nPosition Applied:{{ $json['Position Applied'] }}\nCover Letter: {{ $json['Cover Letter'] }}\nExperience:{{ $json['Experience (Years)'] }}\nSkills:{{ $json.Skills }}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        0
      ],
      "id": "a7930279-ed0e-4730-b8ee-25d5e068c551",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lid4f6Emqj7mGAPQ",
          "name": "OpenAi API Averis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5794968-1d60-494b-af10-450550c3b62a",
              "leftValue": "={{ $json['Mail Status'] }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "9a59e4e5-6be4-4a73-bb87-5fb1e01d2a5b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        0
      ],
      "id": "da24e574-671e-41fa-a3e7-5eec26c87b1a",
      "name": "Gmail",
      "webhookId": "15b8ed78-ab90-4555-87c8-a559947a9b60",
      "credentials": {
        "gmailOAuth2": {
          "id": "BwWjplhZQVpEPVPV",
          "name": "Gmail daniel@averis.es"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0",
          "mode": "list",
          "cachedResultName": "Candidate Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rOHOtoieDNJTX6dywy_Iq12JZJLCxp5uOTTeUEh36c0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger').item.json.ID }}",
            "Mail Status": "Done"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Position Applied",
              "displayName": "Position Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Experience (Years)",
              "displayName": "Experience (Years)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail Status",
              "displayName": "Mail Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        0
      ],
      "id": "ff990974-fd0d-49f8-a0a7-29f1e1207505",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets daniel@averis.es"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2a767b1-a5cc-4f77-9689-8941bf97fb2d",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-29T16:34:04.353Z",
      "updatedAt": "2025-04-29T16:34:04.353Z",
      "id": "wMroHCbw0kMTJYyf",
      "name": "RRHH"
    }
  ]
}