productividad/reuniones/procesamiento-de-reuniones-avanzado-Onboarding/workflow.json
{
  "createdAt": "2025-05-14T16:43:44.056Z",
  "updatedAt": "2025-05-14T16:43:53.520Z",
  "id": "vpQ06zIqQ63JLCoc",
  "name": "Procesamiento de Reuniones Avanzado",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mygptworkshop@gmail.com",
          "mode": "list",
          "cachedResultName": "mygptworkshop@gmail.com"
        },
        "options": {
          "timeMin": "={{ $fromAI(\"oneDayBefore\",\"one day before the day that the user requested\") }}",
          "timeMax": "={{ $fromAI(\"oneDayAfter\",\"one day after the day that the user requested\") }}"
        }
      },
      "id": "1bb270e3-2175-4836-8f17-e30632722daa",
      "name": "Get Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1540,
        480
      ],
      "id": "9f641d72-7060-449d-b93f-fde90522ba6c",
      "name": "Anthropic Main Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly capable and versatile AI Agent, designed to manage tasks and workflows based on the classification of incoming documents and meeting summaries. You will handle each task in an efficient, structured, and friendly manner. Your responsibilities include creating tasks, updating systems, and providing updates with a fun yet professional personality. Follow these guidelines:\n\nYour Role and Workflow\nDocument Classification and Action Assignment:Type of call: {{ $('Sales Call Transcript').item.json.name }} / {{ $('Implementation Call Transcript').item.json.name }} / :{{ $('Onboarding Call Transcript').item.json.name }} /\n\nEach incoming document will have a file name indicating its type:\nSales Call: Create a new client in Notion, generate tasks for follow-up (e.g., preparing proposals, setting deadlines), and initiate AutoResearchAgents to gather additional details about the prospect's company.\nOnboarding Call: Create a new client in Notion, generate tasks in Airtable for onboarding steps (e.g., gathering client data, setting up tools), and create a new project in the system with relevant milestones.\nImplementation Call: Update the existing project in Notion with new details, create Airtable tasks for technical setup or integration, and log any challenges or dependencies discussed in the meeting.\nTeam Call: Create Airtable tasks for all internal action items discussed, and update the shared Notion project or knowledge base with relevant notes.\nTask and Record Creation:\n\nAirtable: Log all action items as tasks, specifying deadlines, assigned roles, and priorities.\nNotion: Create or update client records, projects, and meeting notes, organizing information for easy access.\nAutoResearchAgents: For Sales Calls, delegate company research tasks to gather additional insights (e.g., industry trends, competitor analysis).\nUpdates for You:\n\nAfter completing all tasks, send a concise and engaging message to you (via Telegram) summarizing:\nActions taken (e.g., \"Created a new client in Notion,\" \"Logged 3 tasks in Airtable\").\nInsights or pending items requiring attention.\nIf it was a Sales Call, include a note about delegating company research using AutoResearchAgents.\nUse a fun and friendly personality when crafting the message, such as:\n\"Hey boss! I’ve wrapped up the Sales Call details. Created a new client in Notion, set up 4 follow-up tasks in Airtable, and sent their info to our research agents. Ready to roll on this one!\"\n\"Quick update: Onboarding’s in motion! Tasks are in Airtable, client’s in Notion, and I’ve set up a project for tracking progress. Let me know if there’s anything else to tackle!\"\nResponse Rules\nAlways act based on the file name provided, and execute the appropriate actions for that meeting type.\nUse the tools specified (Airtable, Notion, AutoResearchAgents, etc.) for all task and data management.\nCraft the Telegram message to include:\nA friendly introduction.\nA brief summary of actions completed.\nA hint of personality to make it fun and engaging.\nScenarios and Example Actions\nSales Call File (e.g., Sales_Call_ClientABC.pdf):{{ $json.content }}\n\n\nCreate a client record in Notion with all relevant details.\nLog follow-up tasks in Airtable (e.g., preparing a proposal, scheduling follow-up calls).\nUse AutoResearchAgents to gather insights about the client’s company.\nTelegram Message: \"Hey boss! Just wrapped up the Sales Call for Client ABC. I created their profile in Notion, set up 3 follow-up tasks in Airtable, and sent their info to the research agents. Let’s make some magic happen!\"\nOnboarding Call File (e.g., Onboarding_Call_ClientXYZ.pdf)::{{ $json.content }}\n\nCreate a client record in Notion, including their goals and onboarding details.\nGenerate Airtable tasks for onboarding steps and assign deadlines.\nCreate a project in Notion for tracking progress.\nTelegram Message: \"Onboarding in full swing! Client XYZ is in Notion, tasks are in Airtable, and the project tracker is up and running. Smooth sailing ahead!\"\nImplementation Call File (e.g., Implementation_Call_Project123.pdf)::{{ $json.content }}\n\nUpdate the relevant project in Notion with implementation details.\nLog Airtable tasks for setup, dependencies, and follow-ups.\nTelegram Message: \"Implementation call done and dusted! Updated the Notion project, added tasks for setup in Airtable, and flagged a couple of dependencies. All systems go!\"\nTeam Call File (e.g., Team_Call_Internal.pdf)::{{ $json.content }}\n\nLog Airtable tasks for all action items discussed.\nUpdate Notion with meeting notes and team assignments.\nExecution Context\nEach document's content will be processed to extract actionable information, and actions will be performed accordingly. Maintain a concise, structured approach while injecting a bit of personality into the updates for a positive user experience. {{ $json.content }}",
        "options": {
          "systemMessage": "=You are a highly capable and versatile AI Agent, designed to manage tasks and workflows based on the classification of incoming documents and meeting summaries. You will handle each task in an efficient, structured, and friendly manner. Your responsibilities include creating tasks, updating systems, and providing updates with a fun yet professional personality. Follow these guidelines:\n\nYour Role and Workflow\nDocument Classification and Action Assignment:\n\nEach incoming document will have a file name indicating its type:\nSales Call: Create a new client in Notion, generate tasks for follow-up (e.g., preparing proposals, setting deadlines), and initiate AutoResearchAgents to gather additional details about the prospect's company.\nOnboarding Call: Create a new client in Notion, generate tasks in Airtable for onboarding steps (e.g., gathering client data, setting up tools), and create a new project in the system with relevant milestones.\nImplementation Call: Update the existing project in Notion with new details, create Airtable tasks for technical setup or integration, and log any challenges or dependencies discussed in the meeting.\nTeam Call: Create Airtable tasks for all internal action items discussed, and update the shared Notion project or knowledge base with relevant notes.\nTask and Record Creation:\n\nAirtable: Log all action items as tasks, specifying deadlines, assigned roles, and priorities.\nNotion: Create or update client records, projects, and meeting notes, organizing information for easy access.\nAutoResearchAgents: For Sales Calls, delegate company research tasks to gather additional insights (e.g., industry trends, competitor analysis).\nUpdates for You:\n\nAfter completing all tasks, send a concise and engaging message to you (via Telegram) summarizing:\nActions taken (e.g., \"Created a new client in Notion,\" \"Logged 3 tasks in Airtable\").\nInsights or pending items requiring attention.\nIf it was a Sales Call, include a note about delegating company research using AutoResearchAgents.\nUse a fun and friendly personality when crafting the message, such as:\n\"Hey boss! I’ve wrapped up the Sales Call details. Created a new client in Notion, set up 4 follow-up tasks in Airtable, and sent their info to our research agents. Ready to roll on this one!\"\n\"Quick update: Onboarding’s in motion! Tasks are in Airtable, client’s in Notion, and I’ve set up a project for tracking progress. Let me know if there’s anything else to tackle!\"\nResponse Rules\nAlways act based on the file name provided, and execute the appropriate actions for that meeting type.\nUse the tools specified (Airtable, Notion, AutoResearchAgents, etc.) for all task and data management.\nCraft the Telegram message to include:\nA friendly introduction.\nA brief summary of actions completed.\nA hint of personality to make it fun and engaging.\nScenarios and Example Actions\nSales Call File (e.g., Sales_Call_ClientABC.pdf):\n\nCreate a client record in Notion with all relevant details.\nLog follow-up tasks in Airtable (e.g., preparing a proposal, scheduling follow-up calls).\nUse AutoResearchAgents to gather insights about the client’s company.\nTelegram Message: \"Hey boss! Just wrapped up the Sales Call for Client ABC. I created their profile in Notion, set up 3 follow-up tasks in Airtable, and sent their info to the research agents. Let’s make some magic happen!\"\nOnboarding Call File (e.g., Onboarding_Call_ClientXYZ.pdf):\n\nCreate a client record in Notion, including their goals and onboarding details.\nGenerate Airtable tasks for onboarding steps and assign deadlines.\nCreate a project in Notion for tracking progress.\nTelegram Message: \"Onboarding in full swing! Client XYZ is in Notion, tasks are in Airtable, and the project tracker is up and running. Smooth sailing ahead!\"\nImplementation Call File (e.g., Implementation_Call_Project123.pdf):\n\nUpdate the relevant project in Notion with implementation details.\nLog Airtable tasks for setup, dependencies, and follow-ups.\nTelegram Message: \"Implementation call done and dusted! Updated the Notion project, added tasks for setup in Airtable, and flagged a couple of dependencies. All systems go!\"\nTeam Call File (e.g., Team_Call_Internal.pdf):\n\nLog Airtable tasks for all action items discussed.\nUpdate Notion with meeting notes and team assignments.\nTelegram Message: \"Team meeting wrapped! Action items are logged in Airtable, notes are in Notion, and we’re locked and loaded for the next steps.\"\nExecution Context\nEach document's content will be processed to extract actionable information, and actions will be performed accordingly. Maintain a concise, structured approach while injecting a bit of personality into the updates for a positive user experience."
        }
      },
      "id": "e2b0c4ad-9d40-4f6b-9080-7d44dd5a7775",
      "name": "Main Meeting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1560,
        140
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        320,
        120
      ],
      "id": "94047386-7624-44a6-ac97-949235333704",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZLX2UEGdtXXE6EdMEBjiGWpuYPCt-UOr",
          "mode": "list",
          "cachedResultName": "Implementation Call Summary",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZLX2UEGdtXXE6EdMEBjiGWpuYPCt-UOr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "de489aa9-7868-4c27-8983-d64fc895d8d5",
      "name": "Implementation Call Transcript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1s5J7SREwOaSojtp91hCDVcxdp3jLlu1g",
          "mode": "list",
          "cachedResultName": "Team Transcripts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1s5J7SREwOaSojtp91hCDVcxdp3jLlu1g"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        220
      ],
      "id": "c755c286-afc0-4eec-a06a-8077fb3583a1",
      "name": "Team Call Transcript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jOgEid_r5U8cnBerqFv7Ii5Y5rSOi2MO",
          "mode": "list",
          "cachedResultName": "Sales Meeting Summaries",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jOgEid_r5U8cnBerqFv7Ii5Y5rSOi2MO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        460
      ],
      "id": "bcff8a7a-1aa1-4dd7-ac91-aad056983b18",
      "name": "Sales Call Transcript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WmVeFXxUpzhX64PX6OLo8_55iE-s85ww",
          "mode": "list",
          "cachedResultName": "Onboarding Meeting Summaries",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WmVeFXxUpzhX64PX6OLo8_55iE-s85ww"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        800
      ],
      "id": "56543f85-bec1-4f7e-9f8c-935bcfc02a6a",
      "name": "Onboarding Call Transcript"
    },
    {
      "parameters": {
        "name": "AutoResearchAgents",
        "workflowId": {
          "__rl": true,
          "value": "RIkgxdKjXZJCiwJo",
          "mode": "list",
          "cachedResultName": "Auto Research Agents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1700,
        480
      ],
      "id": "2be6fcb1-eb13-4ffc-972e-25ed11caaade",
      "name": "Trigger Auto Research Agents"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/lunivate/8aabe03ef54c4e3aaba5a4e3e14ace31?v=1521d94732044b2c8628af33b26eb762&pvs=4",
          "mode": "url"
        },
        "title": "New AI Note",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        1860,
        440
      ],
      "id": "530a10a3-45bb-4f95-8989-881e67e1be1c",
      "name": "Create Client"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "ft:gpt-3.5-turbo-0125:all-business-ai::A1u5RiSM:ckpt-step-70",
          "mode": "list",
          "cachedResultName": "FT:GPT-3.5-TURBO-0125:ALL-BUSINESS-AI::A1U5RISM:CKPT-STEP-70"
        },
        "messages": {
          "values": [
            {
              "content": "=YOU ARE an AI DOCUMENT ANALYST specializing in extracting key information from meeting transcripts.\n\nTask Description\nYOUR TASK IS to ANALYZE the given meeting transcript document and IDENTIFY all email addresses of the attendees present in the meeting.\nFOCUS specifically on extracting the email of the client attendee(s) referenced in the transcript.\nAction Steps\nSCAN the entire transcript document for any explicitly mentioned email addresses.\nIDENTIFY the client attendee(s) referenced within the conversation.\nEXTRACT only the email(s) related to the client attendee and RETURN them in a structured format.\nOutput Format\nLIST the email(s) in plain text.\nIf no client attendee emails are found, return \"No client attendee email detected in this transcript.\"\nIMPORTANT\nENSURE that only relevant client attendee emails are extracted, avoiding any unrelated emails.\nDO NOT return internal AI system messages or irrelevant text.{{ $json.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        520,
        140
      ],
      "id": "c3e3c6e3-2a85-4c76-b05f-c0a0aae9ce51",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appf0XAKLvtf3Lv0g",
          "mode": "list",
          "cachedResultName": "Main CRM",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g"
        },
        "table": {
          "__rl": true,
          "value": "tbl9qgZtNefDLzzep",
          "mode": "list",
          "cachedResultName": "Contacts Table (Main)",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g/tbl9qgZtNefDLzzep"
        },
        "filterByFormula": "={Email} = \"sgomez@tkambio.us\"\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        920,
        140
      ],
      "id": "8d6a9b11-5202-4cc3-8237-1e2b9ea12691",
      "name": "Airtable"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1020,
        340
      ],
      "id": "fc18f99a-3657-4f42-a3af-343dc260cdd2",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        260,
        540
      ],
      "id": "7fa19609-9694-4b11-9826-97bb38887c0d",
      "name": "Google Docs1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "ft:gpt-3.5-turbo-0125:all-business-ai::A1u5RiSM:ckpt-step-70",
          "mode": "list",
          "cachedResultName": "FT:GPT-3.5-TURBO-0125:ALL-BUSINESS-AI::A1U5RISM:CKPT-STEP-70"
        },
        "messages": {
          "values": [
            {
              "content": "=YOU ARE an AI DOCUMENT ANALYST with expertise in processing meeting summaries.\n\nTask Description\nYOUR TASK IS to ANALYZE the given meeting summary document and IDENTIFY all email addresses of the client attendees.\nAction Steps\nSCAN the meeting summary for any explicitly listed emails.\nEXTRACT the email(s) belonging to the client attendees.\nRETURN the extracted emails in a structured format.\nOutput Format\nLIST the email(s) in plain text.\nIf no emails are found, return \"No client attendee email detected in this meeting summary.\"\nIMPORTANT\nENSURE accuracy by cross-checking with attendee names mentioned in the summary.\nDO NOT extract any unrelated or internal company emails..{{ $json.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        480,
        520
      ],
      "id": "ad9b3be8-eebf-45be-874e-88d047aa8e40",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        960,
        820
      ],
      "id": "f685f9e9-5bf5-4d8b-a451-5b4485c22e7e",
      "name": "Anthropic Chat Model1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appa1J27vgLPiDLOK",
          "mode": "list",
          "cachedResultName": "Project Management",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK"
        },
        "table": {
          "__rl": true,
          "value": "tbltU8I0DAnb1Tbcs",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK/tbltU8I0DAnb1Tbcs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days)",
              "displayName": "Duration (days)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days with unit)",
              "displayName": "Duration (days with unit)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "% of tasks staffed",
              "displayName": "% of tasks staffed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. assigned tasks",
              "displayName": "No. assigned tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. done tasks",
              "displayName": "No. done tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total tasks",
              "displayName": "Total tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "% Done",
              "displayName": "% Done",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1400,
        860
      ],
      "id": "3635b2b0-6f92-46ee-bca9-273c27d49115",
      "name": "Onboarding Tasks"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appf0XAKLvtf3Lv0g",
          "mode": "list",
          "cachedResultName": "Main CRM",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g"
        },
        "table": {
          "__rl": true,
          "value": "tbl9qgZtNefDLzzep",
          "mode": "list",
          "cachedResultName": "Contacts Table (Main)",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g/tbl9qgZtNefDLzzep"
        },
        "filterByFormula": "={Email} = \"sgomez@tkambio.us\"\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        860,
        500
      ],
      "id": "c717db9e-bf32-4896-b65a-d538e6120253",
      "name": "Airtable3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1400,
        400
      ],
      "id": "b8c362b4-0388-41bb-b3d9-6502be80ea0e",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=We are going to analyze this content {{ $json.Email }} {{ $json['Client Profile ICP'] }}\n\nYOU ARE an AI DELEGATION EXPERT responsible for extracting implementation steps and conducting research.\n\nTask Description\nYOUR TASK IS to ANALYZE the Implementation Call transcript and generate a list of next steps for execution.\nCONDUCT research via SerpAPI to find relevant information based on the discussion and place findings into the Mini Research Input.\nAction Steps\n1️⃣ EXTRACT IMPLEMENTATION NEXT STEPS\n\nIDENTIFY key implementation items discussed during the call.\nLIST tasks required for successful execution.\n2️⃣ PERFORM AUTOMATED RESEARCH\n\nUSE SerpAPI to gather supporting information based on key topics from the transcript.\nEXTRACT relevant links, competitor insights, or technical solutions as needed.\nSTORE research findings in the Mini Research Input field.\nOutput Format\n📌 Implementation Next Steps (Bullet Points)\n📌 Required Resources & Dependencies\n📌 SerpAPI Research Results (Summarized)\n\nIMPORTANT\n✅ ENSURE the next steps align with client goals discussed in the call.\n✅ REMOVE unnecessary details; focus only on execution tasks.\n✅ ONLY INCLUDE relevant research data from trusted sources.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1160,
        140
      ],
      "id": "608fc28a-f82e-4dcb-94e0-0a21152492d8",
      "name": "AI Delegator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $('Sales Call Transcript').item.json.name }} / {{ $('Implementation Call Transcript').item.json.name }} / :{{ $('Onboarding Call Transcript').item.json.name }} /\n\nEach incoming document will have a file name indicating its type:\nSales Call: Create a new client in Notion, generate tasks for follow-up (e.g., preparing proposals, setting deadlines), and initiate AutoResearchAgents to gather additional details about the prospect's company.\nOnboarding Call: Create a new client in Notion, generate tasks in Airtable for onboarding steps (e.g., gathering client data, setting up tools), and create a new project in the system with relevant milestones.\n\nTask and Record Creation:\n\nYOU ARE a TASK AUTOMATION AI specializing in extracting actionable tasks from sales and onboarding call transcripts.\n\nTask Description\nYOUR TASK IS to ANALYZE the provided sales call or onboarding call transcript and GENERATE structured, actionable tasks.\nCLASSIFY tasks under:\nSales Call Tasks (Follow-ups, action items, next steps)\nProject Tasks (Implementation actions, assignments, deadlines)\nENSURE tasks are clear, prioritized, and assigned to the relevant owner.\nAction Steps\n1️⃣ DETERMINE CALL TYPE\n\nIf the transcript is from a Sales Call, generate Sales Call Tasks.\nIf the transcript is from an Onboarding Call, generate Project Tasks.\n2️⃣ EXTRACT ACTION ITEMS\n\nIDENTIFY commitments made by either party (client or sales rep).\nCLASSIFY each action item as Follow-Up, Decision Required, or Next Step.\n3️⃣ ASSIGN TASK OWNERSHIP & DEADLINES\n\nMATCH tasks to the appropriate owner based on context.\nINCLUDE due dates if mentioned, or suggest one based on urgency.\n\nUpdates for You:\n\nAfter completing all tasks, send a concise and engaging message to you (via Telegram) summarizing:\nActions taken (e.g., \"Created a new client in Notion,\" \"Logged 3 tasks in Airtable\").\nInsights or pending items requiring attention.\nIf it was a Sales Call, include a note about delegating company research using AutoResearchAgents.\nUse a fun and friendly personality when crafting the message, such as:\n\"Hey boss! I’ve wrapped up the Sales Call details. Created a new client in Notion, set up 4 follow-up tasks in Airtable, and sent their info to our research agents. Ready to roll on this one!\"\n\"Quick update: Onboarding’s in motion! Tasks are in Airtable, client’s in Notion, and I’ve set up a project for tracking progress. Let me know if there’s anything else to tackle!\"\nResponse Rules\nAlways act based on the file name provided, and execute the appropriate actions for that meeting type.\nUse the tools specified (Airtable, Notion, AutoResearchAgents, etc.) for all task and data management.\nCraft the Telegram message to include:\nA friendly introduction.\nA brief summary of actions completed.\nA hint of personality to make it fun and engaging.\nScenarios and Example Actions\nSales Call File (e.g., Sales_Call_ClientABC.pdf):{{ $json.content }}\n\n\nCreate a client record in Notion with all relevant details.\nLog follow-up tasks in Airtable (e.g., preparing a proposal, scheduling follow-up calls).\nUse AutoResearchAgents to gather insights about the client’s company.\nTelegram Message: \"Hey boss! Just wrapped up the Sales Call for Client ABC. I created their profile in Notion, set up 3 follow-up tasks in Airtable, and sent their info to the research agents. Let’s make some magic happen!\"\nOnboarding Call File (e.g., Onboarding_Call_ClientXYZ.pdf)::{{ $json.content }}\n\n\nExecution Context\nEach document's content will be processed to extract actionable information, and actions will be performed accordingly. Maintain a concise, structured approach while injecting a bit of personality into the updates for a positive user experience. {{ $json.content }}",
        "options": {
          "systemMessage": "=YOU ARE a TASK AUTOMATION AI specializing in extracting actionable tasks from sales and onboarding call transcripts.\n\nTask Description\nYOUR TASK IS to ANALYZE the provided sales call or onboarding call transcript and GENERATE structured, actionable tasks.\nCLASSIFY tasks under:\nSales Call Tasks (Follow-ups, action items, next steps)\nProject Tasks (Implementation actions, assignments, deadlines)\nENSURE tasks are clear, prioritized, and assigned to the relevant owner.\nAction Steps\n1️⃣ DETERMINE CALL TYPE\n\nIf the transcript is from a Sales Call, generate Sales Call Tasks.\nIf the transcript is from an Onboarding Call, generate Project Tasks.\n2️⃣ EXTRACT ACTION ITEMS\n\nIDENTIFY commitments made by either party (client or sales rep).\nCLASSIFY each action item as Follow-Up, Decision Required, or Next Step.\n3️⃣ ASSIGN TASK OWNERSHIP & DEADLINES\n\nMATCH tasks to the appropriate owner based on context.\nINCLUDE due dates if mentioned, or suggest one based on urgency.\n"
        }
      },
      "id": "8a22ea10-df9d-4a25-a014-d945fce3487a",
      "name": "Tasks Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1120,
        620
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appa1J27vgLPiDLOK",
          "mode": "list",
          "cachedResultName": "Project Management",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK"
        },
        "table": {
          "__rl": true,
          "value": "tbltU8I0DAnb1Tbcs",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK/tbltU8I0DAnb1Tbcs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days)",
              "displayName": "Duration (days)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days with unit)",
              "displayName": "Duration (days with unit)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "% of tasks staffed",
              "displayName": "% of tasks staffed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. assigned tasks",
              "displayName": "No. assigned tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. done tasks",
              "displayName": "No. done tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total tasks",
              "displayName": "Total tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "% Done",
              "displayName": "% Done",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1100,
        860
      ],
      "id": "bae61d76-43bb-4498-ade1-8914f4d48005",
      "name": "Sales Call tasks"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appa1J27vgLPiDLOK",
          "mode": "list",
          "cachedResultName": "Project Management",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK"
        },
        "table": {
          "__rl": true,
          "value": "tbltU8I0DAnb1Tbcs",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appa1J27vgLPiDLOK/tbltU8I0DAnb1Tbcs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days)",
              "displayName": "Duration (days)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Duration (days with unit)",
              "displayName": "Duration (days with unit)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "% of tasks staffed",
              "displayName": "% of tasks staffed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. assigned tasks",
              "displayName": "No. assigned tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No. done tasks",
              "displayName": "No. done tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total tasks",
              "displayName": "Total tasks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "% Done",
              "displayName": "% Done",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1240,
        920
      ],
      "id": "179433f0-4126-48e7-bc76-025c7a22a9d7",
      "name": "Project Tasks"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appf0XAKLvtf3Lv0g",
          "mode": "list",
          "cachedResultName": "Main CRM",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g"
        },
        "table": {
          "__rl": true,
          "value": "tbl9qgZtNefDLzzep",
          "mode": "list",
          "cachedResultName": "Contacts Table (Main)",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g/tbl9qgZtNefDLzzep"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Current Client Value": 0,
            "Client Potential Value": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Company Name",
                  "value": "Company Name"
                },
                {
                  "name": "Tkambio",
                  "value": "Tkambio"
                },
                {
                  "name": "Eligarf",
                  "value": "Eligarf"
                },
                {
                  "name": "Noca",
                  "value": "Noca"
                },
                {
                  "name": "Finnaam",
                  "value": "Finnaam"
                },
                {
                  "name": "Datasemantics",
                  "value": "Datasemantics"
                },
                {
                  "name": "Artistongo",
                  "value": "Artistongo"
                },
                {
                  "name": "Horton Mexico",
                  "value": "Horton Mexico"
                },
                {
                  "name": "Beyond",
                  "value": "Beyond"
                },
                {
                  "name": "Wonderandwander",
                  "value": "Wonderandwander"
                },
                {
                  "name": "Horton Usa",
                  "value": "Horton Usa"
                },
                {
                  "name": "Eeever",
                  "value": "Eeever"
                },
                {
                  "name": "Teamvenuex",
                  "value": "Teamvenuex"
                },
                {
                  "name": "Cirrascale",
                  "value": "Cirrascale"
                },
                {
                  "name": "Cybernex360",
                  "value": "Cybernex360"
                },
                {
                  "name": "Candidatecollective",
                  "value": "Candidatecollective"
                },
                {
                  "name": "Sthesia",
                  "value": "Sthesia"
                },
                {
                  "name": "Bcbsa",
                  "value": "Bcbsa"
                },
                {
                  "name": "Constantcontact",
                  "value": "Constantcontact"
                },
                {
                  "name": "Diversyfund",
                  "value": "Diversyfund"
                },
                {
                  "name": "Revenueaccelerators",
                  "value": "Revenueaccelerators"
                },
                {
                  "name": "Bestas",
                  "value": "Bestas"
                },
                {
                  "name": "Origeenation",
                  "value": "Origeenation"
                },
                {
                  "name": "Honeypotz",
                  "value": "Honeypotz"
                },
                {
                  "name": "Tdscapital",
                  "value": "Tdscapital"
                },
                {
                  "name": "Evoluteai",
                  "value": "Evoluteai"
                },
                {
                  "name": "Storee",
                  "value": "Storee"
                },
                {
                  "name": "Quant Fusion",
                  "value": "Quant Fusion"
                },
                {
                  "name": "Runcopycat",
                  "value": "Runcopycat"
                },
                {
                  "name": "Mana",
                  "value": "Mana"
                },
                {
                  "name": "Greenphoenixengineering",
                  "value": "Greenphoenixengineering"
                },
                {
                  "name": "Belmarq",
                  "value": "Belmarq"
                },
                {
                  "name": "Ghostmode",
                  "value": "Ghostmode"
                },
                {
                  "name": "Interceptgroup",
                  "value": "Interceptgroup"
                },
                {
                  "name": "Roisolutions",
                  "value": "Roisolutions"
                },
                {
                  "name": "Rocketyouthbrands",
                  "value": "Rocketyouthbrands"
                },
                {
                  "name": "Timetoreply",
                  "value": "Timetoreply"
                },
                {
                  "name": "Gocadre",
                  "value": "Gocadre"
                },
                {
                  "name": "Xnomad",
                  "value": "Xnomad"
                },
                {
                  "name": "Flaske",
                  "value": "Flaske"
                },
                {
                  "name": "Holisticseo",
                  "value": "Holisticseo"
                },
                {
                  "name": "Venturepr",
                  "value": "Venturepr"
                },
                {
                  "name": "Ibc",
                  "value": "Ibc"
                },
                {
                  "name": "Mellow",
                  "value": "Mellow"
                },
                {
                  "name": "Fiatgrowth",
                  "value": "Fiatgrowth"
                },
                {
                  "name": "Evolt360",
                  "value": "Evolt360"
                },
                {
                  "name": "Wre",
                  "value": "Wre"
                },
                {
                  "name": "Datatopia",
                  "value": "Datatopia"
                },
                {
                  "name": "Duke",
                  "value": "Duke"
                },
                {
                  "name": "Meteoroai",
                  "value": "Meteoroai"
                },
                {
                  "name": "Xaim",
                  "value": "Xaim"
                },
                {
                  "name": "Growthnatives",
                  "value": "Growthnatives"
                },
                {
                  "name": "Degn",
                  "value": "Degn"
                },
                {
                  "name": "Gorillakids",
                  "value": "Gorillakids"
                },
                {
                  "name": "Wantnget",
                  "value": "Wantnget"
                },
                {
                  "name": "Strategy",
                  "value": "Strategy"
                },
                {
                  "name": "Naz A",
                  "value": "Naz A"
                },
                {
                  "name": "Theamazonwhisperer",
                  "value": "Theamazonwhisperer"
                },
                {
                  "name": "Tripledart",
                  "value": "Tripledart"
                },
                {
                  "name": "Talenthacks",
                  "value": "Talenthacks"
                },
                {
                  "name": "Winprograms",
                  "value": "Winprograms"
                },
                {
                  "name": "Getflowcode",
                  "value": "Getflowcode"
                },
                {
                  "name": "Winniio",
                  "value": "Winniio"
                },
                {
                  "name": "Griky",
                  "value": "Griky"
                },
                {
                  "name": "Lasertreat",
                  "value": "Lasertreat"
                },
                {
                  "name": "Rynaltygroup",
                  "value": "Rynaltygroup"
                },
                {
                  "name": "Edgen",
                  "value": "Edgen"
                },
                {
                  "name": "Sbnri",
                  "value": "Sbnri"
                },
                {
                  "name": "Ibapplications",
                  "value": "Ibapplications"
                },
                {
                  "name": "Airworkforcealliance",
                  "value": "Airworkforcealliance"
                },
                {
                  "name": "Co Ro",
                  "value": "Co Ro"
                },
                {
                  "name": "Graceview",
                  "value": "Graceview"
                },
                {
                  "name": "Bizzautomate",
                  "value": "Bizzautomate"
                },
                {
                  "name": "Progression",
                  "value": "Progression"
                },
                {
                  "name": "Cyruszad",
                  "value": "Cyruszad"
                },
                {
                  "name": "Gmx",
                  "value": "Gmx"
                },
                {
                  "name": "Mykisteam",
                  "value": "Mykisteam"
                },
                {
                  "name": "Mercenarymarketing",
                  "value": "Mercenarymarketing"
                },
                {
                  "name": "Aforanalytic",
                  "value": "Aforanalytic"
                },
                {
                  "name": "Infusive",
                  "value": "Infusive"
                },
                {
                  "name": "Businesscoachacademy",
                  "value": "Businesscoachacademy"
                },
                {
                  "name": "Enflux",
                  "value": "Enflux"
                },
                {
                  "name": "Altdrx",
                  "value": "Altdrx"
                },
                {
                  "name": "Airtop",
                  "value": "Airtop"
                },
                {
                  "name": "Disrupt",
                  "value": "Disrupt"
                },
                {
                  "name": "Atento",
                  "value": "Atento"
                },
                {
                  "name": "Amergydisposal",
                  "value": "Amergydisposal"
                },
                {
                  "name": "Transactionfocus",
                  "value": "Transactionfocus"
                },
                {
                  "name": "Harlemlabs",
                  "value": "Harlemlabs"
                },
                {
                  "name": "Vcso",
                  "value": "Vcso"
                },
                {
                  "name": "Sidekick",
                  "value": "Sidekick"
                },
                {
                  "name": "Warrenhillseo",
                  "value": "Warrenhillseo"
                },
                {
                  "name": "Anchorforge",
                  "value": "Anchorforge"
                },
                {
                  "name": "Uniian",
                  "value": "Uniian"
                },
                {
                  "name": "Ryanthehypnotist",
                  "value": "Ryanthehypnotist"
                },
                {
                  "name": "Consulting For",
                  "value": "Consulting For"
                },
                {
                  "name": "Humaniai",
                  "value": "Humaniai"
                },
                {
                  "name": "Antematter",
                  "value": "Antematter"
                },
                {
                  "name": "Scan",
                  "value": "Scan"
                },
                {
                  "name": "Leadbananas",
                  "value": "Leadbananas"
                },
                {
                  "name": "Alexus",
                  "value": "Alexus"
                },
                {
                  "name": "Growthschool",
                  "value": "Growthschool"
                },
                {
                  "name": "Acceleratedfocus",
                  "value": "Acceleratedfocus"
                },
                {
                  "name": "Sogoservices",
                  "value": "Sogoservices"
                },
                {
                  "name": "Itslately",
                  "value": "Itslately"
                },
                {
                  "name": "Buroventures",
                  "value": "Buroventures"
                },
                {
                  "name": "Dpsnashik",
                  "value": "Dpsnashik"
                },
                {
                  "name": "C17",
                  "value": "C17"
                },
                {
                  "name": "Kiabiz",
                  "value": "Kiabiz"
                },
                {
                  "name": "Neosaas",
                  "value": "Neosaas"
                },
                {
                  "name": "Priceadvize",
                  "value": "Priceadvize"
                },
                {
                  "name": "Sparrowliving",
                  "value": "Sparrowliving"
                },
                {
                  "name": "Demand Iq",
                  "value": "Demand Iq"
                },
                {
                  "name": "Verticalexits",
                  "value": "Verticalexits"
                },
                {
                  "name": "Theyorkgroup",
                  "value": "Theyorkgroup"
                },
                {
                  "name": "Mantu",
                  "value": "Mantu"
                },
                {
                  "name": "Thescalelab",
                  "value": "Thescalelab"
                },
                {
                  "name": "Treggocity",
                  "value": "Treggocity"
                },
                {
                  "name": "Oliver",
                  "value": "Oliver"
                },
                {
                  "name": "Captivedemand",
                  "value": "Captivedemand"
                },
                {
                  "name": "Newsequence",
                  "value": "Newsequence"
                },
                {
                  "name": "Unitone",
                  "value": "Unitone"
                },
                {
                  "name": "Layeholdings",
                  "value": "Layeholdings"
                },
                {
                  "name": "Constructiondatalabs",
                  "value": "Constructiondatalabs"
                },
                {
                  "name": "Hirefractionalpros",
                  "value": "Hirefractionalpros"
                },
                {
                  "name": "Publicoath",
                  "value": "Publicoath"
                },
                {
                  "name": "Getupgraded",
                  "value": "Getupgraded"
                },
                {
                  "name": "Ragnik",
                  "value": "Ragnik"
                },
                {
                  "name": "Aikidsperu",
                  "value": "Aikidsperu"
                },
                {
                  "name": "Garrisonai",
                  "value": "Garrisonai"
                },
                {
                  "name": "Quixbee",
                  "value": "Quixbee"
                },
                {
                  "name": "Hotmail",
                  "value": "Hotmail"
                },
                {
                  "name": "Digipanda",
                  "value": "Digipanda"
                },
                {
                  "name": "Daveos",
                  "value": "Daveos"
                },
                {
                  "name": "Snaps",
                  "value": "Snaps"
                },
                {
                  "name": "Mentoga",
                  "value": "Mentoga"
                },
                {
                  "name": "Realyse",
                  "value": "Realyse"
                },
                {
                  "name": "Thesalesarchitect",
                  "value": "Thesalesarchitect"
                },
                {
                  "name": "Systalent",
                  "value": "Systalent"
                },
                {
                  "name": "Thisisandra",
                  "value": "Thisisandra"
                },
                {
                  "name": "Knwmedia",
                  "value": "Knwmedia"
                },
                {
                  "name": "Essentialshero",
                  "value": "Essentialshero"
                },
                {
                  "name": "Catchmortgages",
                  "value": "Catchmortgages"
                },
                {
                  "name": "Kanousei",
                  "value": "Kanousei"
                },
                {
                  "name": "Swoopfunding",
                  "value": "Swoopfunding"
                },
                {
                  "name": "Growsolomedia",
                  "value": "Growsolomedia"
                },
                {
                  "name": "Efficusai",
                  "value": "Efficusai"
                },
                {
                  "name": "Agencyinsiders",
                  "value": "Agencyinsiders"
                },
                {
                  "name": "Optimizeforseo",
                  "value": "Optimizeforseo"
                },
                {
                  "name": "Digitalrainmaker",
                  "value": "Digitalrainmaker"
                },
                {
                  "name": "Hundredcoffee",
                  "value": "Hundredcoffee"
                },
                {
                  "name": "Blisswebsolution",
                  "value": "Blisswebsolution"
                },
                {
                  "name": "Grow Rapid",
                  "value": "Grow Rapid"
                },
                {
                  "name": "Naveedshah",
                  "value": "Naveedshah"
                },
                {
                  "name": "Auto8ai",
                  "value": "Auto8ai"
                },
                {
                  "name": "Enhancednutrition",
                  "value": "Enhancednutrition"
                },
                {
                  "name": "Brentherrig",
                  "value": "Brentherrig"
                },
                {
                  "name": "Clickclinician",
                  "value": "Clickclinician"
                },
                {
                  "name": "Whyofai",
                  "value": "Whyofai"
                },
                {
                  "name": "M3fitmode",
                  "value": "M3fitmode"
                },
                {
                  "name": "Meet Tx",
                  "value": "Meet Tx"
                },
                {
                  "name": "Novuscopia",
                  "value": "Novuscopia"
                },
                {
                  "name": "Roarontheweb",
                  "value": "Roarontheweb"
                },
                {
                  "name": "Digitaldivemarketing",
                  "value": "Digitaldivemarketing"
                },
                {
                  "name": "Wandzellaw",
                  "value": "Wandzellaw"
                },
                {
                  "name": "Kw",
                  "value": "Kw"
                },
                {
                  "name": "Kssprayfoaminsulation",
                  "value": "Kssprayfoaminsulation"
                },
                {
                  "name": "Mammothmrg",
                  "value": "Mammothmrg"
                },
                {
                  "name": "Peaksdigitalmarketing",
                  "value": "Peaksdigitalmarketing"
                },
                {
                  "name": "Greenhouselandscaping",
                  "value": "Greenhouselandscaping"
                },
                {
                  "name": "Impelunion",
                  "value": "Impelunion"
                },
                {
                  "name": "Glazerconstruction",
                  "value": "Glazerconstruction"
                },
                {
                  "name": "Folktellers",
                  "value": "Folktellers"
                },
                {
                  "name": "Sumacel",
                  "value": "Sumacel"
                },
                {
                  "name": "Bodytechsrx",
                  "value": "Bodytechsrx"
                },
                {
                  "name": "Legacyroofs",
                  "value": "Legacyroofs"
                },
                {
                  "name": "Kitchends",
                  "value": "Kitchends"
                },
                {
                  "name": "Digitalefxwraps",
                  "value": "Digitalefxwraps"
                },
                {
                  "name": "Comfortzonehc",
                  "value": "Comfortzonehc"
                },
                {
                  "name": "Studiomarchitects",
                  "value": "Studiomarchitects"
                },
                {
                  "name": "Asppool",
                  "value": "Asppool"
                },
                {
                  "name": "Triolandscaping",
                  "value": "Triolandscaping"
                },
                {
                  "name": "Jonesmulchservice",
                  "value": "Jonesmulchservice"
                },
                {
                  "name": "Southsideheating",
                  "value": "Southsideheating"
                },
                {
                  "name": "Lunivate",
                  "value": "Lunivate"
                },
                {
                  "name": "Italcasa",
                  "value": "Italcasa"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Status",
              "displayName": "Current Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Client",
                  "value": "Client"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Partner",
                  "value": "Partner"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "B&R Service Delivered",
                  "value": "B&R Service Delivered"
                },
                {
                  "name": "AI Project",
                  "value": "AI Project"
                },
                {
                  "name": "Accelerants Program",
                  "value": "Accelerants Program"
                },
                {
                  "name": "Website",
                  "value": "Website"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Service Request",
              "displayName": "Meeting Service Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Who do you serve? What do you sell? What's the price point?",
              "displayName": "Who do you serve? What do you sell? What's the price point?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date added to pipeline",
              "displayName": "Date added to pipeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Current Revenue ",
              "displayName": "Estimated Current Revenue ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Tags",
              "displayName": "Meeting Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Tags",
                  "value": "Tags"
                },
                {
                  "name": "robertomeeting",
                  "value": "robertomeeting"
                },
                {
                  "name": "booked",
                  "value": "booked"
                },
                {
                  "name": "robot reply",
                  "value": "robot reply"
                },
                {
                  "name": "alert user",
                  "value": "alert user"
                },
                {
                  "name": "accellmeeting",
                  "value": "accellmeeting"
                },
                {
                  "name": "cancelled appointment",
                  "value": "cancelled appointment"
                },
                {
                  "name": "autodownload",
                  "value": "autodownload"
                },
                {
                  "name": "ao appointment setter",
                  "value": "ao appointment setter"
                },
                {
                  "name": "smsreviewtried3",
                  "value": "smsreviewtried3"
                },
                {
                  "name": "automeet",
                  "value": "automeet"
                },
                {
                  "name": "osaccelerator",
                  "value": "osaccelerator"
                },
                {
                  "name": "followup",
                  "value": "followup"
                },
                {
                  "name": "missed-call",
                  "value": "missed-call"
                },
                {
                  "name": "partners",
                  "value": "partners"
                },
                {
                  "name": "interview",
                  "value": "interview"
                },
                {
                  "name": "1st interview",
                  "value": "1st interview"
                },
                {
                  "name": "sms sent",
                  "value": "sms sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Profile",
              "displayName": "Linkedin Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Source ",
              "displayName": "Lead Source ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Profile ICP",
              "displayName": "Client Profile ICP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Red Flags",
              "displayName": "Red Flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification Score",
              "displayName": "Qualification Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Follow Up Date",
              "displayName": "Next Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Client Value",
              "displayName": "Current Client Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Potential Value",
              "displayName": "Client Potential Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1140,
        440
      ],
      "id": "eeda56c0-164a-41bd-a7f7-de10165d5d9e",
      "name": "Implementation Next steps"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appf0XAKLvtf3Lv0g",
          "mode": "list",
          "cachedResultName": "Main CRM",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g"
        },
        "table": {
          "__rl": true,
          "value": "tbl9qgZtNefDLzzep",
          "mode": "list",
          "cachedResultName": "Contacts Table (Main)",
          "cachedResultUrl": "https://airtable.com/appf0XAKLvtf3Lv0g/tbl9qgZtNefDLzzep"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Current Client Value": 0,
            "Client Potential Value": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Company Name",
                  "value": "Company Name"
                },
                {
                  "name": "Tkambio",
                  "value": "Tkambio"
                },
                {
                  "name": "Eligarf",
                  "value": "Eligarf"
                },
                {
                  "name": "Noca",
                  "value": "Noca"
                },
                {
                  "name": "Finnaam",
                  "value": "Finnaam"
                },
                {
                  "name": "Datasemantics",
                  "value": "Datasemantics"
                },
                {
                  "name": "Artistongo",
                  "value": "Artistongo"
                },
                {
                  "name": "Horton Mexico",
                  "value": "Horton Mexico"
                },
                {
                  "name": "Beyond",
                  "value": "Beyond"
                },
                {
                  "name": "Wonderandwander",
                  "value": "Wonderandwander"
                },
                {
                  "name": "Horton Usa",
                  "value": "Horton Usa"
                },
                {
                  "name": "Eeever",
                  "value": "Eeever"
                },
                {
                  "name": "Teamvenuex",
                  "value": "Teamvenuex"
                },
                {
                  "name": "Cirrascale",
                  "value": "Cirrascale"
                },
                {
                  "name": "Cybernex360",
                  "value": "Cybernex360"
                },
                {
                  "name": "Candidatecollective",
                  "value": "Candidatecollective"
                },
                {
                  "name": "Sthesia",
                  "value": "Sthesia"
                },
                {
                  "name": "Bcbsa",
                  "value": "Bcbsa"
                },
                {
                  "name": "Constantcontact",
                  "value": "Constantcontact"
                },
                {
                  "name": "Diversyfund",
                  "value": "Diversyfund"
                },
                {
                  "name": "Revenueaccelerators",
                  "value": "Revenueaccelerators"
                },
                {
                  "name": "Bestas",
                  "value": "Bestas"
                },
                {
                  "name": "Origeenation",
                  "value": "Origeenation"
                },
                {
                  "name": "Honeypotz",
                  "value": "Honeypotz"
                },
                {
                  "name": "Tdscapital",
                  "value": "Tdscapital"
                },
                {
                  "name": "Evoluteai",
                  "value": "Evoluteai"
                },
                {
                  "name": "Storee",
                  "value": "Storee"
                },
                {
                  "name": "Quant Fusion",
                  "value": "Quant Fusion"
                },
                {
                  "name": "Runcopycat",
                  "value": "Runcopycat"
                },
                {
                  "name": "Mana",
                  "value": "Mana"
                },
                {
                  "name": "Greenphoenixengineering",
                  "value": "Greenphoenixengineering"
                },
                {
                  "name": "Belmarq",
                  "value": "Belmarq"
                },
                {
                  "name": "Ghostmode",
                  "value": "Ghostmode"
                },
                {
                  "name": "Interceptgroup",
                  "value": "Interceptgroup"
                },
                {
                  "name": "Roisolutions",
                  "value": "Roisolutions"
                },
                {
                  "name": "Rocketyouthbrands",
                  "value": "Rocketyouthbrands"
                },
                {
                  "name": "Timetoreply",
                  "value": "Timetoreply"
                },
                {
                  "name": "Gocadre",
                  "value": "Gocadre"
                },
                {
                  "name": "Xnomad",
                  "value": "Xnomad"
                },
                {
                  "name": "Flaske",
                  "value": "Flaske"
                },
                {
                  "name": "Holisticseo",
                  "value": "Holisticseo"
                },
                {
                  "name": "Venturepr",
                  "value": "Venturepr"
                },
                {
                  "name": "Ibc",
                  "value": "Ibc"
                },
                {
                  "name": "Mellow",
                  "value": "Mellow"
                },
                {
                  "name": "Fiatgrowth",
                  "value": "Fiatgrowth"
                },
                {
                  "name": "Evolt360",
                  "value": "Evolt360"
                },
                {
                  "name": "Wre",
                  "value": "Wre"
                },
                {
                  "name": "Datatopia",
                  "value": "Datatopia"
                },
                {
                  "name": "Duke",
                  "value": "Duke"
                },
                {
                  "name": "Meteoroai",
                  "value": "Meteoroai"
                },
                {
                  "name": "Xaim",
                  "value": "Xaim"
                },
                {
                  "name": "Growthnatives",
                  "value": "Growthnatives"
                },
                {
                  "name": "Degn",
                  "value": "Degn"
                },
                {
                  "name": "Gorillakids",
                  "value": "Gorillakids"
                },
                {
                  "name": "Wantnget",
                  "value": "Wantnget"
                },
                {
                  "name": "Strategy",
                  "value": "Strategy"
                },
                {
                  "name": "Naz A",
                  "value": "Naz A"
                },
                {
                  "name": "Theamazonwhisperer",
                  "value": "Theamazonwhisperer"
                },
                {
                  "name": "Tripledart",
                  "value": "Tripledart"
                },
                {
                  "name": "Talenthacks",
                  "value": "Talenthacks"
                },
                {
                  "name": "Winprograms",
                  "value": "Winprograms"
                },
                {
                  "name": "Getflowcode",
                  "value": "Getflowcode"
                },
                {
                  "name": "Winniio",
                  "value": "Winniio"
                },
                {
                  "name": "Griky",
                  "value": "Griky"
                },
                {
                  "name": "Lasertreat",
                  "value": "Lasertreat"
                },
                {
                  "name": "Rynaltygroup",
                  "value": "Rynaltygroup"
                },
                {
                  "name": "Edgen",
                  "value": "Edgen"
                },
                {
                  "name": "Sbnri",
                  "value": "Sbnri"
                },
                {
                  "name": "Ibapplications",
                  "value": "Ibapplications"
                },
                {
                  "name": "Airworkforcealliance",
                  "value": "Airworkforcealliance"
                },
                {
                  "name": "Co Ro",
                  "value": "Co Ro"
                },
                {
                  "name": "Graceview",
                  "value": "Graceview"
                },
                {
                  "name": "Bizzautomate",
                  "value": "Bizzautomate"
                },
                {
                  "name": "Progression",
                  "value": "Progression"
                },
                {
                  "name": "Cyruszad",
                  "value": "Cyruszad"
                },
                {
                  "name": "Gmx",
                  "value": "Gmx"
                },
                {
                  "name": "Mykisteam",
                  "value": "Mykisteam"
                },
                {
                  "name": "Mercenarymarketing",
                  "value": "Mercenarymarketing"
                },
                {
                  "name": "Aforanalytic",
                  "value": "Aforanalytic"
                },
                {
                  "name": "Infusive",
                  "value": "Infusive"
                },
                {
                  "name": "Businesscoachacademy",
                  "value": "Businesscoachacademy"
                },
                {
                  "name": "Enflux",
                  "value": "Enflux"
                },
                {
                  "name": "Altdrx",
                  "value": "Altdrx"
                },
                {
                  "name": "Airtop",
                  "value": "Airtop"
                },
                {
                  "name": "Disrupt",
                  "value": "Disrupt"
                },
                {
                  "name": "Atento",
                  "value": "Atento"
                },
                {
                  "name": "Amergydisposal",
                  "value": "Amergydisposal"
                },
                {
                  "name": "Transactionfocus",
                  "value": "Transactionfocus"
                },
                {
                  "name": "Harlemlabs",
                  "value": "Harlemlabs"
                },
                {
                  "name": "Vcso",
                  "value": "Vcso"
                },
                {
                  "name": "Sidekick",
                  "value": "Sidekick"
                },
                {
                  "name": "Warrenhillseo",
                  "value": "Warrenhillseo"
                },
                {
                  "name": "Anchorforge",
                  "value": "Anchorforge"
                },
                {
                  "name": "Uniian",
                  "value": "Uniian"
                },
                {
                  "name": "Ryanthehypnotist",
                  "value": "Ryanthehypnotist"
                },
                {
                  "name": "Consulting For",
                  "value": "Consulting For"
                },
                {
                  "name": "Humaniai",
                  "value": "Humaniai"
                },
                {
                  "name": "Antematter",
                  "value": "Antematter"
                },
                {
                  "name": "Scan",
                  "value": "Scan"
                },
                {
                  "name": "Leadbananas",
                  "value": "Leadbananas"
                },
                {
                  "name": "Alexus",
                  "value": "Alexus"
                },
                {
                  "name": "Growthschool",
                  "value": "Growthschool"
                },
                {
                  "name": "Acceleratedfocus",
                  "value": "Acceleratedfocus"
                },
                {
                  "name": "Sogoservices",
                  "value": "Sogoservices"
                },
                {
                  "name": "Itslately",
                  "value": "Itslately"
                },
                {
                  "name": "Buroventures",
                  "value": "Buroventures"
                },
                {
                  "name": "Dpsnashik",
                  "value": "Dpsnashik"
                },
                {
                  "name": "C17",
                  "value": "C17"
                },
                {
                  "name": "Kiabiz",
                  "value": "Kiabiz"
                },
                {
                  "name": "Neosaas",
                  "value": "Neosaas"
                },
                {
                  "name": "Priceadvize",
                  "value": "Priceadvize"
                },
                {
                  "name": "Sparrowliving",
                  "value": "Sparrowliving"
                },
                {
                  "name": "Demand Iq",
                  "value": "Demand Iq"
                },
                {
                  "name": "Verticalexits",
                  "value": "Verticalexits"
                },
                {
                  "name": "Theyorkgroup",
                  "value": "Theyorkgroup"
                },
                {
                  "name": "Mantu",
                  "value": "Mantu"
                },
                {
                  "name": "Thescalelab",
                  "value": "Thescalelab"
                },
                {
                  "name": "Treggocity",
                  "value": "Treggocity"
                },
                {
                  "name": "Oliver",
                  "value": "Oliver"
                },
                {
                  "name": "Captivedemand",
                  "value": "Captivedemand"
                },
                {
                  "name": "Newsequence",
                  "value": "Newsequence"
                },
                {
                  "name": "Unitone",
                  "value": "Unitone"
                },
                {
                  "name": "Layeholdings",
                  "value": "Layeholdings"
                },
                {
                  "name": "Constructiondatalabs",
                  "value": "Constructiondatalabs"
                },
                {
                  "name": "Hirefractionalpros",
                  "value": "Hirefractionalpros"
                },
                {
                  "name": "Publicoath",
                  "value": "Publicoath"
                },
                {
                  "name": "Getupgraded",
                  "value": "Getupgraded"
                },
                {
                  "name": "Ragnik",
                  "value": "Ragnik"
                },
                {
                  "name": "Aikidsperu",
                  "value": "Aikidsperu"
                },
                {
                  "name": "Garrisonai",
                  "value": "Garrisonai"
                },
                {
                  "name": "Quixbee",
                  "value": "Quixbee"
                },
                {
                  "name": "Hotmail",
                  "value": "Hotmail"
                },
                {
                  "name": "Digipanda",
                  "value": "Digipanda"
                },
                {
                  "name": "Daveos",
                  "value": "Daveos"
                },
                {
                  "name": "Snaps",
                  "value": "Snaps"
                },
                {
                  "name": "Mentoga",
                  "value": "Mentoga"
                },
                {
                  "name": "Realyse",
                  "value": "Realyse"
                },
                {
                  "name": "Thesalesarchitect",
                  "value": "Thesalesarchitect"
                },
                {
                  "name": "Systalent",
                  "value": "Systalent"
                },
                {
                  "name": "Thisisandra",
                  "value": "Thisisandra"
                },
                {
                  "name": "Knwmedia",
                  "value": "Knwmedia"
                },
                {
                  "name": "Essentialshero",
                  "value": "Essentialshero"
                },
                {
                  "name": "Catchmortgages",
                  "value": "Catchmortgages"
                },
                {
                  "name": "Kanousei",
                  "value": "Kanousei"
                },
                {
                  "name": "Swoopfunding",
                  "value": "Swoopfunding"
                },
                {
                  "name": "Growsolomedia",
                  "value": "Growsolomedia"
                },
                {
                  "name": "Efficusai",
                  "value": "Efficusai"
                },
                {
                  "name": "Agencyinsiders",
                  "value": "Agencyinsiders"
                },
                {
                  "name": "Optimizeforseo",
                  "value": "Optimizeforseo"
                },
                {
                  "name": "Digitalrainmaker",
                  "value": "Digitalrainmaker"
                },
                {
                  "name": "Hundredcoffee",
                  "value": "Hundredcoffee"
                },
                {
                  "name": "Blisswebsolution",
                  "value": "Blisswebsolution"
                },
                {
                  "name": "Grow Rapid",
                  "value": "Grow Rapid"
                },
                {
                  "name": "Naveedshah",
                  "value": "Naveedshah"
                },
                {
                  "name": "Auto8ai",
                  "value": "Auto8ai"
                },
                {
                  "name": "Enhancednutrition",
                  "value": "Enhancednutrition"
                },
                {
                  "name": "Brentherrig",
                  "value": "Brentherrig"
                },
                {
                  "name": "Clickclinician",
                  "value": "Clickclinician"
                },
                {
                  "name": "Whyofai",
                  "value": "Whyofai"
                },
                {
                  "name": "M3fitmode",
                  "value": "M3fitmode"
                },
                {
                  "name": "Meet Tx",
                  "value": "Meet Tx"
                },
                {
                  "name": "Novuscopia",
                  "value": "Novuscopia"
                },
                {
                  "name": "Roarontheweb",
                  "value": "Roarontheweb"
                },
                {
                  "name": "Digitaldivemarketing",
                  "value": "Digitaldivemarketing"
                },
                {
                  "name": "Wandzellaw",
                  "value": "Wandzellaw"
                },
                {
                  "name": "Kw",
                  "value": "Kw"
                },
                {
                  "name": "Kssprayfoaminsulation",
                  "value": "Kssprayfoaminsulation"
                },
                {
                  "name": "Mammothmrg",
                  "value": "Mammothmrg"
                },
                {
                  "name": "Peaksdigitalmarketing",
                  "value": "Peaksdigitalmarketing"
                },
                {
                  "name": "Greenhouselandscaping",
                  "value": "Greenhouselandscaping"
                },
                {
                  "name": "Impelunion",
                  "value": "Impelunion"
                },
                {
                  "name": "Glazerconstruction",
                  "value": "Glazerconstruction"
                },
                {
                  "name": "Folktellers",
                  "value": "Folktellers"
                },
                {
                  "name": "Sumacel",
                  "value": "Sumacel"
                },
                {
                  "name": "Bodytechsrx",
                  "value": "Bodytechsrx"
                },
                {
                  "name": "Legacyroofs",
                  "value": "Legacyroofs"
                },
                {
                  "name": "Kitchends",
                  "value": "Kitchends"
                },
                {
                  "name": "Digitalefxwraps",
                  "value": "Digitalefxwraps"
                },
                {
                  "name": "Comfortzonehc",
                  "value": "Comfortzonehc"
                },
                {
                  "name": "Studiomarchitects",
                  "value": "Studiomarchitects"
                },
                {
                  "name": "Asppool",
                  "value": "Asppool"
                },
                {
                  "name": "Triolandscaping",
                  "value": "Triolandscaping"
                },
                {
                  "name": "Jonesmulchservice",
                  "value": "Jonesmulchservice"
                },
                {
                  "name": "Southsideheating",
                  "value": "Southsideheating"
                },
                {
                  "name": "Lunivate",
                  "value": "Lunivate"
                },
                {
                  "name": "Italcasa",
                  "value": "Italcasa"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Status",
              "displayName": "Current Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Client",
                  "value": "Client"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Partner",
                  "value": "Partner"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "B&R Service Delivered",
                  "value": "B&R Service Delivered"
                },
                {
                  "name": "AI Project",
                  "value": "AI Project"
                },
                {
                  "name": "Accelerants Program",
                  "value": "Accelerants Program"
                },
                {
                  "name": "Website",
                  "value": "Website"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Service Request",
              "displayName": "Meeting Service Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Who do you serve? What do you sell? What's the price point?",
              "displayName": "Who do you serve? What do you sell? What's the price point?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Contacted Date",
              "displayName": "Last Contacted Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date added to pipeline",
              "displayName": "Date added to pipeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Current Revenue ",
              "displayName": "Estimated Current Revenue ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Tags",
              "displayName": "Meeting Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Tags",
                  "value": "Tags"
                },
                {
                  "name": "robertomeeting",
                  "value": "robertomeeting"
                },
                {
                  "name": "booked",
                  "value": "booked"
                },
                {
                  "name": "robot reply",
                  "value": "robot reply"
                },
                {
                  "name": "alert user",
                  "value": "alert user"
                },
                {
                  "name": "accellmeeting",
                  "value": "accellmeeting"
                },
                {
                  "name": "cancelled appointment",
                  "value": "cancelled appointment"
                },
                {
                  "name": "autodownload",
                  "value": "autodownload"
                },
                {
                  "name": "ao appointment setter",
                  "value": "ao appointment setter"
                },
                {
                  "name": "smsreviewtried3",
                  "value": "smsreviewtried3"
                },
                {
                  "name": "automeet",
                  "value": "automeet"
                },
                {
                  "name": "osaccelerator",
                  "value": "osaccelerator"
                },
                {
                  "name": "followup",
                  "value": "followup"
                },
                {
                  "name": "missed-call",
                  "value": "missed-call"
                },
                {
                  "name": "partners",
                  "value": "partners"
                },
                {
                  "name": "interview",
                  "value": "interview"
                },
                {
                  "name": "1st interview",
                  "value": "1st interview"
                },
                {
                  "name": "sms sent",
                  "value": "sms sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Profile",
              "displayName": "Linkedin Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Source ",
              "displayName": "Lead Source ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Profile ICP",
              "displayName": "Client Profile ICP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Red Flags",
              "displayName": "Red Flags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification Score",
              "displayName": "Qualification Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Follow Up Date",
              "displayName": "Next Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Client Value",
              "displayName": "Current Client Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Potential Value",
              "displayName": "Client Potential Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1260,
        460
      ],
      "id": "35c62532-2dd9-4e4c-bb7c-46d067300dbd",
      "name": "Mini Research Input"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "roberto@lunivate.com",
          "mode": "list",
          "cachedResultName": "roberto@lunivate.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        2140,
        280
      ],
      "id": "12a75243-5277-4f4d-92c1-cf8a54190a46",
      "name": "Google Calendar"
    }
  ],
  "connections": {
    "Get Calendar": {
      "ai_tool": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Main Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Implementation Call Transcript": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Team Call Transcript": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Call Transcript": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Call Transcript": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Auto Research Agents": {
      "ai_tool": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Client": {
      "ai_tool": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "AI Delegator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Delegator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Tasks": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Tasks Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Delegator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Delegator": {
      "main": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Call tasks": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Project Tasks": {
      "ai_tool": [
        [
          {
            "node": "Tasks Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Implementation Next steps": {
      "ai_tool": [
        [
          {
            "node": "AI Delegator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mini Research Input": {
      "ai_tool": [
        [
          {
            "node": "AI Delegator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Main Meeting Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9ebe8986-ece9-46e6-9a07-33e67775552d",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-29T13:03:45.275Z",
      "updatedAt": "2025-04-29T13:03:45.275Z",
      "id": "ivObRU3m7gju9Vw0",
      "name": "Onboarding"
    },
    {
      "createdAt": "2025-05-14T15:17:53.637Z",
      "updatedAt": "2025-05-14T15:17:53.637Z",
      "id": "Vz72wvUnzz8lSLTD",
      "name": "*****"
    }
  ]
}