ventas/cotizaciones/******-cotizaciones-de-productos-/workflow.json
{
  "createdAt": "2025-05-16T07:17:32.149Z",
  "updatedAt": "2025-05-16T07:17:32.149Z",
  "id": "SoyPMxS0wzY60vsB",
  "name": "****** cotizaciones de productos",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        -220
      ],
      "id": "83669d37-9686-4401-9fad-a856d429833e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        180,
        -200
      ],
      "id": "d7635aac-2de7-47d8-861c-248d0e874264",
      "name": "WooCommerce"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        520,
        -220
      ],
      "id": "ed486887-d1d7-4a92-95ba-a4b6b1fa8269",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        700,
        -220
      ],
      "id": "42b2451c-2fad-455a-b2a4-d2f30b34508d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        -220
      ],
      "id": "aefd4983-40f4-4a01-abba-198c488a9492",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeee6a12-8110-4fbe-a041-22c83e301c5d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "429caf92-c48d-43f1-a39a-4db9c5b64b1c",
              "name": "nombre",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "ea1e52c0-f6c8-4fa3-8980-86e58aec76d3",
              "name": "descripción",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "5bf833ac-2c9f-4bc4-8739-dee720ce7c9a",
              "name": "precio",
              "value": "=El precio es de {{ $json.price }} dolares americanos",
              "type": "string"
            },
            {
              "id": "c638a6a6-4ecb-470d-b5ea-fe61466bd9d9",
              "name": "imagen",
              "value": "={{ $json.images[0].src }}",
              "type": "string"
            },
            {
              "id": "5d5bfa8d-a2ad-46fc-8c02-cb29eb5c7d4d",
              "name": "url del producto",
              "value": "={{ $json.permalink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        -220
      ],
      "id": "c276f00e-51b5-4565-ada0-ba825bc85728",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {
          "queryName": "match_products"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "d75aead1-8d09-4dc3-bd02-e2c5d63ea996",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "CfhQFyBpZqxDZXe2",
          "name": "Supabase Averis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "id": "93de0799-0325-428f-b12c-36594fbc6b9f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1460,
        220
      ],
      "id": "89de435e-25c1-48f4-8710-663374e3d718",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta consulta y trae los datos posibles de : {{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        1740,
        220
      ],
      "id": "b7e7ed93-ebd2-4e79-86f0-a09e3bb2a23e",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1960,
        500
      ],
      "id": "2be37a92-0ded-40bc-a62e-d363e8b86b25",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {
          "queryName": "match_products"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2040,
        760
      ],
      "id": "804aa629-730c-408c-958b-ed30753c6894",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "133f6942-90d9-4fb7-924c-a8fe768a0f15",
              "name": "respuesta",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        220
      ],
      "id": "b0915ce5-f8ef-4410-b8b4-c759aaa8684a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1560,
        440
      ],
      "id": "ff4cf343-943c-43ad-85ba-1bf026f25d2f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        480
      ],
      "id": "6e72e5eb-b933-4ed5-8aba-436f7ea4bbb1",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1940,
        960
      ],
      "id": "491563e3-0cdf-41e4-9e06-6d60cd7e43fd",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data",
              "separateBy": ", "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1080,
        -220
      ],
      "id": "e5523c98-db3e-4a88-a190-aea71c8afe9a",
      "name": "Summarize"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1080,
        720
      ],
      "id": "6fc91a4b-2505-4f1f-9974-1ce1f5d45b85",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "Aceptan pagos en cripto?"
        }
      }
    ]
  },
  "versionId": "671754d4-5ca0-455f-aa91-13df057f7010",
  "triggerCount": 0,
  "tags": []
}