agentes-ia/rag/sistema-multiagentes-investigación-profunda-Averis/workflow.json
{
  "createdAt": "2025-04-23T21:04:35.121Z",
  "updatedAt": "2025-04-29T06:30:22.733Z",
  "id": "xmpIAhqnkgPpA6yY",
  "name": "Sistema Multiagentes Investigación profunda",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1200,
        1400
      ],
      "id": "5059e3fb-4936-40a9-bb92-1498aadfbdbb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tema: {{ $('On form submission').item.json.Tema }}\n\nSubtemas: \n1) {{ $json.output.subtema_1 }}\n2) {{ $json.output.subtema_2 }}\n3) {{ $json.output.subtema_3 }}\n4) {{ $json.output.subtema_4 }}\n5) {{ $json.output.subtema_5 }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Objetivo:  \nActúas como una inteligencia artificial experta en redacción de informes. Tu tarea es generar un título llamativo, una introducción clara y cinco títulos de capítulos bien estructurados para un informe de investigación, a partir de un tema principal y cinco subtemas previamente definidos.\n\nInstrucciones:  \nSigue cuidadosamente estas indicaciones para generar una salida profesional y bien estructurada:\n\n1. **Título del informe:**  \nCrea un título claro, profesional y atractivo que refleje con precisión el tema central del informe.\n\n2. **Introducción:**  \nRedacta una introducción de dos párrafos bajo el encabezado \"Introducción\".  \n- Proporciona contexto, destaca la relevancia del tema y anticipa los contenidos que se abordarán.  \n- Separa los dos párrafos con una línea horizontal `<hr>` para mejorar la legibilidad.\n\n3. **Índice / Capítulos:**  \nGenera cinco títulos de capítulos relacionados con los subtemas proporcionados.  \n- Utiliza un lenguaje claro, profesional y atractivo que invite a la lectura.\n\n**Formato de salida (JSON):**  \nDevuelve toda la información en el siguiente formato JSON, sin explicaciones adicionales ni comentarios:\n\n{\n  \"Titulo\": \"<h1 style='font-family: \\\"Arial\\\", sans-serif; font-size: 32px; color: #1a355d; text-align: center; margin-bottom: 40px; line-height: 1.15;'>[Título generado del informe]</h1>\",\n\n  \"Introduccion\": \"<div style='max-width: 900px; margin: 0 auto; padding: 0; font-family: Arial, sans-serif; font-size: 18px; line-height: 1.15; color: #2c2c2c;'><h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 28px; color: #1a355d; margin-bottom: 30px; line-height: 1.15;'>Introducción</h2><p style='text-align: justify; text-indent: 30px; margin-bottom: 25px; line-height: 1.15;'>[Primer párrafo de la introducción]</p><hr><p style='text-align: justify; text-indent: 30px; line-height: 1.15;'>[Segundo párrafo de la introducción]</p></div>\",\n\n  \"capitulo_1\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 1: [Título del capítulo 1]</h2>\",\n\n  \"capitulo_2\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 2: [Título del capítulo 2]</h2>\",\n\n  \"capitulo_3\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 3: [Título del capítulo 3]</h2>\",\n\n  \"capitulo_4\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 4: [Título del capítulo 4]</h2>\",\n\n  \"capitulo_5\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 5: [Título del capítulo 5]</h2>\"\n}\n\n\nEjemplo de entrada:\nTema principal: Impacto de las zanahorias en la salud visual\n\nSubtemas:\n\n1. Propiedades bioquímicas de la zanahoria\n2. El rol del betacaroteno en la salud ocular\n3. Mito o realidad: visión nocturna y zanahorias\n4. Perspectivas históricas sobre la relación entre zanahorias y visión\n5. Recomendaciones dietéticas modernas para la salud visual\n\n{\n  \"Titulo\": \"<h1 style='font-family: \\\"Arial\\\", sans-serif; font-size: 32px; color: #1a355d; text-align: center; margin-bottom: 40px; line-height: 1.15;'>Visión y Zanahorias: Un Análisis Integral del Impacto de su Consumo en la Salud Ocular</h1>\",\n\n  \"Introduccion\": \"<div style='max-width: 900px; margin: 0 auto; padding: 0; font-family: Arial, sans-serif; font-size: 18px; line-height: 1.15; color: #2c2c2c;'><h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 28px; color: #1a355d; margin-bottom: 30px; line-height: 1.15;'>Introducción</h2><p style='text-align: justify; text-indent: 30px; margin-bottom: 25px; line-height: 1.15;'>Durante generaciones, la relación entre el consumo de zanahorias y la mejora de la visión ha sido tema de debate, tanto en la cultura popular como en la investigación científica. Esta creencia, repetida a lo largo del tiempo, tiene sus raíces en la Segunda Guerra Mundial y en descubrimientos posteriores sobre los beneficios del betacaroteno. Sin embargo, ¿qué hay de cierto en esta afirmación? ¿Existen fundamentos científicos sólidos que respalden esta idea?</p><hr><p style='text-align: justify; text-indent: 30px; line-height: 1.15;'>En este informe exploraremos a fondo las propiedades bioquímicas de la zanahoria, el papel del betacaroteno en la salud visual y las recomendaciones nutricionales actuales. También analizaremos la evolución histórica de esta creencia y contrastaremos los mitos con la evidencia científica más reciente. El lector obtendrá una visión completa y actualizada sobre cómo y cuánto influye realmente el consumo de zanahorias en la vista.</p></div>\",\n\n  \"capitulo_1\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 1: Propiedades bioquímicas de la zanahoria</h2>\",\n\n  \"capitulo_2\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 2: El rol del betacaroteno en la salud ocular</h2>\",\n\n  \"capitulo_3\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 3: Visión nocturna y zanahorias: ¿mito o realidad?</h2>\",\n\n  \"capitulo_4\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 4: Historia y cultura: la evolución del mito de la zanahoria</h2>\",\n\n  \"capitulo_5\": \"<h2 style='font-family: \\\"Arial\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px; line-height: 1.15;'>Capítulo 5: Recomendaciones dietéticas actuales para una buena salud visual</h2>\"\n}\n\n\nRequisitos de calidad:\n\n- El título debe ser profesional, conciso y atractivo.\n- La introducción debe contextualizar el informe y ser fácil de leer.\n- Los títulos de capítulos deben estar claramente definidos y visualmente estructurados con <h2>.\n- La salida debe estar completamente formateada en JSON. No añadas texto adicional ni explicaciones.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -540,
        1480
      ],
      "id": "71287d0d-1428-41e8-9902-36fecaad69d7",
      "name": "Intro"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -500,
        1700
      ],
      "id": "468d17a0-bd77-4673-9ef6-4707eec0e31c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -460,
        1180
      ],
      "id": "1b12305c-025a-453f-964b-8847420203ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        60,
        1220
      ],
      "id": "f6737f1b-c5a9-48e8-9a28-d9fcbf5215e7",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -160,
        1080
      ],
      "id": "836128ba-3fc7-4575-bbf4-ac53f7756c50",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "temas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -460,
        980
      ],
      "id": "f346363f-6d56-46d4-a5da-9aad63afa0c7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.temas }}",
                    "rightValue": "tema_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7081a8b9-aa72-4841-8392-908e2387acf9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b2472f8-0fb4-4812-bfd8-3a9417fab4a8",
                    "leftValue": "={{ $json.temas }}",
                    "rightValue": "tema_2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6d0dad77-6120-441a-ae74-55c18a550a8a",
                    "leftValue": "={{ $json.temas }}",
                    "rightValue": "tema_3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5aff824d-531d-4134-b2a6-f694e1c1f8bf",
                    "leftValue": "={{ $json.temas }}",
                    "rightValue": "tema_4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c80cc85a-2e2e-4cb2-9e62-dd8c4a48248d",
                    "leftValue": "={{ $json.temas }}",
                    "rightValue": "tema_5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        1180
      ],
      "id": "74c21771-79e6-46bb-a103-991311e76e99",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Tema 1 Fuentes": "={{ $('Merge3').item.json.numberedUrl.join('\\n') }}",
            "Tema 1 secciones": "={{ $json.Seccion.join('\\n') }}",
            "Tema 1 contenido": "={{ $('Merge3').item.json.output.join('\\n') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ToC",
              "displayName": "ToC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        120
      ],
      "id": "28e029c7-c5a6-406c-8faa-efbf50db54f4",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        120
      ],
      "id": "b16d8374-45fe-4db3-acaa-d1c44e60b50e",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        120
      ],
      "id": "e2a6e803-1da9-42d8-971e-da05ff24194e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsCode": "// Crear elementos separados para cada URL con un número asignado\n\n// Transformar los elementos de entrada para crear URLs numeradas\nreturn items.map((item, index) => {\n  return {\n    json: {\n      // Asignar un número secuencial a cada URL (empezando desde 1)\n      number: index + 1,\n\n      // Conservar la URL original desde el objeto de entrada\n      url: item.json.url,\n\n      // Opcional: crear una versión formateada de la URL con número delante\n      // Por ejemplo: \"1. https://ejemplo.com\"\n      numberedUrl: `${index + 1}. ${item.json.url}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        140
      ],
      "id": "655d84fb-886c-4c5c-9b03-d2ce67c6159a",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1580,
        260
      ],
      "id": "cb768a5b-43f2-45f8-ae1c-f610607fa139",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "numberedUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        40
      ],
      "id": "46560210-e135-406c-86ff-b09cd7afa9ca",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        140
      ],
      "id": "9b84e00d-0bbb-4330-8e95-767f820400b2",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2860,
        1260
      ],
      "id": "711d8f9c-7f10-4415-95fe-cc01ff7402f1",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3800,
        1480
      ],
      "id": "1a5ddc3a-e079-448e-ba64-6d7b9f144af6",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2700,
        1220
      ],
      "id": "640c3359-803b-4911-9218-026bbd02c4da",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "output",
        "extractionValues": {
          "values": [
            {
              "key": "Seccion",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2020,
        140
      ],
      "id": "bba78838-606f-4c1a-b620-3c4e6abca8d6",
      "name": "HTML"
    },
    {
      "parameters": {
        "content": "# Creación de subtemas",
        "height": 1000,
        "width": 1920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        860
      ],
      "id": "7cfe9802-05f9-4e4a-8515-8122ed32647e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Tema 1\n",
        "height": 500,
        "width": 2140,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        20
      ],
      "id": "0d30e36a-53b2-4971-8485-aacaa50299d7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Tema 2\n",
        "height": 480,
        "width": 2140,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        540
      ],
      "id": "dad5e60f-ff01-4527-b964-0529aeca715d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Tema 3\n",
        "height": 500,
        "width": 2140,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1040
      ],
      "id": "9e86ed32-a07f-4b6f-9a30-1909126bff54",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Tema 4\n",
        "height": 480,
        "width": 2140,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        1580
      ],
      "id": "dc147e3d-bdcb-4522-a5a0-39c8bf0c10ce",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Tema 5\n\n",
        "height": 500,
        "width": 2140,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        2100
      ],
      "id": "e545cae4-1645-4e8a-8ef2-a9b030120d54",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Ajustar contenido",
        "height": 320,
        "width": 2020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2820,
        1160
      ],
      "id": "08bb9b41-a718-470a-a43b-42ebb8b1e50a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Enviamos a Make",
        "height": 320,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4860,
        1160
      ],
      "id": "eaf89bf0-d0bf-48ec-9aa3-5f7e0554400c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Titulo\": \"<h1 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 32px; color: #1a355d; text-align: center; margin-bottom: 40px;'>Visión y Zanahorias: Un Análisis Integral del Impacto de su Consumo en la Salud Ocular</h1>\",\n  \n  \"Introduccion\": \"<div style='max-width: 900px; margin: 0 auto; background-color: #ffffff; padding: 50px; font-family: Georgia, serif; font-size: 18px; line-height: 1.8; color: #2c2c2c; border-radius: 12px; border: 1px solid #e5e5e5; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);'><h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 28px; color: #1a355d; border-bottom: 2px solid #d1d1d1; padding-bottom: 10px; margin-bottom: 30px;'>Introducción</h2><p style='text-align: justify; text-indent: 30px; margin-bottom: 25px;'>Durante generaciones, la relación entre el consumo de zanahorias y la mejora de la visión ha sido tema de debate, tanto en la cultura popular como en la investigación científica. Esta creencia, repetida a lo largo del tiempo, tiene sus raíces en la Segunda Guerra Mundial y en descubrimientos posteriores sobre los beneficios del betacaroteno. Sin embargo, ¿qué hay de cierto en esta afirmación? ¿Existen fundamentos científicos sólidos que respalden esta idea?</p><p style='text-align: justify; text-indent: 30px;'>En este informe exploraremos a fondo las propiedades bioquímicas de la zanahoria, el papel del betacaroteno en la salud visual y las recomendaciones nutricionales actuales. También analizaremos la evolución histórica de esta creencia y contrastaremos los mitos con la evidencia científica más reciente. El lector obtendrá una visión completa y actualizada sobre cómo y cuánto influye realmente el consumo de zanahorias en la vista.</p></div>\",\n  \n  \"capitulo_1\": \"<h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px;'>Capítulo 1: Propiedades bioquímicas de la zanahoria</h2>\",\n  \n  \"capitulo_2\": \"<h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px;'>Capítulo 2: El rol del betacaroteno en la salud ocular</h2>\",\n  \n  \"capitulo_3\": \"<h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px;'>Capítulo 3: Visión nocturna y zanahorias: ¿mito o realidad?</h2>\",\n  \n  \"capitulo_4\": \"<h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px;'>Capítulo 4: Historia y cultura: la evolución del mito de la zanahoria</h2>\",\n  \n  \"capitulo_5\": \"<h2 style='font-family: \\\"Helvetica Neue\\\", sans-serif; font-size: 26px; color: #1a355d; text-align: center; margin-top: 60px; margin-bottom: 30px;'>Capítulo 5: Recomendaciones dietéticas actuales para una buena salud visual</h2>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -380,
        1700
      ],
      "id": "b4c9fc19-3ee7-47ec-b39c-7b53fbe81fc4",
      "name": "Titulo, intro y capitulos"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Seccion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2240,
        140
      ],
      "id": "288c8d0c-8b4d-43b9-9c25-bac360c474e8",
      "name": "Aggregate10"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Tema 2 Fuentes": "={{ $('Merge4').item.json.numberedUrl.join('\\n') }}",
            "Tema 2 secciones": "={{ $json.Seccion.join('\\n') }}",
            "Tema 2 contenido": "={{ $('Merge4').item.json.output.join('\\n') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ToC",
              "displayName": "ToC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        660
      ],
      "id": "c6ec44f8-4571-4788-9d58-35f3404df422",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        660
      ],
      "id": "8f1a4568-d340-45ae-8166-25521adcc2a9",
      "name": "Tavily1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        660
      ],
      "id": "a18afd13-114a-412b-861f-2ebcc6373c28",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "jsCode": "// Crear elementos separados para cada URL con un número asignado\n\n// Transformar los elementos de entrada para crear URLs numeradas\nreturn items.map((item, index) => {\n  return {\n    json: {\n      // Asignar un número secuencial a cada URL (empezando desde 6)\n      number: index + 6,\n\n      // Conservar la URL original desde el objeto de entrada\n      url: item.json.url,\n\n      // Opcional: crear una versión formateada de la URL con número delante\n      // Por ejemplo: \"1. https://ejemplo.com\"\n      numberedUrl: `${index + 6}. ${item.json.url}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        660
      ],
      "id": "7979561c-4d8e-4f6e-8db5-80b8eb5d414d",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        780
      ],
      "id": "499e2679-a75f-4a49-a998-f69e67271285",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "numberedUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        560
      ],
      "id": "bba2f5c3-6f07-4f18-a2b8-f6eb46737295",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1780,
        660
      ],
      "id": "3c31ec5d-8b8f-4a90-bbaf-57d43fc20012",
      "name": "Merge4"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "output",
        "extractionValues": {
          "values": [
            {
              "key": "Seccion",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2000,
        660
      ],
      "id": "42e97ba3-dcd0-471f-910e-32cfb24bb089",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Seccion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2220,
        660
      ],
      "id": "a1eaba59-be80-437f-94d4-cfad274741fc",
      "name": "Aggregate11"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Tema 3 Fuentes": "={{ $('Merge5').item.json.numberedUrl.join('\\n') }}",
            "Tema 3 secciones": "={{ $json.Seccion.join('\\n') }}",
            "Tema 3 contenido": "={{ $('Merge5').item.json.output.join('\\n') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ToC",
              "displayName": "ToC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        1180
      ],
      "id": "edcd6041-a1f3-4ec9-8ccd-31f72eb7fb6d",
      "name": "Google Sheets2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1160
      ],
      "id": "e0b86974-a01c-42bb-91d8-f4fc3d0feaa8",
      "name": "Tavily2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        1180
      ],
      "id": "3161b28d-a04c-4e32-a1dc-29f2f4489a70",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "jsCode": "// Crear elementos separados para cada URL con un número asignado\n\n// Transformar los elementos de entrada para crear URLs numeradas\nreturn items.map((item, index) => {\n  return {\n    json: {\n      // Asignar un número secuencial a cada URL (empezando desde 11)\n      number: index + 11,\n\n      // Conservar la URL original desde el objeto de entrada\n      url: item.json.url,\n\n      // Opcional: crear una versión formateada de la URL con número delante\n      // Por ejemplo: \"1. https://ejemplo.com\"\n      numberedUrl: `${index + 11}. ${item.json.url}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1180
      ],
      "id": "8a0b734d-7725-4b53-90bf-80da4a056e89",
      "name": "Code2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        1300
      ],
      "id": "9a8aac3c-4501-4ca0-a5a7-d2d671add35e",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "numberedUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        1100
      ],
      "id": "8f721623-c539-4ad1-8c05-c5517fd0d290",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1780,
        1180
      ],
      "id": "5fa0c214-bd45-41d2-9948-d3f0aeb0df8d",
      "name": "Merge5"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "output",
        "extractionValues": {
          "values": [
            {
              "key": "Seccion",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2000,
        1180
      ],
      "id": "c2ceb31e-d33b-475e-a3b0-4ac6eac7fabc",
      "name": "HTML2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Seccion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2220,
        1180
      ],
      "id": "a21fb044-8454-4182-8326-33b98836261a",
      "name": "Aggregate12"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Tema 4 Fuentes": "={{ $('Merge6').item.json.numberedUrl.join('\\n') }}",
            "Tema 4 secciones": "={{ $json.Seccion.join('\\n') }}",
            "Tema 4 contenido": "={{ $('Merge6').item.json.output.join('\\n') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ToC",
              "displayName": "ToC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        1700
      ],
      "id": "f03f8dd6-9966-4efa-9625-110f441bb7ce",
      "name": "Google Sheets3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        1700
      ],
      "id": "a97767b6-24a5-42b8-a247-5537ad6bfe8e",
      "name": "Tavily3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        1700
      ],
      "id": "5af8902c-bb26-4fd3-b8c5-5336592b7de4",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "jsCode": "// Crear elementos separados para cada URL con un número asignado\n\n// Transformar los elementos de entrada para crear URLs numeradas\nreturn items.map((item, index) => {\n  return {\n    json: {\n      // Asignar un número secuencial a cada URL (empezando desde 16)\n      number: index + 16,\n\n      // Conservar la URL original desde el objeto de entrada\n      url: item.json.url,\n\n      // Opcional: crear una versión formateada de la URL con número delante\n      // Por ejemplo: \"1. https://ejemplo.com\"\n      numberedUrl: `${index + 16}. ${item.json.url}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        1700
      ],
      "id": "3b67dac0-d5c4-47aa-a490-24330ddeadb5",
      "name": "Code3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        1820
      ],
      "id": "2d84526f-e3a7-451a-a2d1-be5a91cca06c",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "numberedUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        1600
      ],
      "id": "9984398e-1a6e-4200-842e-0f253904d29a",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1780,
        1700
      ],
      "id": "b7f78500-3365-47d4-b5d3-16260c8271ad",
      "name": "Merge6"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "output",
        "extractionValues": {
          "values": [
            {
              "key": "Seccion",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2000,
        1700
      ],
      "id": "de7afc5e-3ffe-4259-9eea-1af4ab58ab1f",
      "name": "HTML3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Seccion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2220,
        1700
      ],
      "id": "c45019ab-4621-4174-99e2-eb0cf054dc24",
      "name": "Aggregate13"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Tema 5 Fuentes": "={{ $('Merge7').item.json.numberedUrl.join('\\n') }}",
            "Tema 5 secciones": "={{ $json.Seccion.join('\\n') }}",
            "Tema 5 contenido": "={{ $('Merge7').item.json.output.join('\\n') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ToC",
              "displayName": "ToC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2440,
        2260
      ],
      "id": "2756cdc5-00a4-499d-98c9-c95c13d2a94b",
      "name": "Google Sheets4",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.output }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        2260
      ],
      "id": "18d45bd2-8bde-4da4-bb32-59626860a430",
      "name": "Tavily4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s6ob3o4picPojIGt",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        740,
        2260
      ],
      "id": "8bb725cc-f354-4780-9ed6-90cb2297e69c",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "jsCode": "// Crear elementos separados para cada URL con un número asignado\n\n// Transformar los elementos de entrada para crear URLs numeradas\nreturn items.map((item, index) => {\n  return {\n    json: {\n      // Asignar un número secuencial a cada URL (empezando desde 16)\n      number: index + 21,\n\n      // Conservar la URL original desde el objeto de entrada\n      url: item.json.url,\n\n      // Opcional: crear una versión formateada de la URL con número delante\n      // Por ejemplo: \"1. https://ejemplo.com\"\n      numberedUrl: `${index + 21}. ${item.json.url}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2260
      ],
      "id": "ebb6e2a9-58a6-4fbb-a5fc-13fd9121b5ad",
      "name": "Code4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        2380
      ],
      "id": "7ec7e4ef-8eca-4dea-9083-86a0f16365d1",
      "name": "Aggregate8"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "numberedUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        2120
      ],
      "id": "85b1f0de-ac65-4987-88c4-41dfaab4e1dc",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1780,
        2260
      ],
      "id": "7fdcc5b9-8934-4227-9496-e8e04afe502b",
      "name": "Merge7"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "output",
        "extractionValues": {
          "values": [
            {
              "key": "Seccion",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2000,
        2260
      ],
      "id": "7ec691f8-f4f4-4113-a4a0-3aa7f6c931cb",
      "name": "HTML4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Seccion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2220,
        2260
      ],
      "id": "f71de1f0-5986-483e-89de-c04ac74df1d6",
      "name": "Aggregate14"
    },
    {
      "parameters": {
        "jsCode": "// Nodo de código en N8N para combinar múltiples campos en uno solo, separados por saltos de línea\n\n// Este código espera que el objeto de entrada tenga los siguientes campos:\n// - Titulo\n// - Introduccion\n// - Indice\n// - Capitulo 1\n// - Tema 1 contenido\n// - Capitulo 2\n// - Tema 2 contenido\n// - Capitulo 3\n// - Tema 3 contenido\n// - Capitulo 4\n// - Tema 4 contenido\n// - Capitulo 5\n// - Tema 5 contenido\n// - Fuentes\n\n// Accedemos al primer elemento de entrada (en N8N normalmente hay una lista de items, usamos el primero)\nconst item = items[0];\n\n// Creamos un nuevo campo llamado \"Contenido_combinado\" que unirá todos los campos anteriores\n// Cada campo se separará con dos saltos de línea (\\n\\n) para facilitar la lectura\n// Si alguno de los campos no existe, se usará una cadena vacía (|| '')\nconst contenidoCombinado = [\n  item.json.Título || '',\n  item.json.Introducción || '',\n  item.json.Indice || '',\n  item.json['Capitulo 1'] || '',\n  item.json['Tema 1 contenido'] || '',\n  item.json['Capitulo 2'] || '',\n  item.json['Tema 2 contenido'] || '',\n  item.json['Capitulo 3'] || '',\n  item.json['Tema 3 contenido'] || '',\n  item.json['Capitulo 4'] || '',\n  item.json['Tema 4 contenido'] || '',\n  item.json['Capitulo 5'] || '',\n  item.json['Tema 5 contenido'] || '',\n  item.json.Fuentes || ''\n].join('\\n\\n'); // Unimos todo el contenido con doble salto de línea entre cada bloque\n\n// Añadimos el nuevo campo \"Contenido_combinado\" al objeto original\nitem.json.Contenido_combinado = contenidoCombinado;\n\n// Devolvemos el item modificado como resultado del nodo\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4940,
        1260
      ],
      "id": "a9293fad-c7e7-48c5-9018-85c569062225",
      "name": "Combinar contenido"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subtema_1\": \"Optimización de procesos internos mediante IA: eficiencia y reducción de costes\",\n  \"subtema_2\": \"Herramientas y plataformas clave para la automatización empresarial impulsada por IA\",\n  \"subtema_3\": \"Retos legales, éticos y humanos en la implementación de automatizaciones con IA\",\n  \"subtema_4\": \"Análisis de casos de éxito: empresas que transformaron su operativa con IA\",\n  \"subtema_5\": \"Tendencias futuras en automatización inteligente: hiperautomatización y agentes autónomos\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -860,
        1400
      ],
      "id": "56d71288-2cda-42fb-a858-500ab759717e",
      "name": "5 Sub-Temas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tema: {{ $json.Tema }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Objetivo:\nActúas como un asistente de investigación experto. Tu tarea es analizar un tema general de búsqueda y descomponerlo en cinco subtemas clave, únicos y altamente relevantes, que permitan una investigación profunda, estructurada y completa del tema original.\n\nInstrucciones:\nSigue estos pasos para asegurar una respuesta de máxima calidad:\n\n1. Desglose estratégico:\nDescompón el tema principal en cinco subtemas bien definidos, que aborden diferentes perspectivas o componentes del tema original.\n- Cada subtema debe ser específico, pero lo suficientemente amplio como para permitir un análisis profundo.\n- Evita subtemas vagos, demasiado generales o redundantes entre sí.\n\n2. Relevancia e independencia:\n- Cada subtema debe ser relevante por sí mismo y a la vez conectado lógicamente con el tema principal.\n- Evita repetir enfoques similares con palabras distintas.\n\n3. Calidad investigativa:\n- Prioriza subtemas que fomenten el pensamiento crítico, la exploración de herramientas, retos actuales, casos reales y proyecciones futuras.\n- Ten en cuenta posibles aplicaciones, implicaciones éticas, impacto en distintos sectores, etc.\n\nFormato de salida (JSON):\nResponde exclusivamente en el siguiente formato JSON, sin explicaciones adicionales:\n\n{\n  \"subtema_1\": \"<Subtema clave número 1>\",\n  \"subtema_2\": \"<Subtema clave número 2>\",\n  \"subtema_3\": \"<Subtema clave número 3>\",\n  \"subtema_4\": \"<Subtema clave número 4>\",\n  \"subtema_5\": \"<Subtema clave número 5>\"\n}\n\nEjemplo de entrada y salida:\n\nEntrada:\nAutomatización empresarial con inteligencia artificial\n\nSalida esperada:\n{\n  \"subtema_1\": \"Optimización de procesos internos mediante IA: eficiencia y reducción de costes\",\n  \"subtema_2\": \"Herramientas y plataformas clave para la automatización empresarial impulsada por IA\",\n  \"subtema_3\": \"Retos legales, éticos y humanos en la implementación de automatizaciones con IA\",\n  \"subtema_4\": \"Análisis de casos de éxito: empresas que transformaron su operativa con IA\",\n  \"subtema_5\": \"Tendencias futuras en automatización inteligente: hiperautomatización y agentes autónomos\"\n}\n\nRequisitos de calidad:\n- Claridad, especificidad y estructura lógica.\n- Nada de repeticiones o ideas solapadas.\n- Respuesta solo en JSON, sin encabezados ni notas.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1140,
        1180
      ],
      "id": "94724cf3-c55e-41b3-aa07-5036ebe5ce4c",
      "name": "Creación subtemas"
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1140,
        380
      ],
      "id": "f9fd27a5-50f3-4665-a6c1-90a8edcd055e",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        900
      ],
      "id": "3f452502-75d5-4873-b7ee-0cd35b6e9af8",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        2600
      ],
      "id": "19b06fe0-b888-4eb8-b94d-b85eb623bae3",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        1940
      ],
      "id": "ae9d7965-0221-450c-9e2c-ea04cb654d8f",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        1420
      ],
      "id": "08c1ac72-a767-4fd6-b826-5a54cd49e3b8",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "TaWLwZCIMo3j9GPj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Investigación profunda",
        "formDescription": "¿Sobre qué quieres investigar profundamente?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tema",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Correo electrónico",
              "fieldType": "email"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1180
      ],
      "id": "2db45c58-d4c3-4c83-afac-ac9ba91ca842",
      "name": "On form submission",
      "webhookId": "e3208a7f-57a1-4a2b-941c-cfc98b2d7cdc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Capitulo 1: {{ $json['Capitulo 1'] }}\nSecciones: {{ $json['Tema 1 secciones'] }}\n\nCapitulo 2: {{ $json['Capitulo 2'] }}\nSecciones: {{ $json['Tema 2 secciones'] }}\n\n\nCapitulo 3: {{ $json['Capitulo 3'] }}\nSecciones: {{ $json['Tema 3 secciones'] }}\n\nCapitulo 4: {{ $json['Capitulo 4'] }}\nSecciones: {{ $json['Tema 4 secciones'] }}\n\nCapitulo 5: {{ $json['Capitulo 5'] }}\nSecciones: {{ $json['Tema 5 secciones'] }}\n\nGuia de estilo: {{ $('Intro').first().json.output.Introduccion }}",
        "options": {
          "systemMessage": "=Eres un asistente de inteligencia artificial especializado en crear índices (Tabla de Contenidos) en HTML profesionalmente estructurados para informes de investigación. Debes generar una tabla de contenidos clara, legible y bien organizada, siguiendo la guía de estilo proporcionada.\n\n---\n\n## Directrices de Formato\n\n### 1. Capítulos como Encabezados `<h2>`\n- Cada capítulo debe representarse con un encabezado `<h2>`.\n- El texto debe incluir el número y título del capítulo, por ejemplo: `Capítulo 1: Introducción`.\n\n### 2. Secciones como Lista Ordenada (`<ol>`)\n- Las secciones de cada capítulo deben estar listadas dentro de una lista ordenada `<ol>`.\n- Cada sección debe ir como un elemento `<li>`.\n- Mantén la jerarquía clara y usa la indentación para facilitar la lectura.\n\n### 3. Aplicar la Guía de Estilo\n- Envuelve toda la tabla de contenidos en un `<div>` que respete el diseño especificado (mismo fondo, padding, color, tamaño de fuente, etc.).\n- Añade una línea horizontal (`<hr>`) después del título para separar visualmente.\n\n---\n\n## Ejemplo de Salida en HTML (Tema: Impacto de la IA en la Educación). No añadas nada mas a parte de esto.\n\n<div style=\"padding: 20px; font-family: Arial, sans-serif; font-size: 18px; line-height: 1.15; color: #2c2c2c;\">\n    <h2 style=\"font-size: 28px; color: #1a355d; line-height: 1.15;\">Tabla de Contenidos</h2>\n    <hr>\n    <ol>\n        <li>\n            <h2 style=\"font-size: 22px; color: #1a355d; line-height: 1.15;\">Capítulo 1: Introducción</h2>\n            <ol>\n                <li>Contexto y Justificación</li>\n                <li>Objetivos del Estudio</li>\n            </ol>\n        </li>\n        <li>\n            <h2 style=\"font-size: 22px; color: #1a355d; line-height: 1.15;\">Capítulo 2: Aplicaciones de la IA en Educación</h2>\n            <ol>\n                <li>Plataformas de Aprendizaje Personalizado</li>\n                <li>Asistentes Virtuales y Chatbots</li>\n                <li>Automatización de Tareas Administrativas</li>\n            </ol>\n        </li>\n        <li>\n            <h2 style=\"font-size: 22px; color: #1a355d; line-height: 1.15;\">Capítulo 3: Retos Éticos y Técnicos</h2>\n            <ol>\n                <li>Privacidad y Protección de Datos</li>\n                <li>Sesgos Algorítmicos</li>\n                <li>Dependencia Tecnológica</li>\n            </ol>\n        </li>\n    </ol>\n</div>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4120,
        1260
      ],
      "id": "3ce2cc53-a7a8-44cc-9bee-bb24ef05d33a",
      "name": "Indice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu2.make.com/jxrn4bosg04pp6y7hxgjfanfl8ephi01",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Contenido_combinado",
              "value": "={{ $json.Contenido_combinado }}"
            },
            {
              "name": "Titulo",
              "value": "={{ $('Obtener contenido').item.json['Título'] }}"
            },
            {
              "name": "Correo electrónico",
              "value": "={{ $('On form submission').item.json['Correo electrónico'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        1260
      ],
      "id": "48faae6f-7c3d-4067-8990-38d9f318fbb9",
      "name": "Make"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4720,
        1260
      ],
      "id": "2c46a755-6f0b-47e2-8975-e118f064bf58",
      "name": "Obtener contenido",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Indice": "={{ $json.output.replace('```html', '').replace('```', '').replace('\\n', '') }}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuentes",
              "displayName": "Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Indice",
              "displayName": "Indice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4500,
        1260
      ],
      "id": "109031af-6305-4c41-8696-1d8ba0a68243",
      "name": "Enviar indice",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3900,
        1260
      ],
      "id": "5dc0b993-a5f9-4ed7-b292-7d953cd845b1",
      "name": "Obtener contenido1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').first().json.Tema }}",
            "Fuentes": "={{ $json.output .replace('```html', '').replace('```', '').replace('\\n','')}}"
          },
          "matchingColumns": [
            "Tema"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuentes",
              "displayName": "Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Indice",
              "displayName": "Indice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3680,
        1260
      ],
      "id": "76a1b8a7-d237-4f09-aad8-b4bf75b18454",
      "name": "Enviar fuentes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3080,
        1260
      ],
      "id": "b0644745-075b-44f1-a7df-28760d4096b5",
      "name": "Obtener fuentes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fuentes:\n{{ $json['Tema 1 Fuentes'] }}\n{{ $json['Tema 2 Fuentes'] }}\n{{ $json['Tema 3 Fuentes'] }}\n{{ $json['Tema 4 Fuentes'] }}\n{{ $json['Tema 5 Fuentes'] }}\n",
        "options": {
          "systemMessage": "=Eres un asistente de inteligencia artificial especializado en generar secciones de \"Fuentes\" en HTML bien formateadas para informes de investigación. Se te proporcionará una lista de fuentes, cada una con un número asociado. Tu tarea es generar una sección en HTML titulada **\"Fuentes\"**, en la que:\n\n1. Cada fuente debe mostrarse con su número original entre corchetes `[ ]`.\n2. Cada fuente debe ser un hipervínculo **clickable** que se abra en una nueva pestaña.\n3. La lista debe estar estructurada con `<ul>` para facilitar la lectura y mantener una presentación clara.\n\n---\n\n## Directrices de Formato\n\n- El título de la sección debe ser:  \n  `<h2>Fuentes</h2>`\n- Utiliza una **lista no ordenada** (`<ul>`) para mostrar las fuentes.\n- Cada fuente debe seguir este formato:  \n  `<li><a href=\"URL_DE_LA_FUENTE\" target=\"_blank\">[NÚMERO] Título de la Fuente</a></li>`\n- Es importante **preservar el número original** de cada fuente en el orden en que se te entregan.\n\n---\n\n## Ejemplo de Salida en HTML (Tema: Ética en la Inteligencia Artificial)\n\n<div class=\"sources-section\">\n    <h2>Fuentes</h2>\n    <ul>\n        <li><a href=\"https://aiethicsguide.org\" target=\"_blank\">[1] AI Ethics Guidelines by the EU</a></li>\n        <li><a href=\"https://ethicsinaction.org/ai\" target=\"_blank\">[2] Ethical Implications of Autonomous Systems</a></li>\n        <li><a href=\"https://research.ibm.com/ai/trustworthy\" target=\"_blank\">[3] IBM’s Principles for Trustworthy AI</a></li>\n    </ul>\n</div>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3300,
        1260
      ],
      "id": "9bfe1f4d-2dbf-4e1b-85b7-52b38f0884dd",
      "name": "Fuentes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo: {{ $('Split Out2').item.json.title }}\n\nInvestigación: \n{{ $('Split Out2').item.json.content }}\n\nFuente:\n{{ $json.numberedUrl }}\n\nGuia de ejemplo de formato:\n{{ $('Switch').first().json['Introducción'] }}",
        "options": {
          "systemMessage": "=Eres un asistente de investigación basado en inteligencia artificial, experto en redactar informes profesionales en HTML. A partir de un título, una investigación, fuentes y una guía de estilo proporcionada, tu misión es generar un informe en HTML visualmente atractivo y coherente que transmita la información de forma densa, rigurosa y natural, como si fuera el resultado de una investigación profunda.\n\n---\n\n## Instrucciones para la Generación del Informe\n\n### 1. Guía de Estilo\n- Debes seguir de forma estricta la guía de estilo HTML proporcionada.\n- Asegura consistencia en colores, tipografías, espaciado, estructura visual y estilos generales.\n\n### 2. Formato del Informe\n- El informe debe estar completamente estructurado en HTML profesional.\n- Debe incluir:\n  - **Título** como `<h1>`: Se proporciona en el campo “Title”.\n  - **Contenido principal** dividido en secciones temáticas con `<h2>`, `<h3>` y `<p>`.\n  - Cada sección debe ir envuelta dentro de un `<div>` con clase `report-section`, utilizando los estilos dados para mantener coherencia visual.\n  - Usa `<p>` para párrafos, `<ul>/<ol>` para listas, y `<hr>` para dividir bloques temáticos si es necesario.\n- **No utilices encabezados genéricos como \"Introducción\", \"Key Findings\" o \"Conclusión\"**. No debe parecer una redacción escolar ni una plantilla repetitiva.\n- La organización debe ser lógica y natural, fluyendo de un tema a otro, sin necesidad de encasillarlo todo en estructuras rígidas.\n\n### 3. Contenido de Investigación\n- Extrae **información profunda, relevante y detallada**, evitando cualquier enfoque superficial o resumen general.\n- El texto debe ser denso y técnico, como si estuviera escrito por un experto en el tema que busca transmitir conocimiento real.\n- No incluyas párrafos innecesarios para contextualizar de forma genérica. Ve directo al contenido útil, explicativo y con sustancia. Quiero que seas muy detallado con las explicaciones. Extiendete tanto como sea necesario.\n- Evita conclusiones formales o frases de cierre. El texto debe sentirse como una exposición continua de hallazgos o hechos investigados.\n\n### 4. Referencias\n- Las fuentes deben citarse **en línea** con un número entre corchetes y ser clickables.\n- Formato del enlace:  \n  `<a href=\"SOURCE_URL\" target=\"_blank\">[n]</a>`\n- No incluyas sección de \"Referencias\". Toda cita debe ir integrada en el texto.\n\n### 5. Completado del Título\n- Si el campo \"Title\" está incompleto o contiene puntos suspensivos (...), completa el título a partir del contenido de la fuente.\n\n\n---\n\n## Ejemplo de Salida en HTML (Aplicando la Guía de Estilo)\n\n<!DOCTYPE html>\n<html>\n<head>\n  <title>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</title>\n  <style>\n    body {\n      font-family: \"Arial\", serif;\n      line-height: 1.8;\n      margin: 20px;\n      background-color: transparent;\n      color: #2c2c2c;\n    }\n\n    h1, h2, h3 {\n      font-family: \"Arial\", sans-serif;\n      color: #1a355d;\n    }\n\n    h1 {\n      font-size: 32px;\n      text-align: center;\n      margin-bottom: 40px;\n    }\n\n    h2 {\n      font-size: 28px;\n      margin-bottom: 30px;\n    }\n\n    h3 {\n      font-size: 22px;\n      margin-top: 25px;\n    }\n\n    .report-section {\n      max-width: 900px;\n      margin: 0 auto 50px auto;\n      padding: 0;\n      font-size: 18px;\n    }\n\n    p {\n      text-align: justify;\n      text-indent: 30px;\n      margin-bottom: 20px;\n    }\n\n    hr {\n      border: none;\n      height: 1px;\n      background-color: #ddd;\n      margin: 30px 0;\n    }\n\n    a {\n      color: #1a355d;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"report-section\">\n    <h1>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</h1>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Modelos conversacionales como estímulo lingüístico</h2>\n    <p>El uso de asistentes virtuales y dispositivos con inteligencia artificial (IA) en entornos domésticos ha introducido nuevas formas de interacción verbal para los niños. Estudios recientes sugieren que los sistemas de IA basados en lenguaje natural pueden ofrecer estímulos lingüísticos complementarios, especialmente en hogares con menor acceso a entornos de alta estimulación verbal <a href=\"https://www.frontiersin.org/articles/10.3389/feduc.2023.1234567/full\" target=\"_blank\">[1]</a>. Estos dispositivos, si bien no reemplazan el rol del cuidador, amplían el repertorio auditivo y exponen a los niños a estructuras gramaticales y vocabulario nuevo, especialmente en edades tempranas.</p>\n\n    <p>Sin embargo, los modelos actuales presentan limitaciones en cuanto al ajuste al nivel de desarrollo del niño. A diferencia de un adulto que adapta su lenguaje en función de la edad, los sistemas de IA tienden a mantener un lenguaje estándar o avanzado, lo que podría generar desajustes en la comprensión y frustración si no se supervisa adecuadamente <a href=\"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9876543/\" target=\"_blank\">[2]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Exposición pasiva vs. interacción activa</h2>\n    <p>Un punto clave en la discusión es la diferencia entre exposición pasiva (escuchar sin responder) e interacción activa (diálogo). La investigación neurolingüística ha demostrado que el desarrollo del lenguaje se potencia más a través del intercambio que de la escucha unilateral. Algunos dispositivos con IA han comenzado a incluir respuestas diseñadas para promover turnos conversacionales, pero la mayoría aún no logra una conversación bidireccional adaptada al contexto real del niño <a href=\"https://journals.sagepub.com/doi/full/10.1177/09567976221098765\" target=\"_blank\">[3]</a>.</p>\n\n    <p>Los datos también muestran diferencias entre clases sociales: en entornos con menor capital cultural, la IA puede ser vista como sustituto educativo, mientras que en familias con más recursos se percibe como herramienta de apoyo complementaria, lo que amplifica brechas preexistentes <a href=\"https://edtechhub.org/ai-early-years\" target=\"_blank\">[4]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Implicaciones para el diseño de herramientas educativas</h2>\n    <p>Los hallazgos anteriores evidencian la necesidad de que los desarrolladores de IA consideren la etapa evolutiva del niño al diseñar experiencias conversacionales. Existen ya prototipos de asistentes que adaptan el nivel de dificultad del vocabulario o repiten estructuras con fines pedagógicos. También se explora la inclusión de componentes emocionales y reconocimiento de tono de voz, para responder no solo a lo que el niño dice, sino a cómo lo dice <a href=\"https://www.sciencedirect.com/science/article/abs/pii/S0742051X22001017\" target=\"_blank\">[5]</a>.</p>\n\n    <p>Los entornos escolares que integran IA en el aprendizaje del lenguaje también están en fase de estudio. Algunas experiencias piloto en Reino Unido y Canadá muestran mejoras en el vocabulario receptivo y expresivo cuando se utiliza IA como herramienta complementaria, especialmente en alumnos con necesidades educativas especiales o barreras idiomáticas.</p>\n  </div>\n\n</body>\n</html>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        160
      ],
      "id": "db0f7266-0809-4172-a38a-d686645c191e",
      "name": "Agente1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo: {{ $('Split Out3').item.json.title }}\n\nInvestigación: \n{{ $('Split Out3').item.json.content }}\n\nFuente:\n{{ $json.numberedUrl }}\n\nGuia de ejemplo:\n{{ $('Switch').first().json['Introducción'] }}",
        "options": {
          "systemMessage": "=Eres un asistente de investigación basado en inteligencia artificial, experto en redactar informes profesionales en HTML. A partir de un título, una investigación, fuentes y una guía de estilo proporcionada, tu misión es generar un informe en HTML visualmente atractivo y coherente que transmita la información de forma densa, rigurosa y natural, como si fuera el resultado de una investigación profunda.\n\n---\n\n## Instrucciones para la Generación del Informe\n\n### 1. Guía de Estilo\n- Debes seguir de forma estricta la guía de estilo HTML proporcionada.\n- Asegura consistencia en colores, tipografías, espaciado, estructura visual y estilos generales.\n\n### 2. Formato del Informe\n- El informe debe estar completamente estructurado en HTML profesional.\n- Debe incluir:\n  - **Título** como `<h1>`: Se proporciona en el campo “Title”.\n  - **Contenido principal** dividido en secciones temáticas con `<h2>`, `<h3>` y `<p>`.\n  - Cada sección debe ir envuelta dentro de un `<div>` con clase `report-section`, utilizando los estilos dados para mantener coherencia visual.\n  - Usa `<p>` para párrafos, `<ul>/<ol>` para listas, y `<hr>` para dividir bloques temáticos si es necesario.\n- **No utilices encabezados genéricos como \"Introducción\", \"Key Findings\" o \"Conclusión\"**. No debe parecer una redacción escolar ni una plantilla repetitiva.\n- La organización debe ser lógica y natural, fluyendo de un tema a otro, sin necesidad de encasillarlo todo en estructuras rígidas.\n\n### 3. Contenido de Investigación\n- Extrae **información profunda, relevante y detallada**, evitando cualquier enfoque superficial o resumen general.\n- El texto debe ser denso y técnico, como si estuviera escrito por un experto en el tema que busca transmitir conocimiento real.\n- No incluyas párrafos innecesarios para contextualizar de forma genérica. Ve directo al contenido útil, explicativo y con sustancia. Quiero que seas muy detallado con las explicaciones. Extiendete tanto como sea necesario.\n- Evita conclusiones formales o frases de cierre. El texto debe sentirse como una exposición continua de hallazgos o hechos investigados.\n\n### 4. Referencias\n- Las fuentes deben citarse **en línea** con un número entre corchetes y ser clickables.\n- Formato del enlace:  \n  `<a href=\"SOURCE_URL\" target=\"_blank\">[n]</a>`\n- No incluyas sección de \"Referencias\". Toda cita debe ir integrada en el texto.\n\n### 5. Completado del Título\n- Si el campo \"Title\" está incompleto o contiene puntos suspensivos (...), completa el título a partir del contenido de la fuente.\n\n\n---\n\n## Ejemplo de Salida en HTML (Aplicando la Guía de Estilo)\n\n<!DOCTYPE html>\n<html>\n<head>\n  <title>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</title>\n  <style>\n    body {\n      font-family: \"Arial\", serif;\n      line-height: 1.8;\n      margin: 20px;\n      background-color: transparent;\n      color: #2c2c2c;\n    }\n\n    h1, h2, h3 {\n      font-family: \"Arial\", sans-serif;\n      color: #1a355d;\n    }\n\n    h1 {\n      font-size: 32px;\n      text-align: center;\n      margin-bottom: 40px;\n    }\n\n    h2 {\n      font-size: 28px;\n      margin-bottom: 30px;\n    }\n\n    h3 {\n      font-size: 22px;\n      margin-top: 25px;\n    }\n\n    .report-section {\n      max-width: 900px;\n      margin: 0 auto 50px auto;\n      padding: 0;\n      font-size: 18px;\n    }\n\n    p {\n      text-align: justify;\n      text-indent: 30px;\n      margin-bottom: 20px;\n    }\n\n    hr {\n      border: none;\n      height: 1px;\n      background-color: #ddd;\n      margin: 30px 0;\n    }\n\n    a {\n      color: #1a355d;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"report-section\">\n    <h1>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</h1>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Modelos conversacionales como estímulo lingüístico</h2>\n    <p>El uso de asistentes virtuales y dispositivos con inteligencia artificial (IA) en entornos domésticos ha introducido nuevas formas de interacción verbal para los niños. Estudios recientes sugieren que los sistemas de IA basados en lenguaje natural pueden ofrecer estímulos lingüísticos complementarios, especialmente en hogares con menor acceso a entornos de alta estimulación verbal <a href=\"https://www.frontiersin.org/articles/10.3389/feduc.2023.1234567/full\" target=\"_blank\">[1]</a>. Estos dispositivos, si bien no reemplazan el rol del cuidador, amplían el repertorio auditivo y exponen a los niños a estructuras gramaticales y vocabulario nuevo, especialmente en edades tempranas.</p>\n\n    <p>Sin embargo, los modelos actuales presentan limitaciones en cuanto al ajuste al nivel de desarrollo del niño. A diferencia de un adulto que adapta su lenguaje en función de la edad, los sistemas de IA tienden a mantener un lenguaje estándar o avanzado, lo que podría generar desajustes en la comprensión y frustración si no se supervisa adecuadamente <a href=\"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9876543/\" target=\"_blank\">[2]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Exposición pasiva vs. interacción activa</h2>\n    <p>Un punto clave en la discusión es la diferencia entre exposición pasiva (escuchar sin responder) e interacción activa (diálogo). La investigación neurolingüística ha demostrado que el desarrollo del lenguaje se potencia más a través del intercambio que de la escucha unilateral. Algunos dispositivos con IA han comenzado a incluir respuestas diseñadas para promover turnos conversacionales, pero la mayoría aún no logra una conversación bidireccional adaptada al contexto real del niño <a href=\"https://journals.sagepub.com/doi/full/10.1177/09567976221098765\" target=\"_blank\">[3]</a>.</p>\n\n    <p>Los datos también muestran diferencias entre clases sociales: en entornos con menor capital cultural, la IA puede ser vista como sustituto educativo, mientras que en familias con más recursos se percibe como herramienta de apoyo complementaria, lo que amplifica brechas preexistentes <a href=\"https://edtechhub.org/ai-early-years\" target=\"_blank\">[4]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Implicaciones para el diseño de herramientas educativas</h2>\n    <p>Los hallazgos anteriores evidencian la necesidad de que los desarrolladores de IA consideren la etapa evolutiva del niño al diseñar experiencias conversacionales. Existen ya prototipos de asistentes que adaptan el nivel de dificultad del vocabulario o repiten estructuras con fines pedagógicos. También se explora la inclusión de componentes emocionales y reconocimiento de tono de voz, para responder no solo a lo que el niño dice, sino a cómo lo dice <a href=\"https://www.sciencedirect.com/science/article/abs/pii/S0742051X22001017\" target=\"_blank\">[5]</a>.</p>\n\n    <p>Los entornos escolares que integran IA en el aprendizaje del lenguaje también están en fase de estudio. Algunas experiencias piloto en Reino Unido y Canadá muestran mejoras en el vocabulario receptivo y expresivo cuando se utiliza IA como herramienta complementaria, especialmente en alumnos con necesidades educativas especiales o barreras idiomáticas.</p>\n  </div>\n\n</body>\n</html>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        700
      ],
      "id": "96ba77aa-d859-4b96-a466-0b729a2a21f3",
      "name": "Agente2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo: {{ $('Split Out4').item.json.title }}\n\nInvestigación: \n{{ $('Split Out4').item.json.content }}\n\nFuente:\n{{ $json.numberedUrl }}\n\nGuia de ejemplo:\n{{ $('Switch').first().json['Introducción'] }}",
        "options": {
          "systemMessage": "=Eres un asistente de investigación basado en inteligencia artificial, experto en redactar informes profesionales en HTML. A partir de un título, una investigación, fuentes y una guía de estilo proporcionada, tu misión es generar un informe en HTML visualmente atractivo y coherente que transmita la información de forma densa, rigurosa y natural, como si fuera el resultado de una investigación profunda.\n\n---\n\n## Instrucciones para la Generación del Informe\n\n### 1. Guía de Estilo\n- Debes seguir de forma estricta la guía de estilo HTML proporcionada.\n- Asegura consistencia en colores, tipografías, espaciado, estructura visual y estilos generales.\n\n### 2. Formato del Informe\n- El informe debe estar completamente estructurado en HTML profesional.\n- Debe incluir:\n  - **Título** como `<h1>`: Se proporciona en el campo “Title”.\n  - **Contenido principal** dividido en secciones temáticas con `<h2>`, `<h3>` y `<p>`.\n  - Cada sección debe ir envuelta dentro de un `<div>` con clase `report-section`, utilizando los estilos dados para mantener coherencia visual.\n  - Usa `<p>` para párrafos, `<ul>/<ol>` para listas, y `<hr>` para dividir bloques temáticos si es necesario.\n- **No utilices encabezados genéricos como \"Introducción\", \"Key Findings\" o \"Conclusión\"**. No debe parecer una redacción escolar ni una plantilla repetitiva.\n- La organización debe ser lógica y natural, fluyendo de un tema a otro, sin necesidad de encasillarlo todo en estructuras rígidas.\n\n### 3. Contenido de Investigación\n- Extrae **información profunda, relevante y detallada**, evitando cualquier enfoque superficial o resumen general.\n- El texto debe ser denso y técnico, como si estuviera escrito por un experto en el tema que busca transmitir conocimiento real.\n- No incluyas párrafos innecesarios para contextualizar de forma genérica. Ve directo al contenido útil, explicativo y con sustancia. Quiero que seas muy detallado con las explicaciones. Extiendete tanto como sea necesario.\n- Evita conclusiones formales o frases de cierre. El texto debe sentirse como una exposición continua de hallazgos o hechos investigados.\n\n### 4. Referencias\n- Las fuentes deben citarse **en línea** con un número entre corchetes y ser clickables.\n- Formato del enlace:  \n  `<a href=\"SOURCE_URL\" target=\"_blank\">[n]</a>`\n- No incluyas sección de \"Referencias\". Toda cita debe ir integrada en el texto.\n\n### 5. Completado del Título\n- Si el campo \"Title\" está incompleto o contiene puntos suspensivos (...), completa el título a partir del contenido de la fuente.\n\n\n---\n\n## Ejemplo de Salida en HTML (Aplicando la Guía de Estilo)\n\n<!DOCTYPE html>\n<html>\n<head>\n  <title>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</title>\n  <style>\n    body {\n      font-family: \"Arial\", serif;\n      line-height: 1.8;\n      margin: 20px;\n      background-color: transparent;\n      color: #2c2c2c;\n    }\n\n    h1, h2, h3 {\n      font-family: \"Arial\", sans-serif;\n      color: #1a355d;\n    }\n\n    h1 {\n      font-size: 32px;\n      text-align: center;\n      margin-bottom: 40px;\n    }\n\n    h2 {\n      font-size: 28px;\n      margin-bottom: 30px;\n    }\n\n    h3 {\n      font-size: 22px;\n      margin-top: 25px;\n    }\n\n    .report-section {\n      max-width: 900px;\n      margin: 0 auto 50px auto;\n      padding: 0;\n      font-size: 18px;\n    }\n\n    p {\n      text-align: justify;\n      text-indent: 30px;\n      margin-bottom: 20px;\n    }\n\n    hr {\n      border: none;\n      height: 1px;\n      background-color: #ddd;\n      margin: 30px 0;\n    }\n\n    a {\n      color: #1a355d;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"report-section\">\n    <h1>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</h1>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Modelos conversacionales como estímulo lingüístico</h2>\n    <p>El uso de asistentes virtuales y dispositivos con inteligencia artificial (IA) en entornos domésticos ha introducido nuevas formas de interacción verbal para los niños. Estudios recientes sugieren que los sistemas de IA basados en lenguaje natural pueden ofrecer estímulos lingüísticos complementarios, especialmente en hogares con menor acceso a entornos de alta estimulación verbal <a href=\"https://www.frontiersin.org/articles/10.3389/feduc.2023.1234567/full\" target=\"_blank\">[1]</a>. Estos dispositivos, si bien no reemplazan el rol del cuidador, amplían el repertorio auditivo y exponen a los niños a estructuras gramaticales y vocabulario nuevo, especialmente en edades tempranas.</p>\n\n    <p>Sin embargo, los modelos actuales presentan limitaciones en cuanto al ajuste al nivel de desarrollo del niño. A diferencia de un adulto que adapta su lenguaje en función de la edad, los sistemas de IA tienden a mantener un lenguaje estándar o avanzado, lo que podría generar desajustes en la comprensión y frustración si no se supervisa adecuadamente <a href=\"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9876543/\" target=\"_blank\">[2]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Exposición pasiva vs. interacción activa</h2>\n    <p>Un punto clave en la discusión es la diferencia entre exposición pasiva (escuchar sin responder) e interacción activa (diálogo). La investigación neurolingüística ha demostrado que el desarrollo del lenguaje se potencia más a través del intercambio que de la escucha unilateral. Algunos dispositivos con IA han comenzado a incluir respuestas diseñadas para promover turnos conversacionales, pero la mayoría aún no logra una conversación bidireccional adaptada al contexto real del niño <a href=\"https://journals.sagepub.com/doi/full/10.1177/09567976221098765\" target=\"_blank\">[3]</a>.</p>\n\n    <p>Los datos también muestran diferencias entre clases sociales: en entornos con menor capital cultural, la IA puede ser vista como sustituto educativo, mientras que en familias con más recursos se percibe como herramienta de apoyo complementaria, lo que amplifica brechas preexistentes <a href=\"https://edtechhub.org/ai-early-years\" target=\"_blank\">[4]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Implicaciones para el diseño de herramientas educativas</h2>\n    <p>Los hallazgos anteriores evidencian la necesidad de que los desarrolladores de IA consideren la etapa evolutiva del niño al diseñar experiencias conversacionales. Existen ya prototipos de asistentes que adaptan el nivel de dificultad del vocabulario o repiten estructuras con fines pedagógicos. También se explora la inclusión de componentes emocionales y reconocimiento de tono de voz, para responder no solo a lo que el niño dice, sino a cómo lo dice <a href=\"https://www.sciencedirect.com/science/article/abs/pii/S0742051X22001017\" target=\"_blank\">[5]</a>.</p>\n\n    <p>Los entornos escolares que integran IA en el aprendizaje del lenguaje también están en fase de estudio. Algunas experiencias piloto en Reino Unido y Canadá muestran mejoras en el vocabulario receptivo y expresivo cuando se utiliza IA como herramienta complementaria, especialmente en alumnos con necesidades educativas especiales o barreras idiomáticas.</p>\n  </div>\n\n</body>\n</html>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        1200
      ],
      "id": "e86c6f32-802a-4d49-8d3b-952823abc0e5",
      "name": "Agente3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo: {{ $('Split Out5').item.json.title }}\n\nInvestigación: \n{{ $('Split Out5').item.json.content }}\n\nFuente:\n{{ $json.numberedUrl }}\n\nGuia de ejemplo:\n{{ $('Switch').first().json['Introducción'] }}",
        "options": {
          "systemMessage": "=Eres un asistente de investigación basado en inteligencia artificial, experto en redactar informes profesionales en HTML. A partir de un título, una investigación, fuentes y una guía de estilo proporcionada, tu misión es generar un informe en HTML visualmente atractivo y coherente que transmita la información de forma densa, rigurosa y natural, como si fuera el resultado de una investigación profunda.\n\n---\n\n## Instrucciones para la Generación del Informe\n\n### 1. Guía de Estilo\n- Debes seguir de forma estricta la guía de estilo HTML proporcionada.\n- Asegura consistencia en colores, tipografías, espaciado, estructura visual y estilos generales.\n\n### 2. Formato del Informe\n- El informe debe estar completamente estructurado en HTML profesional.\n- Debe incluir:\n  - **Título** como `<h1>`: Se proporciona en el campo “Title”.\n  - **Contenido principal** dividido en secciones temáticas con `<h2>`, `<h3>` y `<p>`.\n  - Cada sección debe ir envuelta dentro de un `<div>` con clase `report-section`, utilizando los estilos dados para mantener coherencia visual.\n  - Usa `<p>` para párrafos, `<ul>/<ol>` para listas, y `<hr>` para dividir bloques temáticos si es necesario.\n- **No utilices encabezados genéricos como \"Introducción\", \"Key Findings\" o \"Conclusión\"**. No debe parecer una redacción escolar ni una plantilla repetitiva.\n- La organización debe ser lógica y natural, fluyendo de un tema a otro, sin necesidad de encasillarlo todo en estructuras rígidas.\n\n### 3. Contenido de Investigación\n- Extrae **información profunda, relevante y detallada**, evitando cualquier enfoque superficial o resumen general.\n- El texto debe ser denso y técnico, como si estuviera escrito por un experto en el tema que busca transmitir conocimiento real.\n- No incluyas párrafos innecesarios para contextualizar de forma genérica. Ve directo al contenido útil, explicativo y con sustancia. Quiero que seas muy detallado con las explicaciones. Extiendete tanto como sea necesario.\n- Evita conclusiones formales o frases de cierre. El texto debe sentirse como una exposición continua de hallazgos o hechos investigados.\n\n### 4. Referencias\n- Las fuentes deben citarse **en línea** con un número entre corchetes y ser clickables.\n- Formato del enlace:  \n  `<a href=\"SOURCE_URL\" target=\"_blank\">[n]</a>`\n- No incluyas sección de \"Referencias\". Toda cita debe ir integrada en el texto.\n\n### 5. Completado del Título\n- Si el campo \"Title\" está incompleto o contiene puntos suspensivos (...), completa el título a partir del contenido de la fuente.\n\n\n---\n\n## Ejemplo de Salida en HTML (Aplicando la Guía de Estilo)\n\n<!DOCTYPE html>\n<html>\n<head>\n  <title>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</title>\n  <style>\n    body {\n      font-family: \"Arial\", serif;\n      line-height: 1.8;\n      margin: 20px;\n      background-color: transparent;\n      color: #2c2c2c;\n    }\n\n    h1, h2, h3 {\n      font-family: \"Arial\", sans-serif;\n      color: #1a355d;\n    }\n\n    h1 {\n      font-size: 32px;\n      text-align: center;\n      margin-bottom: 40px;\n    }\n\n    h2 {\n      font-size: 28px;\n      margin-bottom: 30px;\n    }\n\n    h3 {\n      font-size: 22px;\n      margin-top: 25px;\n    }\n\n    .report-section {\n      max-width: 900px;\n      margin: 0 auto 50px auto;\n      padding: 0;\n      font-size: 18px;\n    }\n\n    p {\n      text-align: justify;\n      text-indent: 30px;\n      margin-bottom: 20px;\n    }\n\n    hr {\n      border: none;\n      height: 1px;\n      background-color: #ddd;\n      margin: 30px 0;\n    }\n\n    a {\n      color: #1a355d;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"report-section\">\n    <h1>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</h1>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Modelos conversacionales como estímulo lingüístico</h2>\n    <p>El uso de asistentes virtuales y dispositivos con inteligencia artificial (IA) en entornos domésticos ha introducido nuevas formas de interacción verbal para los niños. Estudios recientes sugieren que los sistemas de IA basados en lenguaje natural pueden ofrecer estímulos lingüísticos complementarios, especialmente en hogares con menor acceso a entornos de alta estimulación verbal <a href=\"https://www.frontiersin.org/articles/10.3389/feduc.2023.1234567/full\" target=\"_blank\">[1]</a>. Estos dispositivos, si bien no reemplazan el rol del cuidador, amplían el repertorio auditivo y exponen a los niños a estructuras gramaticales y vocabulario nuevo, especialmente en edades tempranas.</p>\n\n    <p>Sin embargo, los modelos actuales presentan limitaciones en cuanto al ajuste al nivel de desarrollo del niño. A diferencia de un adulto que adapta su lenguaje en función de la edad, los sistemas de IA tienden a mantener un lenguaje estándar o avanzado, lo que podría generar desajustes en la comprensión y frustración si no se supervisa adecuadamente <a href=\"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9876543/\" target=\"_blank\">[2]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Exposición pasiva vs. interacción activa</h2>\n    <p>Un punto clave en la discusión es la diferencia entre exposición pasiva (escuchar sin responder) e interacción activa (diálogo). La investigación neurolingüística ha demostrado que el desarrollo del lenguaje se potencia más a través del intercambio que de la escucha unilateral. Algunos dispositivos con IA han comenzado a incluir respuestas diseñadas para promover turnos conversacionales, pero la mayoría aún no logra una conversación bidireccional adaptada al contexto real del niño <a href=\"https://journals.sagepub.com/doi/full/10.1177/09567976221098765\" target=\"_blank\">[3]</a>.</p>\n\n    <p>Los datos también muestran diferencias entre clases sociales: en entornos con menor capital cultural, la IA puede ser vista como sustituto educativo, mientras que en familias con más recursos se percibe como herramienta de apoyo complementaria, lo que amplifica brechas preexistentes <a href=\"https://edtechhub.org/ai-early-years\" target=\"_blank\">[4]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Implicaciones para el diseño de herramientas educativas</h2>\n    <p>Los hallazgos anteriores evidencian la necesidad de que los desarrolladores de IA consideren la etapa evolutiva del niño al diseñar experiencias conversacionales. Existen ya prototipos de asistentes que adaptan el nivel de dificultad del vocabulario o repiten estructuras con fines pedagógicos. También se explora la inclusión de componentes emocionales y reconocimiento de tono de voz, para responder no solo a lo que el niño dice, sino a cómo lo dice <a href=\"https://www.sciencedirect.com/science/article/abs/pii/S0742051X22001017\" target=\"_blank\">[5]</a>.</p>\n\n    <p>Los entornos escolares que integran IA en el aprendizaje del lenguaje también están en fase de estudio. Algunas experiencias piloto en Reino Unido y Canadá muestran mejoras en el vocabulario receptivo y expresivo cuando se utiliza IA como herramienta complementaria, especialmente en alumnos con necesidades educativas especiales o barreras idiomáticas.</p>\n  </div>\n\n</body>\n</html>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        1740
      ],
      "id": "45b9eaf7-0fdc-4033-9c1e-ae99e491d7ed",
      "name": "Agente4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo: {{ $('Split Out6').item.json.title }}\n\nInvestigación: \n{{ $('Split Out6').item.json.content }}\n\nFuente:\n{{ $json.numberedUrl }}\n\nGuia de ejemplo:\n{{ $('Switch').first().json['Introducción'] }}",
        "options": {
          "systemMessage": "=Eres un asistente de investigación basado en inteligencia artificial, experto en redactar informes profesionales en HTML. A partir de un título, una investigación, fuentes y una guía de estilo proporcionada, tu misión es generar un informe en HTML visualmente atractivo y coherente que transmita la información de forma densa, rigurosa y natural, como si fuera el resultado de una investigación profunda.\n\n---\n\n## Instrucciones para la Generación del Informe\n\n### 1. Guía de Estilo\n- Debes seguir de forma estricta la guía de estilo HTML proporcionada.\n- Asegura consistencia en colores, tipografías, espaciado, estructura visual y estilos generales.\n\n### 2. Formato del Informe\n- El informe debe estar completamente estructurado en HTML profesional.\n- Debe incluir:\n  - **Título** como `<h1>`: Se proporciona en el campo “Title”.\n  - **Contenido principal** dividido en secciones temáticas con `<h2>`, `<h3>` y `<p>`.\n  - Cada sección debe ir envuelta dentro de un `<div>` con clase `report-section`, utilizando los estilos dados para mantener coherencia visual.\n  - Usa `<p>` para párrafos, `<ul>/<ol>` para listas, y `<hr>` para dividir bloques temáticos si es necesario.\n- **No utilices encabezados genéricos como \"Introducción\", \"Key Findings\" o \"Conclusión\"**. No debe parecer una redacción escolar ni una plantilla repetitiva.\n- La organización debe ser lógica y natural, fluyendo de un tema a otro, sin necesidad de encasillarlo todo en estructuras rígidas.\n\n### 3. Contenido de Investigación\n- Extrae **información profunda, relevante y detallada**, evitando cualquier enfoque superficial o resumen general.\n- El texto debe ser denso y técnico, como si estuviera escrito por un experto en el tema que busca transmitir conocimiento real.\n- No incluyas párrafos innecesarios para contextualizar de forma genérica. Ve directo al contenido útil, explicativo y con sustancia. Quiero que seas muy detallado con las explicaciones. Extiendete tanto como sea necesario.\n- Evita conclusiones formales o frases de cierre. El texto debe sentirse como una exposición continua de hallazgos o hechos investigados.\n\n### 4. Referencias\n- Las fuentes deben citarse **en línea** con un número entre corchetes y ser clickables.\n- Formato del enlace:  \n  `<a href=\"SOURCE_URL\" target=\"_blank\">[n]</a>`\n- No incluyas sección de \"Referencias\". Toda cita debe ir integrada en el texto.\n\n### 5. Completado del Título\n- Si el campo \"Title\" está incompleto o contiene puntos suspensivos (...), completa el título a partir del contenido de la fuente.\n\n\n---\n\n## Ejemplo de Salida en HTML (Aplicando la Guía de Estilo)\n\n<!DOCTYPE html>\n<html>\n<head>\n  <title>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</title>\n  <style>\n    body {\n      font-family: \"Arial\", serif;\n      line-height: 1.8;\n      margin: 20px;\n      background-color: transparent;\n      color: #2c2c2c;\n    }\n\n    h1, h2, h3 {\n      font-family: \"Arial\", sans-serif;\n      color: #1a355d;\n    }\n\n    h1 {\n      font-size: 32px;\n      text-align: center;\n      margin-bottom: 40px;\n    }\n\n    h2 {\n      font-size: 28px;\n      margin-bottom: 30px;\n    }\n\n    h3 {\n      font-size: 22px;\n      margin-top: 25px;\n    }\n\n    .report-section {\n      max-width: 900px;\n      margin: 0 auto 50px auto;\n      padding: 0;\n      font-size: 18px;\n    }\n\n    p {\n      text-align: justify;\n      text-indent: 30px;\n      margin-bottom: 20px;\n    }\n\n    hr {\n      border: none;\n      height: 1px;\n      background-color: #ddd;\n      margin: 30px 0;\n    }\n\n    a {\n      color: #1a355d;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"report-section\">\n    <h1>Impacto de la Inteligencia Artificial en el Desarrollo del Lenguaje Infantil</h1>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Modelos conversacionales como estímulo lingüístico</h2>\n    <p>El uso de asistentes virtuales y dispositivos con inteligencia artificial (IA) en entornos domésticos ha introducido nuevas formas de interacción verbal para los niños. Estudios recientes sugieren que los sistemas de IA basados en lenguaje natural pueden ofrecer estímulos lingüísticos complementarios, especialmente en hogares con menor acceso a entornos de alta estimulación verbal <a href=\"https://www.frontiersin.org/articles/10.3389/feduc.2023.1234567/full\" target=\"_blank\">[1]</a>. Estos dispositivos, si bien no reemplazan el rol del cuidador, amplían el repertorio auditivo y exponen a los niños a estructuras gramaticales y vocabulario nuevo, especialmente en edades tempranas.</p>\n\n    <p>Sin embargo, los modelos actuales presentan limitaciones en cuanto al ajuste al nivel de desarrollo del niño. A diferencia de un adulto que adapta su lenguaje en función de la edad, los sistemas de IA tienden a mantener un lenguaje estándar o avanzado, lo que podría generar desajustes en la comprensión y frustración si no se supervisa adecuadamente <a href=\"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9876543/\" target=\"_blank\">[2]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Exposición pasiva vs. interacción activa</h2>\n    <p>Un punto clave en la discusión es la diferencia entre exposición pasiva (escuchar sin responder) e interacción activa (diálogo). La investigación neurolingüística ha demostrado que el desarrollo del lenguaje se potencia más a través del intercambio que de la escucha unilateral. Algunos dispositivos con IA han comenzado a incluir respuestas diseñadas para promover turnos conversacionales, pero la mayoría aún no logra una conversación bidireccional adaptada al contexto real del niño <a href=\"https://journals.sagepub.com/doi/full/10.1177/09567976221098765\" target=\"_blank\">[3]</a>.</p>\n\n    <p>Los datos también muestran diferencias entre clases sociales: en entornos con menor capital cultural, la IA puede ser vista como sustituto educativo, mientras que en familias con más recursos se percibe como herramienta de apoyo complementaria, lo que amplifica brechas preexistentes <a href=\"https://edtechhub.org/ai-early-years\" target=\"_blank\">[4]</a>.</p>\n  </div>\n\n  <div class=\"report-section\">\n    <h2>Implicaciones para el diseño de herramientas educativas</h2>\n    <p>Los hallazgos anteriores evidencian la necesidad de que los desarrolladores de IA consideren la etapa evolutiva del niño al diseñar experiencias conversacionales. Existen ya prototipos de asistentes que adaptan el nivel de dificultad del vocabulario o repiten estructuras con fines pedagógicos. También se explora la inclusión de componentes emocionales y reconocimiento de tono de voz, para responder no solo a lo que el niño dice, sino a cómo lo dice <a href=\"https://www.sciencedirect.com/science/article/abs/pii/S0742051X22001017\" target=\"_blank\">[5]</a>.</p>\n\n    <p>Los entornos escolares que integran IA en el aprendizaje del lenguaje también están en fase de estudio. Algunas experiencias piloto en Reino Unido y Canadá muestran mejoras en el vocabulario receptivo y expresivo cuando se utiliza IA como herramienta complementaria, especialmente en alumnos con necesidades educativas especiales o barreras idiomáticas.</p>\n  </div>\n\n</body>\n</html>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1200,
        2380
      ],
      "id": "b2801080-d876-406b-ba98-600e3db5a285",
      "name": "Agente5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3da6558a-6372-44f9-8d5a-f18bfe6e1c16",
              "name": "temas",
              "value": "=[ 'tema_1', 'tema_2', 'tema_3', 'tema_4', 'tema_5']",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        980
      ],
      "id": "2be918df-ac4e-463a-aa77-8135dad51f18",
      "name": "Temas"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E",
          "mode": "list",
          "cachedResultName": "Investigación Profunda ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RNsgyCGicz4tzzrZWnnoNyS_lDmTMNenRfCkXpDOw_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $('On form submission').item.json.Tema }}",
            "Título": "={{ $json.output.Titulo }}",
            "Introducción": "={{ $json.output.Introduccion }}",
            "Capitulo 1": "={{ $json.output.capitulo_1 }}",
            "Capitulo 2": "={{ $json.output.capitulo_2 }}",
            "Capitulo 3": "={{ $json.output.capitulo_3 }}",
            "Capitulo 4": "={{ $json.output.capitulo_4 }}",
            "Capitulo 5": "={{ $json.output.capitulo_5 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Introducción",
              "displayName": "Introducción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capitulo 1",
              "displayName": "Capitulo 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capitulo 2",
              "displayName": "Capitulo 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capitulo 3",
              "displayName": "Capitulo 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capitulo 4",
              "displayName": "Capitulo 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capitulo 5",
              "displayName": "Capitulo 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 1 Fuentes",
              "displayName": "Tema 1 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 1 secciones",
              "displayName": "Tema 1 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 1 contenido",
              "displayName": "Tema 1 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 2 Fuentes",
              "displayName": "Tema 2 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 2 secciones",
              "displayName": "Tema 2 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 2 contenido",
              "displayName": "Tema 2 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 Fuentes",
              "displayName": "Tema 3 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 secciones",
              "displayName": "Tema 3 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 3 contenido",
              "displayName": "Tema 3 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 Fuentes",
              "displayName": "Tema 4 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 secciones",
              "displayName": "Tema 4 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 4 contenido",
              "displayName": "Tema 4 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 Fuentes",
              "displayName": "Tema 5 Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 secciones",
              "displayName": "Tema 5 secciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema 5 contenido",
              "displayName": "Tema 5 contenido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fuentes",
              "displayName": "Fuentes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Indice",
              "displayName": "Indice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        1480
      ],
      "id": "8c107b48-d05e-4c23-a712-56072826354e",
      "name": "Enviar intro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae7wYVNQMP6fIWzo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Creación subtemas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Intro": {
      "main": [
        [
          {
            "node": "Enviar intro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Intro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Agente1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Obtener fuentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Fuentes",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Indice",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Titulo, intro y capitulos": {
      "ai_outputParser": [
        [
          {
            "node": "Intro",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate10": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Agente2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Aggregate11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate11": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tavily2": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Agente3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Aggregate12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate12": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Tavily3": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Agente4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Aggregate13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate13": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Tavily4": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Agente5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML4": {
      "main": [
        [
          {
            "node": "Aggregate14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate14": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Combinar contenido": {
      "main": [
        [
          {
            "node": "Make",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Sub-Temas": {
      "ai_outputParser": [
        [
          {
            "node": "Creación subtemas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Creación subtemas": {
      "main": [
        [
          {
            "node": "Intro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Temas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Agente3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agente4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Creación subtemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indice": {
      "main": [
        [
          {
            "node": "Enviar indice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener contenido": {
      "main": [
        [
          {
            "node": "Combinar contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar indice": {
      "main": [
        [
          {
            "node": "Obtener contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener contenido1": {
      "main": [
        [
          {
            "node": "Indice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar fuentes": {
      "main": [
        [
          {
            "node": "Obtener contenido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener fuentes": {
      "main": [
        [
          {
            "node": "Fuentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fuentes": {
      "main": [
        [
          {
            "node": "Enviar fuentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente3": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente4": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente5": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Temas": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar intro": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Tema": "Como la inteligencia artificial y las automatizaciones están afectando a las empresas",
          "Correo electrónico": "angel.aparicio92@gmail.com",
          "submittedAt": "2025-04-03T07:12:24.720-03:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "01e760a2-7be8-4e86-8024-10c5f82a5f3f",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-23T20:54:02.682Z",
      "updatedAt": "2025-04-23T20:54:02.682Z",
      "id": "sPdc51YFSDyYeZsT",
      "name": "Averis"
    },
    {
      "createdAt": "2025-04-23T21:05:19.996Z",
      "updatedAt": "2025-04-23T21:05:19.996Z",
      "id": "ekYlDBdfPctD52dx",
      "name": "Multiagentes"
    },
    {
      "createdAt": "2025-04-23T21:05:56.836Z",
      "updatedAt": "2025-04-23T21:05:56.836Z",
      "id": "un12sbhePhxJnVCJ",
      "name": "Investigación"
    }
  ]
}